In [15]:
from pyspark.sql import SparkSession
from pyspark.sql import Row
from functools import reduce
from pyspark.sql import DataFrame
from pyspark.sql.types import StringType,DoubleType,FloatType
from pyspark.sql.functions import udf
from pyspark.sql.functions import regexp_replace
import locale
import sys
import os
import re

In [16]:
sc

In [17]:
spark

# Leyendo lista de Colegios y Estudiantes

In [18]:
base = '../Colegios'
base2 = '../SB'
colegios = os.listdir('../Colegios')
estudiantes = os.listdir('../SB')

In [19]:
estudiantes.sort()
colegios.sort()
estuDic = {}
coleDic = {}
for estu in estudiantes:
    estuDic[re.findall('\d+', estu)[1]] = estu

for colegio in colegios:
    coleDic[re.findall('\d+', colegio)[1]] = colegio

In [20]:
# Funciòn para unir cualquier nùmero de dataframes con la misma estructura 
def unionAll(*dfs):
    return reduce(DataFrame.unionAll, dfs)

In [21]:
print("Archivos de estudiantes: ", estuDic['20081'],estuDic['20082'])
print("Archivos de colegios: ",coleDic['2008'])

Archivos de estudiantes:  SB11_20081.txt SB11_20082.txt
Archivos de colegios:  SB11-CLASIFI-PLANTELES-2008.txt

In [22]:
columnasPuntos = [
 'cole_cod_dane_institucion',
 'cole_nombre_sede',
 'punt_lenguaje',
 'punt_matematicas',
 'punt_c_sociales',
 'punt_filosofia',
 'punt_biologia',
 'punt_quimica',
 'punt_fisica',
 'punt_ingles',
 'punt_profundizacion',
 'punt_interdisciplinar']

In [23]:
# SE leen los dos archivos y se crean dos dataframes
df1 = spark.read.load(base2 + '/' + estuDic['20081'],"com.databricks.spark.csv",header='true',inferSchema='true',sep='¬').select(columnasPuntos)
df2 = spark.read.load(base2 + '/' + estuDic['20082'],"com.databricks.spark.csv",header='true',inferSchema='true',sep='¬').select(columnasPuntos)

In [24]:
# SE unen los dos dataframes
columnasPuntosc = [
 'punt_lenguaje',
 'punt_matematicas',
 'punt_c_sociales',
 'punt_filosofia',
 'punt_biologia',
 'punt_quimica',
 'punt_fisica',
 'punt_ingles',
 'punt_profundizacion',
 'punt_interdisciplinar']
df = unionAll(df1,df2)
for cp in columnasPuntosc:
    df = df.withColumn(cp, regexp_replace(cp, ',', '.'))
    df = df.withColumn(cp, df[cp].cast("float"))

df = df.na.fill({'cole_cod_dane_institucion':'--'})
df = df.na.fill({'cole_nombre_sede':'--'})

df1 = df2 = None

In [25]:
# SE evalua sí tiene valores nullos
print("Nùmero de filas con cole_cod_dane_institucion nulos: ", df.filter("cole_cod_dane_institucion = '--'").count())
print("Nùmero de filas con cole_nombre_sede nulos: ", df.filter("cole_nombre_sede = '--'").count())

Nùmero de filas con cole_cod_dane_institucion nulos:  6390
Nùmero de filas con cole_nombre_sede nulos:  0

In [26]:
print(df.printSchema())

root
 |-- cole_cod_dane_institucion: string (nullable = false)
 |-- cole_nombre_sede: string (nullable = false)
 |-- punt_lenguaje: float (nullable = true)
 |-- punt_matematicas: float (nullable = true)
 |-- punt_c_sociales: float (nullable = true)
 |-- punt_filosofia: float (nullable = true)
 |-- punt_biologia: float (nullable = true)
 |-- punt_quimica: float (nullable = true)
 |-- punt_fisica: float (nullable = true)
 |-- punt_ingles: float (nullable = true)
 |-- punt_profundizacion: float (nullable = true)
 |-- punt_interdisciplinar: float (nullable = true)

None

In [27]:
# Contando el numero de estudiantes por instituciòn y mostrandola de forma descendente
dsCountEst = df.groupBy('cole_nombre_sede').count().orderBy('count',ascending=
False)

In [28]:
dsCountEst = dsCountEst.withColumnRenamed("count","num_est")
dsCountEst.show(10,False)

+----------------------------------------------------------------------------------------------------+-------+
|cole_nombre_sede                                                                                    |num_est|
+----------------------------------------------------------------------------------------------------+-------+
|INST EDUC CEFA                                                                                      |1156   |
|INSTITUTO TECNICO INDUSTRIAL                                                                        |1024   |
|INST EDUC INEM JOSE FELIX DE RESTREPO                                                               |1015   |
|INEM FRANCISCO DE PAULA SANTANDER                                                                   |852    |
|SEDE A - I E TEC INEM CUSTODIO GARCÍA ROVIRA                                                        |761    |
|COL TECNISISTEMAS SEDE SUBA                                                                         |748    |
|JORGE ELIECER GAITAN                                                                                |679    |
|INEM SANTIAGO PEREZ                                                                                 |657    |
|COL DE LA UNIV POTIFICIA BOLIVARIANA                                                                |653    |
|COLEGIO ANTONIO NARIÑO                                                                              |643    |
+----------------------------------------------------------------------------------------------------+-------+
only showing top 10 rows

In [29]:
rowmax = dsCountEst.agg({"num_est": "max"}).collect()[0]
rowmin = dsCountEst.agg({"num_est": "min"}).collect()[0]

num_est_max = rowmax["max(num_est)"]
num_est_min = rowmin["min(num_est)"]

print("Numero màximo de estudiantes: ",num_est_max)
print("Numero mìnimo de estudiantes: ",num_est_min)

Numero màximo de estudiantes:  1156
Numero mìnimo de estudiantes:  1

In [30]:
#Se crea una columna con el total de los puntajes   
df= df.withColumn("Suma",df['punt_lenguaje']+df['punt_matematicas']+df['punt_c_sociales']+
                     df['punt_filosofia']+df['punt_biologia']+df['punt_quimica']+df['punt_fisica']+
                     df['punt_ingles']+df['punt_profundizacion']+df['punt_interdisciplinar'])

## Resultados finales por instituciòn

In [31]:
# Còdigo para obtener la media de los resultados de las evaluaciones de todos los estudiantes por instituciòn 
# y posiciòn en orden descendente.
from pyspark.sql.functions import *
from pyspark.sql.window import Window

#df = df.groupBy('cole_cod_dane_institucion','cole_nombre_sede').mean()
df = df.groupBy('cole_nombre_sede').mean()

rowprommax = df.agg({"avg(Suma)": "max"}).collect()[0]
rowprommin = df.agg({"avg(Suma)": "min"}).collect()[0]

prom_est_max = rowprommax["max(avg(Suma))"]
prom_est_min = rowprommin["min(avg(Suma))"]

print("Màxima calificaciòn en colegios: ", prom_est_max)
print("Mìxima calificaciòn en colegios: ", prom_est_min)

Màxima calificaciòn en colegios:  596.1134561391978
Mìxima calificaciòn en colegios:  306.85666910807294

## Creación de Indices de evaluación
$Indice\_Prom = \frac{avg(Suma)}{max(avg(Suma))}$&nbsp;&nbsp;
$0 < Indice\_Prom \leq 1$

$Indice\_Num = \frac{num\_est}{max(num\_est)}$&nbsp;&nbsp;
$0 < Indice\_Num \leq 1$

$Indice\_Total = Indice\_Prom \times Indice\_Num$&nbsp;&nbsp;
$0 < Indice\_Total \leq 1 $

$Indice\_Total$: tiene en consideraciòn el promedio de las calificaciones y el nùmero de estudiantes

In [32]:
dfjoin = df.join(dsCountEst,"cole_nombre_sede")
dfjoin= dfjoin.withColumn("Indice_Prom",round(dfjoin['avg(Suma)']/prom_est_max,3))
dfjoin= dfjoin.withColumn("Indice_Num",round(dfjoin['num_est']/num_est_max,3))
dfjoin= dfjoin.withColumn("Indice_Total",round(dfjoin['Indice_Prom']*dfjoin['Indice_Num'],3))

In [33]:
dfjoin.printSchema()

root
 |-- cole_nombre_sede: string (nullable = false)
 |-- avg(punt_lenguaje): double (nullable = true)
 |-- avg(punt_matematicas): double (nullable = true)
 |-- avg(punt_c_sociales): double (nullable = true)
 |-- avg(punt_filosofia): double (nullable = true)
 |-- avg(punt_biologia): double (nullable = true)
 |-- avg(punt_quimica): double (nullable = true)
 |-- avg(punt_fisica): double (nullable = true)
 |-- avg(punt_ingles): double (nullable = true)
 |-- avg(punt_profundizacion): double (nullable = true)
 |-- avg(punt_interdisciplinar): double (nullable = true)
 |-- avg(Suma): double (nullable = true)
 |-- num_est: long (nullable = false)
 |-- Indice_Prom: double (nullable = true)
 |-- Indice_Num: double (nullable = true)
 |-- Indice_Total: double (nullable = true)

In [34]:
dfjoin = dfjoin.select('cole_nombre_sede','avg(Suma)','num_est','Indice_Prom','Indice_Num','Indice_Total')
dfjoin = dfjoin.withColumn("rankProm", dense_rank().over(Window.orderBy(desc("Indice_Prom"))))
dfjoin = dfjoin.withColumn("rankNum", dense_rank().over(Window.orderBy(desc("Indice_Num"))))
dfjoin = dfjoin.withColumn("rankTotal", dense_rank().over(Window.orderBy(desc("Indice_Total"))))
dfjoin = dfjoin.withColumn("Media",round(dfjoin['avg(Suma)'],2))
dfjoin.printSchema()

root
 |-- cole_nombre_sede: string (nullable = false)
 |-- avg(Suma): double (nullable = true)
 |-- num_est: long (nullable = false)
 |-- Indice_Prom: double (nullable = true)
 |-- Indice_Num: double (nullable = true)
 |-- Indice_Total: double (nullable = true)
 |-- rankProm: integer (nullable = true)
 |-- rankNum: integer (nullable = true)
 |-- rankTotal: integer (nullable = true)
 |-- Media: double (nullable = true)

In [35]:
# Se ordena por Indice_Prom
dfjoin = dfjoin.orderBy('rankProm',ascending= True)
dfjoin.select('cole_nombre_sede','Media','Indice_Prom','num_est','rankProm','rankNum','rankTotal').show(10)

+--------------------+------+-----------+-------+--------+-------+---------+
|    cole_nombre_sede| Media|Indice_Prom|num_est|rankProm|rankNum|rankTotal|
+--------------------+------+-----------+-------+--------+-------+---------+
|GIMN VERMONT     ...|596.11|        1.0|     26|       1|    323|      234|
|COL SAN CARLOS   ...|591.92|      0.993|    108|       2|    252|      164|
|COL LOS NOGALES  ...|583.85|      0.979|     46|       3|    305|      217|
|COLEGIO MARYMOUNT...|580.58|      0.974|     75|       4|    280|      193|
|COL LA QUINTA DEL...|579.83|      0.973|     29|       5|    320|      232|
|COL SAN JORGE DE ...|574.37|      0.964|     79|       6|    277|      190|
|COL SANTA FRANCIS...|571.93|      0.959|     54|       7|    298|      211|
|COL ITALIANO LEON...|571.29|      0.958|     53|       8|    299|      212|
|GIMN DE LOS CERRO...|570.24|      0.957|     50|       9|    302|      215|
|     GIMN LA MONTAÑA| 569.1|      0.955|     47|      10|    304|      217|
+--------------------+------+-----------+-------+--------+-------+---------+
only showing top 10 rows

In [36]:
dfjoin = dfjoin.orderBy('rankNum',ascending= True)
dfjoin.select('cole_nombre_sede','Media','Indice_Num','num_est','rankProm','rankNum','rankTotal').show(10)

+--------------------+------+----------+-------+--------+-------+---------+
|    cole_nombre_sede| Media|Indice_Num|num_est|rankProm|rankNum|rankTotal|
+--------------------+------+----------+-------+--------+-------+---------+
|      INST EDUC CEFA|419.06|       1.0|   1156|     229|      1|        1|
|INSTITUTO TECNICO...|408.51|     0.886|   1024|     247|      2|        3|
|INST EDUC INEM JO...|415.53|     0.878|   1015|     235|      3|        2|
|INEM FRANCISCO DE...|408.57|     0.737|    852|     247|      4|        4|
|SEDE A - I E TEC ...|411.47|     0.658|    761|     242|      5|        5|
|COL TECNISISTEMAS...|389.86|     0.647|    748|     278|      6|        7|
|JORGE ELIECER GAITAN|395.04|     0.587|    679|     269|      7|        9|
| INEM SANTIAGO PEREZ|407.85|     0.568|    657|     248|      8|        9|
|COL DE LA UNIV PO...|464.84|     0.565|    653|     152|      9|        6|
|COLEGIO ANTONIO N...|381.71|     0.556|    643|     292|     10|       10|
+--------------------+------+----------+-------+--------+-------+---------+
only showing top 10 rows

In [37]:
# Se ordena por Indice_Total
dfjoin = dfjoin.orderBy('rankTotal',ascending= True)
dfjoin.select('cole_nombre_sede','Media','Indice_Total','num_est','rankProm','rankNum','rankTotal').show(10)

+--------------------+------+------------+-------+--------+-------+---------+
|    cole_nombre_sede| Media|Indice_Total|num_est|rankProm|rankNum|rankTotal|
+--------------------+------+------------+-------+--------+-------+---------+
|      INST EDUC CEFA|419.06|       0.703|   1156|     229|      1|        1|
|INST EDUC INEM JO...|415.53|       0.612|   1015|     235|      3|        2|
|INSTITUTO TECNICO...|408.51|       0.607|   1024|     247|      2|        3|
|INEM FRANCISCO DE...|408.57|       0.505|    852|     247|      4|        4|
|SEDE A - I E TEC ...|411.47|       0.454|    761|     242|      5|        5|
|COL DE LA UNIV PO...|464.84|       0.441|    653|     152|      9|        6|
|COL TECNISISTEMAS...|389.86|       0.423|    748|     278|      6|        7|
|LIC SALAZAR Y HER...|442.41|       0.404|    629|     190|     11|        8|
|JORGE ELIECER GAITAN|395.04|       0.389|    679|     269|      7|        9|
| INEM SANTIAGO PEREZ|407.85|       0.389|    657|     248|      8|        9|
+--------------------+------+------------+-------+--------+-------+---------+
only showing top 10 rows

## Colegios

In [18]:
# se crea un dataframe con una columna que lo señala el año 2006.
from pyspark.sql.functions import lit
df = df.withColumn('año',lit(2008))
df.show(5,False)

+-------------------------+------------------+---------------------+--------------------+-------------------+------------------+------------------+------------------+-----------------+------------------------+--------------------------+-----------------+----+----+
|cole_cod_dane_institucion|avg(punt_lenguaje)|avg(punt_matematicas)|avg(punt_c_sociales)|avg(punt_filosofia)|avg(punt_biologia)|avg(punt_quimica) |avg(punt_fisica)  |avg(punt_ingles) |avg(punt_profundizacion)|avg(punt_interdisciplinar)|avg(Suma)        |rank|año |
+-------------------------+------------------+---------------------+--------------------+-------------------+------------------+------------------+------------------+-----------------+------------------------+--------------------------+-----------------+----+----+
|311848000278             |63.33923031733586 |75.28846285893367    |58.86615430391752   |67.3742320720966   |64.95115382854755 |62.65769166212816 |59.681923352755035|79.44307826115535|6.247692291553204       |58.263845883882965        |596.1134561391978|1   |2008|
|311848002424             |61.831666275306986|76.08259321142125    |58.6751853801586    |60.91259320576986  |59.461944615399396|60.999351218894674|58.477314719447385|88.71342651932328|6.0927777422799005      |60.67722228721336         |591.9240733959057|2   |2008|
|311769003342             |61.886303860208265|74.31673970429793    |55.827174311098844  |63.253044294274375 |60.323043740313985|58.29434718256412 |57.90543489870818 |89.57347861580227|6.352391305177108       |56.11782621300739         |583.8497792119565|3   |2008|
|308001004209             |62.59053293863932 |70.24093353271485    |61.715734252929686  |57.986533660888675 |59.21840026855469 |57.56239969889323 |57.05626653035482 |91.3640005493164 |6.147733287811279       |56.698000030517576        |580.5805244954427|4   |2008|
|368276000826             |61.07206883923761 |70.9624145770895     |56.52517318725586   |62.52931055529364  |59.34965515136719 |58.92999977901064 |57.86344830743198 |85.0600015048323 |6.219999987503578       |61.31482749149717         |579.8268853549299|5   |2008|
+-------------------------+------------------+---------------------+--------------------+-------------------+------------------+------------------+------------------+-----------------+------------------------+--------------------------+-----------------+----+----+
only showing top 5 rows

In [19]:
# SE crea Dataframe de colegios
dfc = spark.read.load(base + '/' + coleDic['2008'],"com.databricks.spark.csv",header='true',inferSchema='true',sep='\t')
dfc = dfc.withColumn('COLE_CODIGO_COLEGIO', dfc['COLE_CODIGO_COLEGIO'].cast("string"))
dfc = dfc.withColumn('COLE_CODMPIO_COLEGIO', dfc['COLE_CODMPIO_COLEGIO'].cast("string"))

In [20]:
print(dfc.printSchema())

root
 |-- COLE_CODIGO_COLEGIO: string (nullable = true)
 |-- COLE_INST_NOMBRE: string (nullable = true)
 |-- COLE_CODMPIO_COLEGIO: string (nullable = true)
 |-- COLE_MPIO_COLEGIO: string (nullable = true)
 |-- COLE_DEPTO_COLEGIO: string (nullable = true)
 |-- COLE_INST_JORNADA: string (nullable = true)
 |-- COLE_CALENDARIO_COLEGIO: string (nullable = true)
 |-- COLE_GENEROPOBLACION: string (nullable = true)
 |-- COLE_NATURALEZA: string (nullable = true)
 |-- COLE_CIENCIAS_SOCIALES: integer (nullable = true)
 |-- COLE_QUIMICA: integer (nullable = true)
 |-- COLE_FISICA: integer (nullable = true)
 |-- COLE_BIOLOGIA: integer (nullable = true)
 |-- COLE_FILOSOFIA: integer (nullable = true)
 |-- COLE_MATEMATICAS: integer (nullable = true)
 |-- COLE_LENGUAJE: integer (nullable = true)
 |-- COLE_INGLES: integer (nullable = true)
 |-- COLE_GEOGRAFIA: string (nullable = true)
 |-- COLE_HISTORIA: string (nullable = true)
 |-- COLE_CATEGORIA: string (nullable = true)
 |-- COLE_ESTUDIANTES_PRESENTES: integer (nullable = true)

None

In [21]:
colsColegio = ['COLE_CODIGO_COLEGIO',
 'COLE_CODMPIO_COLEGIO',
 'COLE_CIENCIAS_SOCIALES',
 'COLE_QUIMICA',
 'COLE_FISICA',
 'COLE_BIOLOGIA',
 'COLE_FILOSOFIA',
 'COLE_MATEMATICAS',
 'COLE_LENGUAJE',
 'COLE_INGLES',
 'COLE_GEOGRAFIA',
 'COLE_HISTORIA']

In [22]:
dfc = dfc.select(colsColegio)

In [23]:
dfc.show(5,False)

+-------------------+--------------------+----------------------+------------+-----------+-------------+--------------+----------------+-------------+-----------+--------------+-------------+
|COLE_CODIGO_COLEGIO|COLE_CODMPIO_COLEGIO|COLE_CIENCIAS_SOCIALES|COLE_QUIMICA|COLE_FISICA|COLE_BIOLOGIA|COLE_FILOSOFIA|COLE_MATEMATICAS|COLE_LENGUAJE|COLE_INGLES|COLE_GEOGRAFIA|COLE_HISTORIA|
+-------------------+--------------------+----------------------+------------+-----------+-------------+--------------+----------------+-------------+-----------+--------------+-------------+
|265                |5001                |8                     |6           |5          |7            |8             |7               |7            |7          |null          |null         |
|273                |5001                |9                     |9           |8          |8            |8             |8               |8            |9          |null          |null         |
|281                |5001                |10                    |10          |9          |9            |8             |9               |9            |12         |null          |null         |
|315                |5001                |8                     |7           |7          |7            |8             |7               |8            |8          |null          |null         |
|349                |5266                |8                     |6           |7          |8            |7             |7               |8            |9          |null          |null         |
+-------------------+--------------------+----------------------+------------+-----------+-------------+--------------+----------------+-------------+-----------+--------------+-------------+
only showing top 5 rows

In [24]:
print("El numero de colegios es: ", dfc.select('COLE_CODIGO_COLEGIO').count())

El numero de colegios es:  10160

## Anàlisis comparativo entre estudiantes y colegios

In [25]:
dfjoin = df.join(dfc, df.cole_cod_dane_institucion == dfc.COLE_CODIGO_COLEGIO)

In [26]:
print("Nùmero de colegios coincidentes entre el archivo de estudiantes y colegios:", dfjoin.count())

Nùmero de colegios coincidentes entre el archivo de estudiantes y colegios: 0

In [27]:
dfjoin = df.join(dfc, df.cole_cod_dane_institucion == dfc.COLE_CODMPIO_COLEGIO)
dfjoin.count()
print("Nùmero de colegios coincidentes entre el archivo de estudiantes y colegios:", dfjoin.count())

Nùmero de colegios coincidentes entre el archivo de estudiantes y colegios: 0

La informaciòn de colegios no coincide con la informaciòn de estudiantes, no existe cole_cod_dane_institucion en el archivo de colegios.