In [12]:
from pyspark.sql import SparkSession
from pyspark.sql import Row
from functools import reduce
from pyspark.sql import DataFrame
from pyspark.sql.types import StringType,DoubleType,FloatType
from pyspark.sql.functions import udf
from pyspark.sql.functions import regexp_replace
import locale
import sys
import os
import re

In [13]:
sc

In [14]:
spark

# Leyendo lista de Colegios y Estudiantes

In [30]:
base = '../Colegios'
base2 = '../SB'
colegios = os.listdir('../Colegios')
estudiantes = os.listdir('../SB')

In [31]:
estudiantes.sort()
colegios.sort()
estuDic = {}
coleDic = {}
for estu in estudiantes:
    estuDic[re.findall('\d+', estu)[1]] = estu

for colegio in colegios:
    coleDic[re.findall('\d+', colegio)[1]] = colegio

In [32]:
# Funciòn para unir cualquier nùmero de dataframes con la misma estructura 
def unionAll(*dfs):
    return reduce(DataFrame.unionAll, dfs)

In [33]:
print("Archivos de estudiantes: ", estuDic['20091'],estuDic['20092'])
print("Archivos de colegios: ",coleDic['2009'])

Archivos de estudiantes:  SB11_20091.txt SB11_20092.txt
Archivos de colegios:  SB11-CLASIFI-PLANTELES-2009.txt

In [45]:
columnasPuntos = [
 'cole_cod_dane_institucion',
 'cole_nombre_sede',
 'punt_lenguaje',
 'punt_matematicas',
 'punt_c_sociales',
 'punt_filosofia',
 'punt_biologia',
 'punt_quimica',
 'punt_fisica',
 'punt_ingles',
 'punt_profundizacion',
 'punt_interdisciplinar']

In [46]:
# SE leen los dos archivos y se crean dos dataframes
df1 = spark.read.load(base2 + '/' + estuDic['20091'],"com.databricks.spark.csv",header='true',inferSchema='true',sep='¬').select(columnasPuntos)
df2 = spark.read.load(base2 + '/' + estuDic['20092'],"com.databricks.spark.csv",header='true',inferSchema='true',sep='¬').select(columnasPuntos)

In [47]:
# SE unen los dos dataframes
columnasPuntosc = [
 'punt_lenguaje',
 'punt_matematicas',
 'punt_c_sociales',
 'punt_filosofia',
 'punt_biologia',
 'punt_quimica',
 'punt_fisica',
 'punt_ingles',
 'punt_profundizacion',
 'punt_interdisciplinar']
df = unionAll(df1,df2)
for cp in columnasPuntosc:
    df = df.withColumn(cp, regexp_replace(cp, ',', '.'))
    df = df.withColumn(cp, df[cp].cast("float"))

df = df.na.fill({'cole_cod_dane_institucion':'--'})
df = df.na.fill({'cole_nombre_sede':'--'})
    
df1 = df2 = None

In [48]:
# SE evalua sí tiene valores nullos
print("Nùmero de filas con cole_cod_dane_institucion nulos: ", df.filter("cole_cod_dane_institucion = '--'").count())
print("Nùmero de filas con cole_nombre_sede nulos: ", df.filter("cole_nombre_sede = '--'").count())

Nùmero de filas con cole_cod_dane_institucion nulos:  5378
Nùmero de filas con cole_nombre_sede nulos:  0

In [49]:
print(df.printSchema())

root
 |-- cole_cod_dane_institucion: string (nullable = false)
 |-- cole_nombre_sede: string (nullable = false)
 |-- punt_lenguaje: float (nullable = true)
 |-- punt_matematicas: float (nullable = true)
 |-- punt_c_sociales: float (nullable = true)
 |-- punt_filosofia: float (nullable = true)
 |-- punt_biologia: float (nullable = true)
 |-- punt_quimica: float (nullable = true)
 |-- punt_fisica: float (nullable = true)
 |-- punt_ingles: float (nullable = true)
 |-- punt_profundizacion: float (nullable = true)
 |-- punt_interdisciplinar: float (nullable = true)

None

In [50]:
# Contando el numero de estudiantes por instituciòn y mostrandola de forma descendente
dsCountEst = df.groupBy('cole_nombre_sede').count().orderBy('count',ascending=
False)

In [51]:
dsCountEst = dsCountEst.withColumnRenamed("count","num_est")
dsCountEst.show(10,False)

+----------------------------------------------------------------------------------------------------+-------+
|cole_nombre_sede                                                                                    |num_est|
+----------------------------------------------------------------------------------------------------+-------+
|INST EDUC CEFA                                                                                      |1062   |
|INSTITUTO TECNICO INDUSTRIAL                                                                        |857    |
|COL TECNISISTEMAS SEDE SUBA                                                                         |826    |
|COLEGIO SAN JOSE F.E.S.S.J.                                                                         |802    |
|CIBERCOLEGIO UCN                                                                                    |763    |
|INST EDUC INEM JOSE FELIX DE RESTREPO                                                               |739    |
|JORGE ELIECER GAITAN                                                                                |729    |
|SEDE A - I E TEC INEM CUSTODIO GARCÍA ROVIRA                                                        |722    |
|INSTITUTO TECNICO PADRE ALVARO GUTIERREZ PAZ Y FUTURO                                               |701    |
|INEM FRANCISCO DE PAULA SANTANDER                                                                   |684    |
+----------------------------------------------------------------------------------------------------+-------+
only showing top 10 rows

In [52]:
rowmax = dsCountEst.agg({"num_est": "max"}).collect()[0]
rowmin = dsCountEst.agg({"num_est": "min"}).collect()[0]

num_est_max = rowmax["max(num_est)"]
num_est_min = rowmin["min(num_est)"]

print("Numero màximo de estudiantes: ",num_est_max)
print("Numero mìnimo de estudiantes: ",num_est_min)

Numero màximo de estudiantes:  1062
Numero mìnimo de estudiantes:  1

In [53]:
#Se crea una columna con el total de los puntajes   
df= df.withColumn("Suma",df['punt_lenguaje']+df['punt_matematicas']+df['punt_c_sociales']+
                     df['punt_filosofia']+df['punt_biologia']+df['punt_quimica']+df['punt_fisica']+
                     df['punt_ingles']+df['punt_profundizacion']+df['punt_interdisciplinar'])

## Resultados finales por instituciòn

In [54]:
# Còdigo para obtener la media de los resultados de las evaluaciones de todos los estudiantes por instituciòn 
# y posiciòn en orden descendente.
from pyspark.sql.functions import *
from pyspark.sql.window import Window

#df = df.groupBy('cole_cod_dane_institucion','cole_nombre_sede').mean()
df = df.groupBy('cole_nombre_sede').mean()

rowprommax = df.agg({"avg(Suma)": "max"}).collect()[0]
rowprommin = df.agg({"avg(Suma)": "min"}).collect()[0]

prom_est_max = rowprommax["max(avg(Suma))"]
prom_est_min = rowprommin["min(avg(Suma))"]

print("Màxima calificaciòn en colegios: ", prom_est_max)
print("Mìxima calificaciòn en colegios: ", prom_est_min)

Màxima calificaciòn en colegios:  598.6423645019531
Mìxima calificaciòn en colegios:  313.68999938964845

## Creación de Indices de evaluación
$Indice\_Prom = \frac{avg(Suma)}{max(avg(Suma))}$&nbsp;&nbsp;
$0 < Indice\_Prom \leq 1$

$Indice\_Num = \frac{num\_est}{max(num\_est)}$&nbsp;&nbsp;
$0 < Indice\_Num \leq 1$

$Indice\_Total = Indice\_Prom \times Indice\_Num$&nbsp;&nbsp;
$0 < Indice\_Total \leq 1 $

$Indice\_Total$: tiene en consideraciòn el promedio de las calificaciones y el nùmero de estudiantes

In [55]:
dfjoin = df.join(dsCountEst,"cole_nombre_sede")
dfjoin= dfjoin.withColumn("Indice_Prom",round(dfjoin['avg(Suma)']/prom_est_max,3))
dfjoin= dfjoin.withColumn("Indice_Num",round(dfjoin['num_est']/num_est_max,3))
dfjoin= dfjoin.withColumn("Indice_Total",round(dfjoin['Indice_Prom']*dfjoin['Indice_Num'],3))

In [56]:
dfjoin.printSchema()

root
 |-- cole_nombre_sede: string (nullable = false)
 |-- avg(punt_lenguaje): double (nullable = true)
 |-- avg(punt_matematicas): double (nullable = true)
 |-- avg(punt_c_sociales): double (nullable = true)
 |-- avg(punt_filosofia): double (nullable = true)
 |-- avg(punt_biologia): double (nullable = true)
 |-- avg(punt_quimica): double (nullable = true)
 |-- avg(punt_fisica): double (nullable = true)
 |-- avg(punt_ingles): double (nullable = true)
 |-- avg(punt_profundizacion): double (nullable = true)
 |-- avg(punt_interdisciplinar): double (nullable = true)
 |-- avg(Suma): double (nullable = true)
 |-- num_est: long (nullable = false)
 |-- Indice_Prom: double (nullable = true)
 |-- Indice_Num: double (nullable = true)
 |-- Indice_Total: double (nullable = true)

In [57]:
dfjoin = dfjoin.select('cole_nombre_sede','avg(Suma)','num_est','Indice_Prom','Indice_Num','Indice_Total')
dfjoin = dfjoin.withColumn("rankProm", dense_rank().over(Window.orderBy(desc("Indice_Prom"))))
dfjoin = dfjoin.withColumn("rankNum", dense_rank().over(Window.orderBy(desc("Indice_Num"))))
dfjoin = dfjoin.withColumn("rankTotal", dense_rank().over(Window.orderBy(desc("Indice_Total"))))
dfjoin = dfjoin.withColumn("Media",round(dfjoin['avg(Suma)'],2))
dfjoin.printSchema()

root
 |-- cole_nombre_sede: string (nullable = false)
 |-- avg(Suma): double (nullable = true)
 |-- num_est: long (nullable = false)
 |-- Indice_Prom: double (nullable = true)
 |-- Indice_Num: double (nullable = true)
 |-- Indice_Total: double (nullable = true)
 |-- rankProm: integer (nullable = true)
 |-- rankNum: integer (nullable = true)
 |-- rankTotal: integer (nullable = true)
 |-- Media: double (nullable = true)

In [58]:
# Se ordena por Indice_Prom
dfjoin = dfjoin.orderBy('rankProm',ascending= True)
dfjoin.select('cole_nombre_sede','Media','Indice_Prom','num_est','rankProm','rankNum','rankTotal').show(10)

+--------------------+------+-----------+-------+--------+-------+---------+
|    cole_nombre_sede| Media|Indice_Prom|num_est|rankProm|rankNum|rankTotal|
+--------------------+------+-----------+-------+--------+-------+---------+
|COL LA QUINTA DEL...|598.64|        1.0|     34|       1|    336|      254|
|GIMN VERMONT     ...|587.86|      0.982|     65|       2|    307|      226|
|COL SAN JORGE DE ...|584.11|      0.976|     71|       3|    301|      221|
|COLEGIO BILINGUE ...|575.11|      0.961|      9|       4|    360|      278|
|COL SAN CARLOS   ...|572.29|      0.956|    103|       5|    271|      193|
|     GIMN LA MONTAÑA|568.73|       0.95|     37|       6|    333|      253|
|COL SANTA FRANCIS...|568.45|       0.95|     52|       6|    319|      239|
|COL LOS NOGALES  ...|566.43|      0.946|     36|       7|    334|      254|
|LIC FRANCES LOUIS...|565.09|      0.944|     80|       8|    293|      215|
|INST ALBERTO MERA...|563.35|      0.941|     19|       9|    350|      269|
+--------------------+------+-----------+-------+--------+-------+---------+
only showing top 10 rows

In [59]:
dfjoin = dfjoin.orderBy('rankNum',ascending= True)
dfjoin.select('cole_nombre_sede','Media','Indice_Num','num_est','rankProm','rankNum','rankTotal').show(10)

+--------------------+------+----------+-------+--------+-------+---------+
|    cole_nombre_sede| Media|Indice_Num|num_est|rankProm|rankNum|rankTotal|
+--------------------+------+----------+-------+--------+-------+---------+
|      INST EDUC CEFA|425.64|       1.0|   1062|     220|      1|        1|
|INSTITUTO TECNICO...|407.54|     0.807|    857|     250|      2|        2|
|COL TECNISISTEMAS...|397.58|     0.778|    826|     267|      3|        3|
|COLEGIO SAN JOSE ...|387.93|     0.755|    802|     283|      4|        5|
|CIBERCOLEGIO UCN ...|372.14|     0.718|    763|     309|      5|        8|
|INST EDUC INEM JO...|426.49|     0.696|    739|     219|      6|        4|
|JORGE ELIECER GAITAN|396.08|     0.686|    729|     269|      7|        7|
|SEDE A - I E TEC ...|414.51|      0.68|    722|     239|      8|        6|
|INSTITUTO TECNICO...|374.54|      0.66|    701|     305|      9|       13|
|INEM FRANCISCO DE...|415.15|     0.644|    684|     238|     10|        9|
+--------------------+------+----------+-------+--------+-------+---------+
only showing top 10 rows

In [60]:
# Se ordena por Indice_Total
dfjoin = dfjoin.orderBy('rankTotal',ascending= True)
dfjoin.select('cole_nombre_sede','Media','Indice_Total','num_est','rankProm','rankNum','rankTotal').show(10)

+--------------------+------+------------+-------+--------+-------+---------+
|    cole_nombre_sede| Media|Indice_Total|num_est|rankProm|rankNum|rankTotal|
+--------------------+------+------------+-------+--------+-------+---------+
|      INST EDUC CEFA|425.64|       0.711|   1062|     220|      1|        1|
|INSTITUTO TECNICO...|407.54|        0.55|    857|     250|      2|        2|
|COL TECNISISTEMAS...|397.58|       0.517|    826|     267|      3|        3|
|INST EDUC INEM JO...|426.49|       0.496|    739|     219|      6|        4|
|COLEGIO SAN JOSE ...|387.93|       0.489|    802|     283|      4|        5|
|SEDE A - I E TEC ...|414.51|       0.471|    722|     239|      8|        6|
|JORGE ELIECER GAITAN|396.08|       0.454|    729|     269|      7|        7|
|CIBERCOLEGIO UCN ...|372.14|       0.447|    763|     309|      5|        8|
|INEM FRANCISCO DE...|415.15|       0.446|    684|     238|     10|        9|
| INEM SANTIAGO PEREZ|412.04|        0.42|    648|     243|     11|       10|
+--------------------+------+------------+-------+--------+-------+---------+
only showing top 10 rows

## Colegios

In [18]:
# se crea un dataframe con una columna que lo señala el año 2006.
from pyspark.sql.functions import lit
df = df.withColumn('año',lit(2009))
df.show(5,False)

+-------------------------+------------------+---------------------+--------------------+-------------------+------------------+------------------+------------------+-----------------+------------------------+--------------------------+-----------------+----+----+
|cole_cod_dane_institucion|avg(punt_lenguaje)|avg(punt_matematicas)|avg(punt_c_sociales)|avg(punt_filosofia)|avg(punt_biologia)|avg(punt_quimica) |avg(punt_fisica)  |avg(punt_ingles) |avg(punt_profundizacion)|avg(punt_interdisciplinar)|avg(Suma)        |rank|año |
+-------------------------+------------------+---------------------+--------------------+-------------------+------------------+------------------+------------------+-----------------+------------------------+--------------------------+-----------------+----+----+
|368276000826             |62.61735287834616 |84.55176499310662    |58.171176573809454  |59.140587862800146 |62.60470659592573 |61.67117702259737 |62.11235315659467 |84.07588207020478|6.905588164049036       |56.79176487642176         |598.6423645019531|1   |2009|
|311848000278             |62.93769202599159 |75.89584632286659    |57.565538670466495  |57.7856923029973   |63.73323147113506 |60.64200011033278 |58.51738516000601 |85.3163080068735 |6.729230756026048       |58.740000680776745        |587.8629319411058|2   |2009|
|311769000165             |65.38352112031319 |79.07816959434831    |56.08845079448861   |56.0367607868893   |61.7959160603268  |60.939014381086324|59.76338072226081 |84.58154925494127|6.446901361707231       |53.99971803477113         |584.1133844080106|3   |2009|
|376001013441             |60.570001390245224|81.48000081380208    |55.134444342719185  |54.65888892279731  |59.401112450493706|58.91333304511176 |59.548888736300995|83.96111128065321|6.179999934302436       |55.25889015197754         |575.106675889757 |4   |2009|
|311848002424             |62.56097115822209 |75.33864100928446    |56.594951703710464  |55.085145857727646 |58.81941837940401 |60.20310692648286 |56.596602430621395|84.58126242183944|6.604368899632426       |55.90873825665817         |572.2932108166149|5   |2009|
+-------------------------+------------------+---------------------+--------------------+-------------------+------------------+------------------+------------------+-----------------+------------------------+--------------------------+-----------------+----+----+
only showing top 5 rows

In [19]:
# SE crea Dataframe de colegios en este año desaparecio la columna COLE_CODMPIO_COLEGIO
dfc = spark.read.load(base + '/' + coleDic['2009'],"com.databricks.spark.csv",header='true',inferSchema='true',sep='\t')
dfc = dfc.withColumn('COLE_CODIGO_COLEGIO', dfc['COLE_CODIGO_COLEGIO'].cast("string"))

In [20]:
print(dfc.printSchema())

root
 |-- COLE_CODIGO_COLEGIO: string (nullable = true)
 |-- COLE_INST_NOMBRE: string (nullable = true)
 |-- COLE_COD_CIUDAD: integer (nullable = true)
 |-- COLE_MPIO_COLEGIO: string (nullable = true)
 |-- COLE_DEPTO_COLEGIO: string (nullable = true)
 |-- COLE_INST_JORNADA: string (nullable = true)
 |-- COLE_CALENDARIO_COLEGIO: string (nullable = true)
 |-- COLE_GENEROPOBLACION: string (nullable = true)
 |-- COLE_NATURALEZA: string (nullable = true)
 |-- COLE_CIENCIAS_SOCIALES: integer (nullable = true)
 |-- COLE_QUIMICA: integer (nullable = true)
 |-- COLE_FISICA: integer (nullable = true)
 |-- COLE_BIOLOGIA: integer (nullable = true)
 |-- COLE_FILOSOFIA: integer (nullable = true)
 |-- COLE_MATEMATICAS: integer (nullable = true)
 |-- COLE_LENGUAJE: integer (nullable = true)
 |-- COLE_INGLES: integer (nullable = true)
 |-- COLE_CATEGORIA: string (nullable = true)
 |-- COLE_ESTUDIANTES_PRESENTES: integer (nullable = true)

None

In [21]:
colsColegio = ['COLE_CODIGO_COLEGIO',
 'COLE_CIENCIAS_SOCIALES',
 'COLE_QUIMICA',
 'COLE_FISICA',
 'COLE_BIOLOGIA',
 'COLE_FILOSOFIA',
 'COLE_MATEMATICAS',
 'COLE_LENGUAJE',
 'COLE_INGLES']

In [22]:
dfc = dfc.select(colsColegio)

In [23]:
dfc.show(5,False)

+-------------------+----------------------+------------+-----------+-------------+--------------+----------------+-------------+-----------+
|COLE_CODIGO_COLEGIO|COLE_CIENCIAS_SOCIALES|COLE_QUIMICA|COLE_FISICA|COLE_BIOLOGIA|COLE_FILOSOFIA|COLE_MATEMATICAS|COLE_LENGUAJE|COLE_INGLES|
+-------------------+----------------------+------------+-----------+-------------+--------------+----------------+-------------+-----------+
|18                 |8                     |8           |7          |8            |7             |7               |7            |9          |
|59                 |8                     |7           |7          |7            |8             |7               |7            |7          |
|75                 |7                     |7           |7          |7            |8             |7               |7            |7          |
|83                 |9                     |8           |7          |8            |9             |8               |8            |9          |
|91                 |9                     |9           |7          |8            |9             |9               |8            |11         |
+-------------------+----------------------+------------+-----------+-------------+--------------+----------------+-------------+-----------+
only showing top 5 rows

In [24]:
print("El numero de colegios es: ", dfc.select('COLE_CODIGO_COLEGIO').count())

El numero de colegios es:  10375

## Anàlisis comparativo entre estudiantes y colegios

In [25]:
dfjoin = df.join(dfc, df.cole_cod_dane_institucion == dfc.COLE_CODIGO_COLEGIO)

In [26]:
print("Nùmero de colegios coincidentes entre el archivo de estudiantes y colegios:", dfjoin.count())

Nùmero de colegios coincidentes entre el archivo de estudiantes y colegios: 0

La informaciòn de colegios no coincide con la informaciòn de estudiantes, no existe cole_cod_dane_institucion en el archivo de colegios.