In [1]:
from pyspark.sql import SparkSession
from pyspark.sql import Row
from functools import reduce
from pyspark.sql import DataFrame
from pyspark.sql.types import StringType,DoubleType,FloatType
from pyspark.sql.functions import udf
from pyspark.sql.functions import regexp_replace
from pyspark.sql.functions import lit
import locale
import sys
import os
import re

In [2]:
sc

In [3]:
spark

# Leyendo lista de Colegios y Estudiantes

In [4]:
base = '../Colegios'
base2 = '../SB'
colegios = os.listdir('../Colegios')
estudiantes = os.listdir('../SB')

In [5]:
estudiantes.sort()
colegios.sort()
estuDic = {}
coleDic = {}
for estu in estudiantes:
    estuDic[re.findall('\d+', estu)[1]] = estu

for colegio in colegios:
    coleDic[re.findall('\d+', colegio)[1]] = colegio

In [6]:
# Funciòn para unir cualquier nùmero de dataframes con la misma estructura 
def unionAll(*dfs):
    return reduce(DataFrame.unionAll, dfs)

In [7]:
print("Archivos de estudiantes: ", estuDic['20171'],estuDic['20172'])
print("Archivos de colegios: ",coleDic['20171'],coleDic['20172'])

Archivos de estudiantes:  SB11_20171.txt SB11_20172.txt
Archivos de colegios:  SB11-CLASIFI-PLANTELES-20171.csv SB11-CLASIFI-PLANTELES-20172.csv

In [8]:
df1 = spark.read.load(base2 + '/' + estuDic['20171'],"com.databricks.spark.csv",header='true',inferSchema='true',sep='¬')

In [9]:
df1.columns

['ESTU_TIPODOCUMENTO',
 'ESTU_NACIONALIDAD',
 'ESTU_GENERO',
 'ESTU_FECHANACIMIENTO',
 'PERIODO',
 'ESTU_CONSECUTIVO',
 'ESTU_ESTUDIANTE',
 'ESTU_PAIS_RESIDE',
 'ESTU_TIENEETNIA',
 'ESTU_ETNIA',
 'ESTU_DEPTO_RESIDE',
 'ESTU_COD_RESIDE_DEPTO',
 'ESTU_MCPIO_RESIDE',
 'ESTU_COD_RESIDE_MCPIO',
 'FAMI_EDUCACIONPADRE',
 'FAMI_EDUCACIONMADRE',
 'FAMI_ESTRATOVIVIENDA',
 'FAMI_PERSONASHOGAR',
 'FAMI_CUARTOSHOGAR',
 'FAMI_TIENEINTERNET',
 'FAMI_TIENECOMPUTADOR',
 'FAMI_TIENELAVADORA',
 'FAMI_TIENEHORNOMICROOGAS',
 'FAMI_TIENESERVICIOTV',
 'FAMI_TIENEAUTOMOVIL',
 'FAMI_TIENEMOTOCICLETA',
 'FAMI_TIENECONSOLAVIDEOJUEGOS',
 'FAMI_NUMLIBROS',
 'FAMI_COMELECHEDERIVADOS',
 'FAMI_COMECARNEPESCADOHUEVO',
 'FAMI_COMECEREALFRUTOSLEGUMBRE',
 'FAMI_TRABAJOLABORPADRE',
 'FAMI_TRABAJOLABORMADRE',
 'FAMI_SITUACIONECONOMICA',
 'ESTU_DEDICACIONLECTURADIARIA',
 'ESTU_DEDICACIONINTERNET',
 'ESTU_HORASSEMANATRABAJA',
 'ESTU_TIPOREMUNERACION',
 'COLE_CODIGO_ICFES',
 'COLE_COD_DANE_ESTABLECIMIENTO',
 'COLE_NOMBRE_ESTABLECIMIENTO',
 'COLE_GENERO',
 'COLE_NATURALEZA',
 'COLE_CALENDARIO',
 'COLE_BILINGUE',
 'COLE_CARACTER',
 'COLE_COD_DANE_SEDE',
 'COLE_NOMBRE_SEDE',
 'COLE_SEDE_PRINCIPAL',
 'COLE_AREA_UBICACION',
 'COLE_JORNADA',
 'COLE_COD_MCPIO_UBICACION',
 'COLE_MCPIO_UBICACION',
 'COLE_COD_DEPTO_UBICACION',
 'COLE_DEPTO_UBICACION',
 'ESTU_PRIVADO_LIBERTAD',
 'ESTU_COD_MCPIO_PRESENTACION',
 'ESTU_MCPIO_PRESENTACION',
 'ESTU_DEPTO_PRESENTACION',
 'ESTU_COD_DEPTO_PRESENTACION',
 'PUNT_LECTURA_CRITICA',
 'PERCENTIL_LECTURA_CRITICA',
 'DESEMP_LECTURA_CRITICA',
 'PUNT_MATEMATICAS',
 'PERCENTIL_MATEMATICAS',
 'DESEMP_MATEMATICAS',
 'PUNT_C_NATURALES',
 'PERCENTIL_C_NATURALES',
 'DESEMP_C_NATURALES',
 'PUNT_SOCIALES_CIUDADANAS',
 'PERCENTIL_SOCIALES_CIUDADANAS',
 'DESEMP_SOCIALES_CIUDADANAS',
 'PUNT_INGLES',
 'PERCENTIL_INGLES',
 'DESEMP_INGLES',
 'PUNT_GLOBAL',
 'PERCENTIL_GLOBAL',
 'ESTU_INSE_INDIVIDUAL',
 'ESTU_NSE_INDIVIDUAL',
 'ESTU_NSE_ESTABLECIMIENTO',
 'ESTU_ESTADOINVESTIGACION']

In [10]:
columnasPuntos20171 = [
 'COLE_COD_DANE_ESTABLECIMIENTO',
 'COLE_NOMBRE_ESTABLECIMIENTO',
 'PUNT_LECTURA_CRITICA',
 'PUNT_MATEMATICAS',
 'PUNT_C_NATURALES',
 'PUNT_SOCIALES_CIUDADANAS',
 'PUNT_INGLES']

In [11]:
df1 = df1.select(columnasPuntos20171)

In [12]:
# SE leen los dos archivos y se crean dos dataframes
df2 = spark.read.load(base2 + '/' + estuDic['20172'],"com.databricks.spark.csv",header='true',inferSchema='true',sep='¬')

In [13]:
df2.columns

['estu_tipodocumento',
 'estu_nacionalidad',
 'estu_genero',
 'estu_fechanacimiento',
 'periodo',
 'estu_consecutivo',
 'estu_estudiante',
 'estu_pais_reside',
 'estu_tieneetnia',
 'estu_etnia',
 'estu_limita_motriz',
 'estu_limita_invidente',
 'estu_limita_condicionespecial',
 'estu_limita_sordo',
 'estu_limita_sdown',
 'estu_limita_autismo',
 'estu_depto_reside',
 'estu_cod_reside_depto',
 'estu_mcpio_reside',
 'estu_cod_reside_mcpio',
 'fami_educacionpadre',
 'fami_educacionmadre',
 'fami_estratovivienda',
 'fami_personashogar',
 'fami_cuartoshogar',
 'fami_tienecomputador',
 'fami_tienelavadora',
 'fami_tienehornomicroogas',
 'fami_tieneserviciotv',
 'fami_tieneautomovil',
 'fami_tienemotocicleta',
 'fami_tieneconsolavideojuegos',
 'fami_numlibros',
 'fami_comelechederivados',
 'fami_comecarnepescadohuevo',
 'fami_comecerealfrutoslegumbre',
 'fami_trabajolaborpadre',
 'fami_trabajolabormadre',
 'fami_situacioneconomica',
 'estu_dedicacionlecturadiaria',
 'estu_dedicacioninternet',
 'estu_horassemanatrabaja',
 'estu_tiporemuneracion',
 'cole_codigo_icfes',
 'cole_cod_dane_establecimiento',
 'cole_nombre_establecimiento',
 'cole_genero',
 'cole_naturaleza',
 'cole_calendario',
 'cole_bilingue',
 'cole_caracter',
 'cole_cod_dane_sede',
 'cole_nombre_sede',
 'cole_sede_principal',
 'cole_area_ubicacion',
 'cole_jornada',
 'cole_cod_mcpio_ubicacion',
 'cole_mcpio_ubicacion',
 'cole_cod_depto_ubicacion',
 'cole_depto_ubicacion',
 'estu_privado_libertad',
 'estu_cod_mcpio_presentacion',
 'estu_mcpio_presentacion',
 'estu_depto_presentacion',
 'estu_cod_depto_presentacion',
 'punt_lectura_critica',
 'percentil_lectura_critica',
 'desemp_lectura_critica',
 'punt_matematicas',
 'percentil_matematicas',
 'desemp_matematicas',
 'punt_c_naturales',
 'percentil_c_naturales',
 'desemp_c_naturales',
 'punt_sociales_ciudadanas',
 'percentil_sociales_ciudadanas',
 'desemp_sociales_ciudadanas',
 'punt_ingles',
 'percentil_ingles',
 'desemp_ingles',
 'punt_global',
 'percentil_global',
 'estu_inse_individual',
 'estu_nse_individual',
 'estu_nse_establecimiento',
 'estu_pilopaga']

In [14]:
columnasPuntos20172 = [
 'cole_cod_dane_establecimiento',
 'cole_nombre_establecimiento',
 'punt_lectura_critica',
 'punt_matematicas',
 'punt_c_naturales',
 'punt_sociales_ciudadanas',
 'punt_ingles']

In [15]:
df2 = df2.select(columnasPuntos20172)

In [17]:
#dft = df1.columns.remove('cole_cod_dane_institucion')
cols = df1.columns
cols.remove('COLE_COD_DANE_ESTABLECIMIENTO')
cols.remove('COLE_NOMBRE_ESTABLECIMIENTO')
cols

['PUNT_LECTURA_CRITICA',
 'PUNT_MATEMATICAS',
 'PUNT_C_NATURALES',
 'PUNT_SOCIALES_CIUDADANAS',
 'PUNT_INGLES']

In [18]:
for cp in cols:
    df1 = df1.withColumn(cp, regexp_replace(cp, ',', '.'))
    df1 = df1.withColumn(cp, df1[cp].cast("float"))
    df1 = df1.na.fill({cp:0})

In [19]:
df1 = df1.withColumn('COLE_COD_DANE_ESTABLECIMIENTO', df1['COLE_COD_DANE_ESTABLECIMIENTO'].cast("string"))

In [20]:
cols2 = df2.columns
cols2.remove('cole_cod_dane_establecimiento')
cols2.remove('cole_nombre_establecimiento')

In [21]:
for cp in cols2:
    df2 = df2.withColumn(cp, regexp_replace(cp, ',', '.'))
    df2 = df2.withColumn(cp, df2[cp].cast("float"))
    df2 = df2.na.fill({cp:0})
df2 = df2.withColumn('cole_cod_dane_establecimiento', df2['cole_cod_dane_establecimiento'].cast("string"))

In [22]:
print("Numero de filas primero semestre ", df1.count())
print("Numero de filas segundo semestre ", df2.count())

Numero de filas primero semestre  12993
Numero de filas segundo semestre  546162

In [23]:
print(df1.printSchema())

root
 |-- COLE_COD_DANE_ESTABLECIMIENTO: string (nullable = true)
 |-- COLE_NOMBRE_ESTABLECIMIENTO: string (nullable = true)
 |-- PUNT_LECTURA_CRITICA: float (nullable = false)
 |-- PUNT_MATEMATICAS: float (nullable = false)
 |-- PUNT_C_NATURALES: float (nullable = false)
 |-- PUNT_SOCIALES_CIUDADANAS: float (nullable = false)
 |-- PUNT_INGLES: float (nullable = false)

None

In [24]:
print(df2.printSchema())

root
 |-- cole_cod_dane_establecimiento: string (nullable = true)
 |-- cole_nombre_establecimiento: string (nullable = true)
 |-- punt_lectura_critica: float (nullable = false)
 |-- punt_matematicas: float (nullable = false)
 |-- punt_c_naturales: float (nullable = false)
 |-- punt_sociales_ciudadanas: float (nullable = false)
 |-- punt_ingles: float (nullable = false)

None

In [25]:
# Contando el numero de estudiantes por instituciòn y mostrandola de forma descendente
dsCountEst1 = df1.groupBy('COLE_COD_DANE_ESTABLECIMIENTO').count().orderBy('count',ascending=
False)
dsCountEst2 = df2.groupBy('cole_cod_dane_establecimiento').count().orderBy('count',ascending=
False)

In [26]:
dsCountEst1.show(10,False)
# Numero de estudiantes por instituciòn primer semestre

+-----------------------------+-----+
|COLE_COD_DANE_ESTABLECIMIENTO|count|
+-----------------------------+-----+
|376001028219                 |206  |
|376001007670                 |183  |
|376001000900                 |145  |
|376001001116                 |136  |
|376001026925                 |135  |
|376001000721                 |130  |
|311001019568                 |127  |
|376001003461                 |122  |
|311848001011                 |121  |
|376001033859                 |119  |
+-----------------------------+-----+
only showing top 10 rows

In [27]:
dsCountEst1.count()

349

In [28]:
dsCountEst2.show(10,False)
# Numero de estudiantes por instituciòn segundo semestre

+-----------------------------+-----+
|cole_cod_dane_establecimiento|count|
+-----------------------------+-----+
|105001000108                 |959  |
|105001013340                 |829  |
|176001800052                 |722  |
|311001105863                 |695  |
|176001005813                 |634  |
|111001024732                 |626  |
|105154000301                 |604  |
|405001016946                 |588  |
|105615000236                 |579  |
|313001006701                 |567  |
+-----------------------------+-----+
only showing top 10 rows

In [29]:
#Se crea una columna con el total de los puntajes 
df1= df1.withColumn("Suma",df1['PUNT_LECTURA_CRITICA']+df1['PUNT_MATEMATICAS']+df1['PUNT_C_NATURALES']+
                    df1['PUNT_SOCIALES_CIUDADANAS']+df1['PUNT_INGLES'])

df2= df2.withColumn("Suma",df2['punt_lectura_critica']+df2['punt_matematicas']+df2['punt_c_naturales']+
                    df2['punt_sociales_ciudadanas']+df2['punt_ingles'])

## Resultados finales por instituciòn 1er semestre

In [30]:
# Còdigo para obtener la media de los resultados de las evaluaciones de todos los estudiantes por instituciòn 
# y posiciòn en orden descendente.
from pyspark.sql.functions import *
from pyspark.sql.window import Window

df1 = df1.groupBy('COLE_COD_DANE_ESTABLECIMIENTO','COLE_NOMBRE_ESTABLECIMIENTO').mean()
df1 = df1.withColumn("rank", dense_rank().over(Window.orderBy(desc("avg(Suma)"))))
df1 = df1.orderBy('rank',ascending= True)

In [31]:
df1.select('COLE_COD_DANE_ESTABLECIMIENTO','COLE_NOMBRE_ESTABLECIMIENTO','avg(Suma)','rank').show(10,False)

+-----------------------------+----------------------------------+------------------+----+
|COLE_COD_DANE_ESTABLECIMIENTO|COLE_NOMBRE_ESTABLECIMIENTO       |avg(Suma)         |rank|
+-----------------------------+----------------------------------+------------------+----+
|368001000516                 |COL NUEVO CAMBRIDGE               |397.7631578947368 |1   |
|368276000826                 |COL LA QUINTA DEL PUENTE          |394.6             |2   |
|376001013441                 |COLEGIO BILINGUE DIANA OESE       |393.36            |3   |
|311001105430                 |COL LA COLINA                     |384.15384615384613|4   |
|376001043617                 |COLEGIO PHILADELPHIA INTERNACIONAL|383.125           |5   |
|311848000278                 |GIMN VERMONT                      |382.7105263157895 |6   |
|311848002351                 |COL SANTA FRANCISCA ROMANA        |381.796875        |7   |
|311769003342                 |COL LOS NOGALES                   |379.5762711864407 |8   |
|311848002424                 |COL SAN CARLOS                    |378.98979591836735|9   |
|311769000165                 |COL SAN JORGE DE INGLATERRA       |377.75324675324674|10  |
+-----------------------------+----------------------------------+------------------+----+
only showing top 10 rows

## Resultados finales por instituciòn 2do semestre

In [32]:
df2 = df2.groupBy('cole_cod_dane_establecimiento','cole_nombre_establecimiento').mean()
df2 = df2.withColumn("rank", dense_rank().over(Window.orderBy(desc("avg(Suma)"))))
df2 = df2.orderBy('rank',ascending= True)

In [33]:
df2.select('cole_cod_dane_establecimiento','cole_nombre_establecimiento','avg(Suma)','rank').show(10,False)

+-----------------------------+---------------------------------------------------+------------------+----+
|cole_cod_dane_establecimiento|cole_nombre_establecimiento                        |avg(Suma)         |rank|
+-----------------------------+---------------------------------------------------+------------------+----+
|311001065489                 |LIC CAMPO DAVID                                    |383.70588235294116|1   |
|311001086320                 |GIMNASIO COLOMBO BRITANICO - BILINGÜE INTERNACIONAL|382.22641509433964|2   |
|425175032666                 |GIMNASIO EL HONTANAR                               |381.0             |3   |
|311848000308                 |COL ANGLO AMERICANO                                |380.07142857142856|4   |
|311001076634                 |COL NUEVO COLOMBO AMERICANO                        |379.8196721311475 |5   |
|308001001871                 |NUEVO COLEGIO DEL PRADO                            |379.1818181818182 |6   |
|311001005176                 |LIC NAVARRA                                        |377.77777777777777|7   |
|373001007662                 |COL  SAN BONIFACIO DE LAS LANZAS                   |376.5625          |8   |
|311001089221                 |INST ALBERTO MERANI                                |375.2439024390244 |9   |
|341001005571                 |COL  ANGLOCANADIENSE DE NEIVA                      |374.59090909090907|10  |
+-----------------------------+---------------------------------------------------+------------------+----+
only showing top 10 rows

## Colegios primer semestre

In [41]:
# SE crea Dataframe de colegios primer semestre
dfc = spark.read.load(base + '/' + coleDic['20171'],"com.databricks.spark.csv",header='true',inferSchema='true',sep=',')
dfc = dfc.withColumn('COLE_COD_DANE', dfc['COLE_COD_DANE'].cast("string"))

In [43]:
dfc.columns

['PERIODO',
 '|1',
 'COLE_COD_DANE',
 '|3',
 'COLE_INST_NOMBRE',
 '|5',
 'COLE_CODMPIO_COLEGIO',
 '|7',
 'COLE_MPIO_MUNICIPIO',
 '|9',
 'COLE_COD_DEPTO',
 '|11',
 'COLE_DEPTO_COLEGIO',
 '|13',
 'COLE_NATURALEZA',
 '|15',
 'COLE_GRADO',
 '|17',
 'COLE_CALENDARIO_COLEGIO',
 '|19',
 'COLE_GENEROPOBLACION',
 '|21',
 'MATRICULADOS_ULTIMOS_3',
 '|23',
 'EVALUADOS_ULTIMOS_3',
 '|25',
 'INDICE_MATEMATICAS',
 '|27',
 'INDICE_C_NATURALES',
 '|29',
 'INDICE_SOCIALES_CIUDADANAS',
 '|31',
 'INDICE_LECTURA_CRITICA',
 '|33',
 'INDICE_INGLES',
 '|35',
 'INDICE_TOTAL',
 '|37',
 'COLE_CATEGORIA']

In [45]:
colsColegio = dfc.columns

In [44]:
dfc.select('COLE_COD_DANE','COLE_INST_NOMBRE','INDICE_TOTAL').orderBy('INDICE_TOTAL',ascending= False).show(10)

+-------------+--------------------+------------+
|COLE_COD_DANE|    COLE_INST_NOMBRE|INDICE_TOTAL|
+-------------+--------------------+------------+
| 376001013441|COLEGIO BILINGUE ...|      0.9254|
| 368001000516| COL NUEVO CAMBRIDGE|      0.9119|
| 311769003342|     COL LOS NOGALES|      0.9115|
| 311848002424|      COL SAN CARLOS|       0.911|
| 376001043617|COLEGIO PHILADELP...|      0.9109|
| 311769000165|COL SAN JORGE DE ...|      0.9104|
| 311848000278|        GIMN VERMONT|      0.9067|
| 368276000826|COL LA QUINTA DEL...|      0.9066|
| 311848002351|COL SANTA FRANCIS...|      0.9066|
| 466001005641|LIC CAMPESTRE DE ...|      0.9038|
+-------------+--------------------+------------+
only showing top 10 rows

In [45]:
print("El numero de colegios es: ", dfc.count())

El numero de colegios es:  291

## Colegios segundo semestre

In [46]:
# SE crea Dataframe de colegios primer semestre
dfc2 = spark.read.load(base + '/' + coleDic['20172'],"com.databricks.spark.csv",header='true',inferSchema='true',sep=',')
dfc2 = dfc2.withColumn('COLE_COD_DANE', dfc2['COLE_COD_DANE'].cast("string"))

In [47]:
print(dfc2.printSchema())

root
 |-- PERIODO: integer (nullable = true)
 |-- |1: string (nullable = true)
 |-- COLE_COD_DANE: string (nullable = true)
 |-- |3: string (nullable = true)
 |-- COLE_INST_NOMBRE: string (nullable = true)
 |-- |5: string (nullable = true)
 |-- COLE_CODMPIO_COLEGIO: integer (nullable = true)
 |-- |7: string (nullable = true)
 |-- COLE_MPIO_MUNICIPIO: string (nullable = true)
 |-- |9: string (nullable = true)
 |-- COLE_COD_DEPTO: integer (nullable = true)
 |-- |11: string (nullable = true)
 |-- COLE_DEPTO_COLEGIO: string (nullable = true)
 |-- |13: string (nullable = true)
 |-- COLE_NATURALEZA: string (nullable = true)
 |-- |15: string (nullable = true)
 |-- COLE_GRADO: integer (nullable = true)
 |-- |17: string (nullable = true)
 |-- COLE_CALENDARIO_COLEGIO: string (nullable = true)
 |-- |19: string (nullable = true)
 |-- COLE_GENEROPOBLACION: string (nullable = true)
 |-- |21: string (nullable = true)
 |-- MATRICULADOS_ULTIMOS_3: integer (nullable = true)
 |-- |23: string (nullable = true)
 |-- EVALUADOS_ULTIMOS_3: integer (nullable = true)
 |-- |25: string (nullable = true)
 |-- INDICE_MATEMATICAS: double (nullable = true)
 |-- |27: string (nullable = true)
 |-- INDICE_C_NATURALES: double (nullable = true)
 |-- |29: string (nullable = true)
 |-- INDICE_SOCIALES_CIUDADANAS: double (nullable = true)
 |-- |31: string (nullable = true)
 |-- INDICE_LECTURA_CRITICA: double (nullable = true)
 |-- |33: string (nullable = true)
 |-- INDICE_INGLES: double (nullable = true)
 |-- |35: string (nullable = true)
 |-- INDICE_TOTAL: double (nullable = true)
 |-- |37: string (nullable = true)
 |-- COLE_CATEGORIA: string (nullable = true)

None

In [48]:
dfc2.select('COLE_COD_DANE','COLE_INST_NOMBRE','INDICE_TOTAL').orderBy('INDICE_TOTAL',ascending= False).show(10)

+-------------+--------------------+------------+
|COLE_COD_DANE|    COLE_INST_NOMBRE|INDICE_TOTAL|
+-------------+--------------------+------------+
| 311001065489|     LIC CAMPO DAVID|      0.9143|
| 311001076634|COL NUEVO COLOMBO...|      0.9097|
| 311001089221| INST ALBERTO MERANI|      0.9072|
| 311001005176|         LIC NAVARRA|      0.9055|
| 311848000308| COL ANGLO AMERICANO|      0.9036|
| 311001086320|GIMNASIO COLOMBO ...|       0.902|
| 354518001139|CAMBRIDGE SCHOOL ...|      0.8989|
| 368081000937|      COL EL ROSARIO|      0.8988|
| 308001001871|NUEVO COLEGIO DEL...|      0.8974|
| 315001001842| COLEGIO LOS ÁNGELES|      0.8968|
+-------------+--------------------+------------+
only showing top 10 rows

In [49]:
print("El numero de colegios segundo semestre: ", dfc2.count())

El numero de colegios segundo semestre:  9071

## Anàlisis comparativo entre estudiantes y colegios primer semestre

In [50]:
dfjoin = df1.join(dfc, df1.COLE_COD_DANE_ESTABLECIMIENTO == dfc.COLE_COD_DANE)

In [51]:
print("Nùmero de colegios coincidentes entre el archivo de estudiantes 1er semestre y colegios:", dfjoin.count())

Nùmero de colegios coincidentes entre el archivo de estudiantes 1er semestre y colegios: 278

In [52]:
dfjoinPorNom = df1.join(dfc, df1.COLE_NOMBRE_ESTABLECIMIENTO == dfc.COLE_INST_NOMBRE)

In [53]:
print("Nùmero de colegios coincidentes entre el archivo de estudiantes 1er semestre y colegios:", dfjoinPorNom.count())

Nùmero de colegios coincidentes entre el archivo de estudiantes 1er semestre y colegios: 280

In [54]:
# Se cruza la informaciòn por el nombre del colegio - se evidencia que el còdigo DANE no coincide
dfjoin.select('rank','COLE_COD_DANE_ESTABLECIMIENTO','COLE_NOMBRE_ESTABLECIMIENTO','INDICE_TOTAL').show(10)

+----+-----------------------------+---------------------------+------------+
|rank|COLE_COD_DANE_ESTABLECIMIENTO|COLE_NOMBRE_ESTABLECIMIENTO|INDICE_TOTAL|
+----+-----------------------------+---------------------------+------------+
|   1|                 368001000516|        COL NUEVO CAMBRIDGE|      0.9119|
|   2|                 368276000826|       COL LA QUINTA DEL...|      0.9066|
|   3|                 376001013441|       COLEGIO BILINGUE ...|      0.9254|
|   4|                 311001105430|              COL LA COLINA|       0.902|
|   5|                 376001043617|       COLEGIO PHILADELP...|      0.9109|
|   6|                 311848000278|               GIMN VERMONT|      0.9067|
|   7|                 311848002351|       COL SANTA FRANCIS...|      0.9066|
|   8|                 311769003342|            COL LOS NOGALES|      0.9115|
|   9|                 311848002424|             COL SAN CARLOS|       0.911|
|  10|                 311769000165|       COL SAN JORGE DE ...|      0.9104|
+----+-----------------------------+---------------------------+------------+
only showing top 10 rows

## Anàlisis comparativo entre estudiantes y colegios segundo semestre

In [55]:
# SE crea Dataframe de colegios segundo semestre
dfc2 = spark.read.load(base + '/' + coleDic['20172'],"com.databricks.spark.csv",header='true',inferSchema='true',sep=',')
dfc2 = dfc2.withColumn('COLE_COD_DANE', dfc2['COLE_COD_DANE'].cast("string"))

In [57]:
dfjoin2 = df2.join(dfc2, df2.cole_cod_dane_establecimiento == dfc2.COLE_COD_DANE)

In [58]:
print("Nùmero de colegios coincidentes entre el archivo de estudiantes 2do semestre y colegios:", dfjoin2.count())

Nùmero de colegios coincidentes entre el archivo de estudiantes 2do semestre y colegios: 9069

In [60]:
dfjoin2.select('rank','cole_cod_dane_establecimiento','COLE_NOMBRE_ESTABLECIMIENTO','INDICE_TOTAL').show(10)

+----+-----------------------------+---------------------------+------------+
|rank|cole_cod_dane_establecimiento|COLE_NOMBRE_ESTABLECIMIENTO|INDICE_TOTAL|
+----+-----------------------------+---------------------------+------------+
|   1|                 311001065489|            LIC CAMPO DAVID|      0.9143|
|   2|                 311001086320|       GIMNASIO COLOMBO ...|       0.902|
|   3|                 425175032666|       GIMNASIO EL HONTANAR|      0.8968|
|   4|                 311848000308|        COL ANGLO AMERICANO|      0.9036|
|   5|                 311001076634|       COL NUEVO COLOMBO...|      0.9097|
|   6|                 308001001871|       NUEVO COLEGIO DEL...|      0.8974|
|   7|                 311001005176|                LIC NAVARRA|      0.9055|
|   8|                 373001007662|       COL  SAN BONIFACI...|      0.8967|
|   9|                 311001089221|        INST ALBERTO MERANI|      0.9072|
|  10|                 341001005571|       COL  ANGLOCANADIE...|      0.8838|
+----+-----------------------------+---------------------------+------------+
only showing top 10 rows