In [24]:
from pyspark.sql import SparkSession
from pyspark.sql import Row
from functools import reduce
from pyspark.sql import DataFrame
from pyspark.sql.types import StringType,DoubleType,FloatType
from pyspark.sql.functions import udf
from pyspark.sql.functions import regexp_replace
from pyspark.sql.functions import lit
import locale
import sys
import os
import re

In [25]:
sc

In [26]:
spark

# Leyendo lista de Colegios y Estudiantes

In [27]:
base = '../Colegios'
base2 = '../SB'
colegios = os.listdir('../Colegios')
estudiantes = os.listdir('../SB')

In [28]:
estudiantes.sort()
colegios.sort()
estuDic = {}
coleDic = {}
for estu in estudiantes:
    estuDic[re.findall('\d+', estu)[1]] = estu

for colegio in colegios:
    coleDic[re.findall('\d+', colegio)[1]] = colegio

In [29]:
# Funciòn para unir cualquier nùmero de dataframes con la misma estructura 
def unionAll(*dfs):
    return reduce(DataFrame.unionAll, dfs)

In [30]:
print("Archivos de estudiantes: ", estuDic['20101'],estuDic['20102'])
print("Archivos de colegios: ",coleDic['2010'])

Archivos de estudiantes:  SB11_20101.txt SB11_20102.txt
Archivos de colegios:  SB11-CLASIFI-PLANTELES-2010.txt

In [20]:
columnasPuntos20101 = [
 'cole_cod_dane_institucion',
 'punt_lenguaje',
 'punt_matematicas',
 'punt_c_sociales',
 'punt_filosofia',
 'punt_biologia',
 'punt_quimica',
 'punt_fisica',
 'punt_ingles',
 'punt_profundizacion',
 'punt_interdisciplinar']

columnasPuntos20102 = [
 'cole_cod_dane_institucion',
 'punt_lenguaje',
 'punt_matematicas',
 'punt_c_sociales',
 'punt_filosofia',
 'punt_biologia',
 'punt_quimica',
 'punt_fisica',
 'punt_ingles',
 'punt_comp_flexible']

# Columnas en comun entre el primero y el segundo semestre
columnasPuntos = [
 'cole_cod_dane_institucion',
 'punt_lenguaje',
 'punt_matematicas',
 'punt_c_sociales',
 'punt_filosofia',
 'punt_biologia',
 'punt_quimica',
 'punt_fisica',
 'punt_ingles']


# https://sparkbyexamples.com/spark/rename-a-column-on-spark-dataframes/

In [21]:
# from pyspark.sql.functions import lit
# df = df.withColumn('año',lit(2009))
#df1 = spark.read.load(base2 + '/' + estuDic['20101'],"com.databricks.spark.csv",header='true',inferSchema='true',sep='¬').select(columnasPuntos20101)
#columnasPuntos20101.remove('cole_cod_dane_institucion')
#for cp in columnasPuntos20101:
#    df1 = df1.withColumn(cp, regexp_replace(cp, ',', '.'))
#    df1 = df1.withColumn(cp, df[cp].cast("float"))

In [35]:
# SE leen los dos archivos y se crean dos dataframes
df1 = spark.read.load(base2 + '/' + estuDic['20101'],"com.databricks.spark.csv",header='true',inferSchema='true',sep='¬').select(columnasPuntos20101).withColumn('punt_comp_flexible',lit(0))
df2 = spark.read.load(base2 + '/' + estuDic['20102'],"com.databricks.spark.csv",header='true',inferSchema='true',sep='¬').select(columnasPuntos20102).withColumn('punt_profundizacion',lit(0)).withColumn('punt_interdisciplinar',lit(0))

In [39]:
#dft = df1.columns.remove('cole_cod_dane_institucion')
cols = df1.columns
cols.remove('cole_cod_dane_institucion')
cols

['punt_lenguaje',
 'punt_matematicas',
 'punt_c_sociales',
 'punt_filosofia',
 'punt_biologia',
 'punt_quimica',
 'punt_fisica',
 'punt_ingles',
 'punt_profundizacion',
 'punt_interdisciplinar',
 'punt_comp_flexible']

In [40]:
# SE unen los dos dataframes
df = unionAll(df1,df2)
for cp in cols:
    df = df.withColumn(cp, regexp_replace(cp, ',', '.'))
    df = df.withColumn(cp, df[cp].cast("float"))
    
df1 = df2 = None

In [41]:
print("Numero de filas ", df.count())

Numero de filas  570844

In [42]:
print(df.printSchema())

root
 |-- cole_cod_dane_institucion: string (nullable = true)
 |-- punt_lenguaje: float (nullable = true)
 |-- punt_matematicas: float (nullable = true)
 |-- punt_c_sociales: float (nullable = true)
 |-- punt_filosofia: float (nullable = true)
 |-- punt_biologia: float (nullable = true)
 |-- punt_quimica: float (nullable = true)
 |-- punt_fisica: float (nullable = true)
 |-- punt_ingles: float (nullable = true)
 |-- punt_profundizacion: float (nullable = true)
 |-- punt_interdisciplinar: float (nullable = true)
 |-- punt_comp_flexible: float (nullable = true)

None

In [43]:
# Contando el numero de estudiantes por instituciòn y mostrandola de forma descendente
dsCountEst = df.groupBy('cole_cod_dane_institucion').count().orderBy('count',ascending=
False)

In [44]:
dsCountEst.show(10,False)

+-------------------------+-----+
|cole_cod_dane_institucion|count|
+-------------------------+-----+
|null                     |5572 |
|105001000108             |1205 |
|311001105391             |904  |
|325754005072             |904  |
|354001001520             |849  |
|105001013340             |845  |
|305615001312             |802  |
|305266019802             |715  |
|368001005488             |686  |
|168001003591             |681  |
+-------------------------+-----+
only showing top 10 rows

In [46]:
#Se crea una columna con el total de los puntajes   
df= df.withColumn("Suma",df['punt_lenguaje']+df['punt_matematicas']+df['punt_c_sociales']+
                     df['punt_filosofia']+df['punt_biologia']+df['punt_quimica']+df['punt_fisica']+
                     df['punt_ingles']+df['punt_profundizacion']+df['punt_interdisciplinar']+df['punt_comp_flexible'])

## Resultados finales por instituciòn

In [47]:
# Còdigo para obtener la media de los resultados de las evaluaciones de todos los estudiantes por instituciòn 
# y posiciòn en orden descendente.
from pyspark.sql.functions import *
from pyspark.sql.window import Window

df = df.groupBy('cole_cod_dane_institucion').mean()
df = df.withColumn("rank", dense_rank().over(Window.orderBy(desc("avg(Suma)"))))
df = df.orderBy('rank',ascending= True)

In [48]:
df.show(10,False)

+-------------------------+------------------+---------------------+--------------------+-------------------+------------------+-----------------+-----------------+-----------------+------------------------+--------------------------+-----------------------+-----------------+----+
|cole_cod_dane_institucion|avg(punt_lenguaje)|avg(punt_matematicas)|avg(punt_c_sociales)|avg(punt_filosofia)|avg(punt_biologia)|avg(punt_quimica)|avg(punt_fisica) |avg(punt_ingles) |avg(punt_profundizacion)|avg(punt_interdisciplinar)|avg(punt_comp_flexible)|avg(Suma)        |rank|
+-------------------------+------------------+---------------------+--------------------+-------------------+------------------+-----------------+-----------------+-----------------+------------------------+--------------------------+-----------------------+-----------------+----+
|311001089221             |75.66388893127441 |78.86555671691895    |73.45277701483832   |68.61888694763184  |81.00722312927246 |81.56333372328017|70.65833388434515|90.66055552164714|48.25388820966085       |0.0                       |0.0                    |668.7444424099392|1   |
|308001005299             |72.83190500168573 |79.45428612118675    |70.72047624133882   |64.99095190139045  |69.8495245433989  |74.40190433320545|67.90428633916946|90.18714287167504|57.65952366874332       |0.0                       |0.0                    |647.999994187128 |2   |
|311001065489             |73.46466725667318 |87.32266743977864    |67.10733311971029   |66.01333287556966  |77.89066797892252 |85.78866628011068|80.83666687011718|85.85133361816406|7.566666762034099       |0.0                       |0.0                    |631.8419738769531|3   |
|311848000308             |70.82753759355687 |73.42589660189044    |69.77462697384962   |66.15208896238413  |70.85604494009445 |80.09231331099325|69.6514180880874 |94.10932905282547|33.040597232420055      |0.0                       |0.0                    |627.9298460092117|4   |
|305001006831             |70.10999870300293 |78.53500111897786    |76.69999821980794   |64.18166542053223  |74.21833356221516 |80.14833196004231|68.4199988047282 |99.14666748046875|14.900000174840292      |0.0                       |0.0                    |626.3600158691406|5   |
|468547002051             |69.69588313383214 |78.45411884083467    |69.0623534707462    |64.95705885045669  |67.48470620548024 |78.99647028305951|68.77235345279469|91.97705975700828|29.105294031255386      |0.0                       |0.0                    |618.5052992876838|6   |
|373001007662             |75.08000074114118 |72.07809611729213    |69.1009521484375    |64.48428490048363  |69.63714290800549 |82.08666683378674|66.07095246087937|91.54000127883185|27.570476282210578      |0.0                       |0.0                    |617.6485682896206|7   |
|368001000729             |73.32544776482311 |72.3700008237265     |69.09308906493148   |66.49105602357446  |70.74544736040318 |79.81113787395198|67.2104065437627 |88.4865043454054 |28.158048912761657      |0.0                       |0.0                    |615.6911320880176|8   |
|311001086320             |69.45177256910107 |78.62531739246997    |68.11063264291498   |64.86455651778209  |71.89683566515959 |83.29303784913654|69.8093673126607 |99.02848130238208|8.150506303280215       |0.0                       |0.0                    |613.2305054483535|9   |
|311001076634             |72.20619065420968 |71.37380999610538    |67.61809521629696   |65.26880945478167  |70.24309539794922 |71.21095230465843|61.13428579057966|90.63214347476051|36.18428582804544       |0.0                       |0.0                    |605.8716648646763|10  |
+-------------------------+------------------+---------------------+--------------------+-------------------+------------------+-----------------+-----------------+-----------------+------------------------+--------------------------+-----------------------+-----------------+----+
only showing top 10 rows

## Colegios

In [49]:
# se crea un dataframe con una columna que lo señala el año 2006.
from pyspark.sql.functions import lit
df = df.withColumn('año',lit(2010))
df.show(5,False)

+-------------------------+------------------+---------------------+--------------------+-------------------+------------------+-----------------+-----------------+-----------------+------------------------+--------------------------+-----------------------+-----------------+----+----+
|cole_cod_dane_institucion|avg(punt_lenguaje)|avg(punt_matematicas)|avg(punt_c_sociales)|avg(punt_filosofia)|avg(punt_biologia)|avg(punt_quimica)|avg(punt_fisica) |avg(punt_ingles) |avg(punt_profundizacion)|avg(punt_interdisciplinar)|avg(punt_comp_flexible)|avg(Suma)        |rank|año |
+-------------------------+------------------+---------------------+--------------------+-------------------+------------------+-----------------+-----------------+-----------------+------------------------+--------------------------+-----------------------+-----------------+----+----+
|311001089221             |75.66388893127441 |78.86555671691895    |73.45277701483832   |68.61888694763184  |81.00722312927246 |81.56333372328017|70.65833388434515|90.66055552164714|48.25388820966085       |0.0                       |0.0                    |668.7444424099392|1   |2010|
|308001005299             |72.83190500168573 |79.45428612118675    |70.72047624133882   |64.99095190139045  |69.8495245433989  |74.40190433320545|67.90428633916946|90.18714287167504|57.65952366874332       |0.0                       |0.0                    |647.999994187128 |2   |2010|
|311001065489             |73.46466725667318 |87.32266743977864    |67.10733311971029   |66.01333287556966  |77.89066797892252 |85.78866628011068|80.83666687011718|85.85133361816406|7.566666762034099       |0.0                       |0.0                    |631.8419738769531|3   |2010|
|311848000308             |70.82753759355687 |73.42589660189044    |69.77462697384962   |66.15208896238413  |70.85604494009445 |80.09231331099325|69.6514180880874 |94.10932905282547|33.040597232420055      |0.0                       |0.0                    |627.9298460092117|4   |2010|
|305001006831             |70.10999870300293 |78.53500111897786    |76.69999821980794   |64.18166542053223  |74.21833356221516 |80.14833196004231|68.4199988047282 |99.14666748046875|14.900000174840292      |0.0                       |0.0                    |626.3600158691406|5   |2010|
+-------------------------+------------------+---------------------+--------------------+-------------------+------------------+-----------------+-----------------+-----------------+------------------------+--------------------------+-----------------------+-----------------+----+----+
only showing top 5 rows

In [50]:
# SE crea Dataframe de colegios en este año desaparecio la columna COLE_CODMPIO_COLEGIO
dfc = spark.read.load(base + '/' + coleDic['2010'],"com.databricks.spark.csv",header='true',inferSchema='true',sep='\t')
dfc = dfc.withColumn('COLE_CODIGO_COLEGIO', dfc['COLE_CODIGO_COLEGIO'].cast("string"))

In [51]:
print(dfc.printSchema())

root
 |-- COLE_CODIGO_COLEGIO: string (nullable = true)
 |-- COLE_INST_NOMBRE: string (nullable = true)
 |-- COLE_COD_CIUDAD: integer (nullable = true)
 |-- COLE_MPIO_COLEGIO: string (nullable = true)
 |-- COLE_DEPTO_COLEGIO: string (nullable = true)
 |-- COLE_INST_JORNADA: string (nullable = true)
 |-- COLE_CALENDARIO_COLEGIO: string (nullable = true)
 |-- COLE_GENEROPOBLACION: string (nullable = true)
 |-- COLE_NATURALEZA: string (nullable = true)
 |-- COLE_CIENCIAS_SOCIALES: integer (nullable = true)
 |-- COLE_QUIMICA: integer (nullable = true)
 |-- COLE_FISICA: integer (nullable = true)
 |-- COLE_BIOLOGIA: integer (nullable = true)
 |-- COLE_FILOSOFIA: integer (nullable = true)
 |-- COLE_MATEMATICAS: integer (nullable = true)
 |-- COLE_LENGUAJE: integer (nullable = true)
 |-- COLE_INGLES: integer (nullable = true)
 |-- COLE_GEOGRAFIA: string (nullable = true)
 |-- COLE_HISTORIA: string (nullable = true)
 |-- COLE_CATEGORIA: string (nullable = true)
 |-- COLE_ESTUDIANTES_PRESENTES: integer (nullable = true)

None

In [52]:
colsColegio = ['COLE_CODIGO_COLEGIO',
 'COLE_CIENCIAS_SOCIALES',
 'COLE_QUIMICA',
 'COLE_FISICA',
 'COLE_BIOLOGIA',
 'COLE_FILOSOFIA',
 'COLE_MATEMATICAS',
 'COLE_LENGUAJE',
 'COLE_INGLES','COLE_GEOGRAFIA','COLE_HISTORIA']

In [53]:
dfc = dfc.select(colsColegio)

In [54]:
dfc.show(5,False)

+-------------------+----------------------+------------+-----------+-------------+--------------+----------------+-------------+-----------+--------------+-------------+
|COLE_CODIGO_COLEGIO|COLE_CIENCIAS_SOCIALES|COLE_QUIMICA|COLE_FISICA|COLE_BIOLOGIA|COLE_FILOSOFIA|COLE_MATEMATICAS|COLE_LENGUAJE|COLE_INGLES|COLE_GEOGRAFIA|COLE_HISTORIA|
+-------------------+----------------------+------------+-----------+-------------+--------------+----------------+-------------+-----------+--------------+-------------+
|43364              |7                     |6           |7          |6            |7             |6               |6            |6          |null          |null         |
|43372              |8                     |7           |7          |6            |9             |7               |7            |7          |null          |null         |
|43406              |7                     |6           |7          |6            |6             |6               |5            |6          |null          |null         |
|43422              |7                     |5           |6          |6            |6             |6               |6            |6          |null          |null         |
|43430              |8                     |9           |7          |8            |9             |9               |7            |8          |null          |null         |
+-------------------+----------------------+------------+-----------+-------------+--------------+----------------+-------------+-----------+--------------+-------------+
only showing top 5 rows

In [55]:
print("El numero de colegios es: ", dfc.select('COLE_CODIGO_COLEGIO').count())

El numero de colegios es:  10974

## Anàlisis comparativo entre estudiantes y colegios

In [56]:
dfjoin = df.join(dfc, df.cole_cod_dane_institucion == dfc.COLE_CODIGO_COLEGIO)

In [57]:
print("Nùmero de colegios coincidentes entre el archivo de estudiantes y colegios:", dfjoin.count())

Nùmero de colegios coincidentes entre el archivo de estudiantes y colegios: 0

La informaciòn de colegios no coincide con la informaciòn de estudiantes, no existe cole_cod_dane_institucion en el archivo de colegios.