In [1]:
from pyspark.sql import SparkSession
from pyspark.sql import Row
from functools import reduce
from pyspark.sql import DataFrame
from pyspark.sql.types import StringType,DoubleType,FloatType
from pyspark.sql.functions import udf
from pyspark.sql.functions import regexp_replace
from pyspark.sql.functions import lit
import locale
import sys
import os
import re

In [2]:
sc

In [3]:
spark

# Leyendo lista de Colegios y Estudiantes

In [4]:
base = '../Colegios'
base2 = '../SB'
colegios = os.listdir('../Colegios')
estudiantes = os.listdir('../SB')

In [5]:
estudiantes.sort()
colegios.sort()
estuDic = {}
coleDic = {}
for estu in estudiantes:
    estuDic[re.findall('\d+', estu)[1]] = estu

for colegio in colegios:
    coleDic[re.findall('\d+', colegio)[1]] = colegio

In [6]:
# Funciòn para unir cualquier nùmero de dataframes con la misma estructura 
def unionAll(*dfs):
    return reduce(DataFrame.unionAll, dfs)

In [7]:
print("Archivos de estudiantes: ", estuDic['20111'],estuDic['20112'])
print("Archivos de colegios: ",coleDic['2011'])

Archivos de estudiantes:  SB11_20111.txt SB11_20112.txt
Archivos de colegios:  SB11-CLASIFI-PLANTELES-2011.txt

In [14]:
# SE leen los dos archivos y se crean dos dataframes
df1 = spark.read.load(base2 + '/' + estuDic['20111'],"com.databricks.spark.csv",header='true',inferSchema='true',sep='¬')
df2 = spark.read.load(base2 + '/' + estuDic['20112'],"com.databricks.spark.csv",header='true',inferSchema='true',sep='¬')

In [15]:
columnasPuntos20111 = ['cole_cod_dane_institucion','cole_nombre_sede',
 'punt_lenguaje',
 'punt_matematicas',
 'punt_c_sociales',
 'punt_filosofia',
 'punt_biologia',
 'punt_quimica',
 'punt_fisica',
 'punt_ingles',
 'punt_comp_flexible']

columnasPuntos20112 = [
 'COLE_COD_DANE_ESTABLECIMIENTO',
 'COLE_NOMBRE_ESTABLECIMIENTO',
 'PUNT_MATEMATICAS',
 'PUNT_INGLES',
 'PUNT_CIENCIAS_SOCIALES',
 'PUNT_BIOLOGIA',
 'PUNT_FILOSOFIA',
 'PUNT_FISICA',
 'PUNT_QUIMICA',
 'PUNT_LENGUAJE',
 'PUNT_INTERDISC_MEDIOAMBIENTE',
 'PUNT_INTERDISC_VIOLENCIAYSOC',
 'PUNT_PROFUNDIZA_BIOLOGIA',
 'PUNT_PROFUNDIZA_CSOCIALES',
 'PUNT_PROFUNDIZA_LENGUAJE',
 'PUNT_PROFUNDIZA_MATEMATICA'    
]

In [16]:
# SE leen los dos archivos y se crean dos dataframes
df1 = df1.select(columnasPuntos20111)
df2 = df2.select(columnasPuntos20112)

In [17]:
#dft = df1.columns.remove('cole_cod_dane_institucion')
cols = df1.columns
cols.remove('cole_cod_dane_institucion')
cols.remove('cole_nombre_sede')
cols

['punt_lenguaje',
 'punt_matematicas',
 'punt_c_sociales',
 'punt_filosofia',
 'punt_biologia',
 'punt_quimica',
 'punt_fisica',
 'punt_ingles',
 'punt_comp_flexible']

In [18]:
# SE unen los dos dataframes
# df = unionAll(df1,df2)
for cp in cols:
    df1 = df1.withColumn(cp, regexp_replace(cp, ',', '.'))
    df1 = df1.withColumn(cp, df1[cp].cast("float"))
    df1 = df1.na.fill({cp:0})

In [19]:
cols2 = df2.columns
cols2.remove('COLE_COD_DANE_ESTABLECIMIENTO')
cols2.remove('COLE_NOMBRE_ESTABLECIMIENTO')
cols2

['PUNT_MATEMATICAS',
 'PUNT_INGLES',
 'PUNT_CIENCIAS_SOCIALES',
 'PUNT_BIOLOGIA',
 'PUNT_FILOSOFIA',
 'PUNT_FISICA',
 'PUNT_QUIMICA',
 'PUNT_LENGUAJE',
 'PUNT_INTERDISC_MEDIOAMBIENTE',
 'PUNT_INTERDISC_VIOLENCIAYSOC',
 'PUNT_PROFUNDIZA_BIOLOGIA',
 'PUNT_PROFUNDIZA_CSOCIALES',
 'PUNT_PROFUNDIZA_LENGUAJE',
 'PUNT_PROFUNDIZA_MATEMATICA']

In [20]:
for cp in cols2:
    df2 = df2.withColumn(cp, regexp_replace(cp, ',', '.'))
    df2 = df2.withColumn(cp, df2[cp].cast("float"))
    df2 = df2.na.fill({cp:0})
df2 = df2.withColumn('COLE_COD_DANE_ESTABLECIMIENTO', df2['COLE_COD_DANE_ESTABLECIMIENTO'].cast("string"))

In [21]:
print("Numero de filas primero semestre ", df1.count())
print("Numero de filas segundo semestre ", df2.count())

Numero de filas primero semestre  31712
Numero de filas segundo semestre  540707

In [22]:
print(df1.printSchema())

root
 |-- cole_cod_dane_institucion: string (nullable = true)
 |-- cole_nombre_sede: string (nullable = true)
 |-- punt_lenguaje: float (nullable = false)
 |-- punt_matematicas: float (nullable = false)
 |-- punt_c_sociales: float (nullable = false)
 |-- punt_filosofia: float (nullable = false)
 |-- punt_biologia: float (nullable = false)
 |-- punt_quimica: float (nullable = false)
 |-- punt_fisica: float (nullable = false)
 |-- punt_ingles: float (nullable = false)
 |-- punt_comp_flexible: float (nullable = false)

None

In [23]:
print(df2.printSchema())

root
 |-- COLE_COD_DANE_ESTABLECIMIENTO: string (nullable = true)
 |-- COLE_NOMBRE_ESTABLECIMIENTO: string (nullable = true)
 |-- PUNT_MATEMATICAS: float (nullable = false)
 |-- PUNT_INGLES: float (nullable = false)
 |-- PUNT_CIENCIAS_SOCIALES: float (nullable = false)
 |-- PUNT_BIOLOGIA: float (nullable = false)
 |-- PUNT_FILOSOFIA: float (nullable = false)
 |-- PUNT_FISICA: float (nullable = false)
 |-- PUNT_QUIMICA: float (nullable = false)
 |-- PUNT_LENGUAJE: float (nullable = false)
 |-- PUNT_INTERDISC_MEDIOAMBIENTE: float (nullable = false)
 |-- PUNT_INTERDISC_VIOLENCIAYSOC: float (nullable = false)
 |-- PUNT_PROFUNDIZA_BIOLOGIA: float (nullable = false)
 |-- PUNT_PROFUNDIZA_CSOCIALES: float (nullable = false)
 |-- PUNT_PROFUNDIZA_LENGUAJE: float (nullable = false)
 |-- PUNT_PROFUNDIZA_MATEMATICA: float (nullable = false)

None

In [29]:
# Contando el numero de estudiantes por instituciòn y mostrandola de forma descendente
dsCountEst1 = df1.groupBy('cole_cod_dane_institucion').count().orderBy('count',ascending=
False)
dsCountEst2 = df2.groupBy('COLE_COD_DANE_ESTABLECIMIENTO').count().orderBy('count',ascending=
False)

In [32]:
dsCountEst1 = dsCountEst1.withColumnRenamed("count","num_est")
dsCountEst1.show(10,False)
# Numero de estudiantes por instituciòn primer semestre

+-------------------------+-------+
|cole_cod_dane_institucion|num_est|
+-------------------------+-------+
|null                     |565    |
|473024000490             |378    |
|125286000123             |278    |
|305001020558             |247    |
|311001104786             |245    |
|105001024571             |242    |
|311001109605             |239    |
|311001105391             |236    |
|305001024609             |218    |
|305890001390             |208    |
+-------------------------+-------+
only showing top 10 rows

In [33]:
dsCountEst2 = dsCountEst2.withColumnRenamed("count","num_est")
dsCountEst2.show(10,False)
# Numero de estudiantes por instituciòn segundo semestre

+-----------------------------+-------+
|COLE_COD_DANE_ESTABLECIMIENTO|num_est|
+-----------------------------+-------+
|105001000108                 |1037   |
|311001105391                 |801    |
|105001013340                 |730    |
|null                         |726    |
|325754005072                 |714    |
|105154000301                 |680    |
|115176000084                 |675    |
|168001003591                 |624    |
|305001017433                 |623    |
|305001003963                 |606    |
+-----------------------------+-------+
only showing top 10 rows

In [34]:
#Se crea una columna con el total de los puntajes   
df1= df1.withColumn("Suma",df1['punt_lenguaje']+df1['punt_matematicas']+df1['punt_c_sociales']+
                     df1['punt_filosofia']+df1['punt_biologia']+df1['punt_quimica']+df1['punt_fisica']+
                     df1['punt_ingles']+df1['punt_comp_flexible'])
    
df2= df2.withColumn("Suma",df2['PUNT_MATEMATICAS']+df2['PUNT_INGLES']+df2['PUNT_CIENCIAS_SOCIALES']+
                     df2['PUNT_BIOLOGIA']+df2['PUNT_FILOSOFIA']+df2['PUNT_FISICA']+df2['PUNT_QUIMICA']+
                     df2['PUNT_LENGUAJE']+df2['PUNT_INTERDISC_MEDIOAMBIENTE']+
                     df2['PUNT_INTERDISC_VIOLENCIAYSOC']+df2['PUNT_PROFUNDIZA_BIOLOGIA']+
                     df2['PUNT_PROFUNDIZA_CSOCIALES']+df2['PUNT_PROFUNDIZA_LENGUAJE']+df2['PUNT_PROFUNDIZA_MATEMATICA'])

## Resultados finales por instituciòn 1er semestre

In [146]:
# Còdigo para obtener la media de los resultados de las evaluaciones de todos los estudiantes por instituciòn 
# y posiciòn en orden descendente.
from pyspark.sql.functions import *
from pyspark.sql.window import Window

df1 = df1.groupBy('cole_cod_dane_institucion').mean()
df1 = df1.withColumn("rank", dense_rank().over(Window.orderBy(desc("avg(Suma)"))))
df1 = df1.orderBy('rank',ascending= True)

In [147]:
df1.select('cole_cod_dane_institucion','avg(Suma)','rank').show(10,False)

+-------------------------+-----------------+----+
|cole_cod_dane_institucion|avg(Suma)        |rank|
+-------------------------+-----------------+----+
|425126047909             |572.510009765625 |1   |
|368276000826             |568.6803313224547|2   |
|376001013441             |566.2545526677912|3   |
|311848002351             |561.3829800789816|4   |
|311769003342             |554.288572038923 |5   |
|311769002818             |548.3954523259944|6   |
|313836000348             |548.3032006835938|7   |
|311769000165             |544.8036230679216|8   |
|311848000278             |542.7839228312174|9   |
|311769001781             |542.4280024601863|10  |
+-------------------------+-----------------+----+
only showing top 10 rows

## Resultados finales por instituciòn 2do semestre

In [148]:
df2 = df2.groupBy('COLE_COD_DANE_ESTABLECIMIENTO').mean()
df2 = df2.withColumn("rank", dense_rank().over(Window.orderBy(desc("avg(Suma)"))))
df2 = df2.orderBy('rank',ascending= True)

In [149]:
df2.select('COLE_COD_DANE_ESTABLECIMIENTO','avg(Suma)','rank').show(10,False)

+-----------------------------+-----------------+----+
|COLE_COD_DANE_ESTABLECIMIENTO|avg(Suma)        |rank|
+-----------------------------+-----------------+----+
|368001005861                 |580.0            |1   |
|315759002670                 |560.0            |2   |
|311001086320                 |552.4931506849315|3   |
|311848000308                 |546.536231884058 |4   |
|311001089221                 |540.5294117647059|5   |
|305001006784                 |538.2105263157895|6   |
|311001076634                 |535.7843137254902|7   |
|308001005299                 |535.7272727272727|8   |
|311001005176                 |533.2553191489362|9   |
|311001090921                 |533.1727272727272|10  |
+-----------------------------+-----------------+----+
only showing top 10 rows

## Colegios

In [150]:
# SE crea Dataframe de colegios en este año desaparecio la columna COLE_CODMPIO_COLEGIO
dfc = spark.read.load(base + '/' + coleDic['2011'],"com.databricks.spark.csv",header='true',inferSchema='true',sep='\t')
dfc = dfc.withColumn('COLE_CODIGO_COLEGIO', dfc['COLE_CODIGO_COLEGIO'].cast("string"))

In [151]:
print(dfc.printSchema())

root
 |-- COLE_CODIGO_COLEGIO: string (nullable = true)
 |-- COLE_INST_NOMBRE: string (nullable = true)
 |-- COLE_CODMPIO_COLEGIO: integer (nullable = true)
 |-- COLE_MPIO_COLEGIO: string (nullable = true)
 |-- COLE_DEPTO_COLEGIO: string (nullable = true)
 |-- COLE_INST_JORNADA: string (nullable = true)
 |-- COLE_CALENDARIO_COLEGIO: string (nullable = true)
 |-- COLE_GENEROPOBLACION: string (nullable = true)
 |-- COLE_NATURALEZA: string (nullable = true)
 |-- COLE_CIENCIAS_SOCIALES: integer (nullable = true)
 |-- COLE_QUIMICA: integer (nullable = true)
 |-- COLE_FISICA: integer (nullable = true)
 |-- COLE_BIOLOGIA: integer (nullable = true)
 |-- COLE_FILOSOFIA: integer (nullable = true)
 |-- COLE_MATEMATICAS: integer (nullable = true)
 |-- COLE_LENGUAJE: integer (nullable = true)
 |-- COLE_INGLES: integer (nullable = true)
 |-- COLE_GEOGRAFIA: string (nullable = true)
 |-- COLE_HISTORIA: string (nullable = true)
 |-- COLE_CATEGORIA: string (nullable = true)
 |-- COLE_ESTUDIANTES_PRESENTES: integer (nullable = true)

None

In [152]:
colsColegio = ['COLE_CODIGO_COLEGIO',
 'COLE_CIENCIAS_SOCIALES',
 'COLE_QUIMICA',
 'COLE_FISICA',
 'COLE_BIOLOGIA',
 'COLE_FILOSOFIA',
 'COLE_MATEMATICAS',
 'COLE_LENGUAJE',
 'COLE_INGLES',
 'COLE_GEOGRAFIA',
 'COLE_HISTORIA']

In [153]:
dfc = dfc.select(colsColegio)

In [154]:
dfc.show(5,False)

+-------------------+----------------------+------------+-----------+-------------+--------------+----------------+-------------+-----------+--------------+-------------+
|COLE_CODIGO_COLEGIO|COLE_CIENCIAS_SOCIALES|COLE_QUIMICA|COLE_FISICA|COLE_BIOLOGIA|COLE_FILOSOFIA|COLE_MATEMATICAS|COLE_LENGUAJE|COLE_INGLES|COLE_GEOGRAFIA|COLE_HISTORIA|
+-------------------+----------------------+------------+-----------+-------------+--------------+----------------+-------------+-----------+--------------+-------------+
|156588             |7                     |6           |7          |7            |6             |7               |7            |7          |null          |null         |
|156653             |5                     |5           |6          |4            |5             |5               |6            |5          |null          |null         |
|156687             |6                     |6           |6          |6            |6             |5               |6            |6          |null          |null         |
|156695             |6                     |5           |5          |6            |6             |6               |6            |5          |null          |null         |
|156703             |6                     |5           |6          |5            |5             |6               |5            |6          |null          |null         |
+-------------------+----------------------+------------+-----------+-------------+--------------+----------------+-------------+-----------+--------------+-------------+
only showing top 5 rows

In [155]:
print("El numero de colegios es: ", dfc.select('COLE_CODIGO_COLEGIO').count())

El numero de colegios es:  8586

## Anàlisis comparativo entre estudiantes y colegios

In [156]:
dfjoin = df1.join(dfc, df1.cole_cod_dane_institucion == dfc.COLE_CODIGO_COLEGIO)

In [157]:
print("Nùmero de colegios coincidentes entre el archivo de estudiantes 1er semestre y colegios:", dfjoin.count())

Nùmero de colegios coincidentes entre el archivo de estudiantes 1er semestre y colegios: 0

In [158]:
dfjoin = df2.join(dfc, df2.COLE_COD_DANE_ESTABLECIMIENTO == dfc.COLE_CODIGO_COLEGIO)

In [159]:
print("Nùmero de colegios coincidentes entre el archivo de estudiantes 2do semestre y colegios:", dfjoin.count())

Nùmero de colegios coincidentes entre el archivo de estudiantes 2do semestre y colegios: 0

La informaciòn de colegios no coincide con la informaciòn de estudiantes, no existe cole_cod_dane_institucion en el archivo de colegios.