In [235]:
from pyspark.sql import SparkSession
from pyspark.sql import Row
from functools import reduce
from pyspark.sql import DataFrame
from pyspark.sql.types import StringType,DoubleType,FloatType
from pyspark.sql.functions import udf
from pyspark.sql.functions import regexp_replace
from pyspark.sql.functions import lit
import locale
import sys
import os
import re

In [236]:
sc

In [237]:
spark

# Leyendo lista de Colegios y Estudiantes

In [238]:
base = '../Colegios'
base2 = '../SB'
colegios = os.listdir('../Colegios')
estudiantes = os.listdir('../SB')

In [239]:
estudiantes.sort()
colegios.sort()
estuDic = {}
coleDic = {}
for estu in estudiantes:
    estuDic[re.findall('\d+', estu)[1]] = estu

for colegio in colegios:
    coleDic[re.findall('\d+', colegio)[1]] = colegio

In [240]:
# Funciòn para unir cualquier nùmero de dataframes con la misma estructura 
def unionAll(*dfs):
    return reduce(DataFrame.unionAll, dfs)

In [241]:
print("Archivos de estudiantes: ", estuDic['20141'],estuDic['20142'])
print("Archivos de colegios: ",coleDic['20141'],coleDic['20142'])

Archivos de estudiantes:  SB11_20141.txt SB11_20142.txt
Archivos de colegios:  SB11-CLASIFI-PLANTELES-20141.txt SB11-CLASIFI-PLANTELES-20142.txt

In [242]:
df1 = spark.read.load(base2 + '/' + estuDic['20141'],"com.databricks.spark.csv",header='true',inferSchema='true',sep='¬')

In [243]:
df1.columns

['ESTU_TIPODOCUMENTO',
 'ESTU_NACIONALIDAD',
 'ESTU_GENERO',
 'ESTU_FECHANACIMIENTO',
 'PERIODO',
 'ESTU_CONSECUTIVO',
 'ESTU_ESTUDIANTE',
 'ESTU_PAIS_RESIDE',
 'ESTU_DEPTO_RESIDE',
 'ESTU_COD_RESIDE_DEPTO',
 'ESTU_MCPIO_RESIDE',
 'ESTU_COD_RESIDE_MCPIO',
 'ESTU_AREARESIDE',
 'ESTU_VALORPENSIONCOLEGIO',
 'ESTU_VECESPRESENTOEXAMEN',
 'FAMI_EDUCACIONPADRE',
 'FAMI_EDUCACIONMADRE',
 'FAMI_OCUPACIONPADRE',
 'FAMI_OCUPACIONMADRE',
 'FAMI_ESTRATOVIVIENDA',
 'FAMI_NIVELSISBEN',
 'FAMI_PERSONASHOGAR',
 'FAMI_CUARTOSHOGAR',
 'FAMI_PISOSHOGAR',
 'FAMI_TIENEINTERNET',
 'FAMI_TIENECOMPUTADOR',
 'FAMI_TIENELAVADORA',
 'FAMI_TIENEMICROONDAS',
 'FAMI_TIENEHORNO',
 'FAMI_TIENETELEVISOR',
 'FAMI_TIENEAUTOMOVIL',
 'FAMI_TIENEDVD',
 'FAMI_TIENE_NEVERA',
 'FAMI_TIENE_CELULAR',
 'FAMI_TELEFONO',
 'FAMI_INGRESOFMILIARMENSUAL',
 'ESTU_TRABAJAACTUALMENTE',
 'ESTU_RECIBESALARIO',
 'ESTU_ANTECEDENTES',
 'ESTU_ANOSPREESCOLAR',
 'ESTU_ANOMATRICULAPRIMERO',
 'ESTU_ANOTERMINOQUINTO',
 'ESTU_ANOMATRICULASEXTO',
 'ESTU_REPROBOPRIMERO',
 'ESTU_REPROBOSEGUNDO',
 'ESTU_REPROBOTERCERO',
 'ESTU_REPROBOCUARTO',
 'ESTU_REPROBOQUINTO',
 'ESTU_REPROBOSEXTO',
 'ESTU_REPROBOSEPTIMO',
 'ESTU_REPROBOOCTAVO',
 'ESTU_REPROBONOVENO',
 'ESTU_REPROBODECIMO',
 'ESTU_REPROBOONCEMAS',
 'ESTU_ANOSCOLEGIOACTUAL',
 'ESTU_CUANTOSCOLEGIOESTUDIO',
 'ESTU_SERETIROCOLEGIO',
 'ESTU_RAZONRETIROCOLEGIO',
 'ESTU_TOTALALUMNOSCURSO',
 'ESTU_TIPOCARRERADESEADA',
 'ESTU_COD_IESDESEADA',
 'ESTU_IESDESEADA',
 'ESTU_COD_MCPIOIESDESEADA',
 'ESTU_MCPIOIESDESEADA',
 'ESTU_PROGRAMADESEADO',
 'ESTU_INSTPORPRESTIGIO',
 'ESTU_INSTPORCOSTOMATRICULA',
 'ESTU_INSTPORUBICACION',
 'ESTU_INSTPORUNICAQUEOFRECE',
 'ESTU_INSTPOROPORTUNIDADES',
 'ESTU_INSTPORAMIGOSESTUDIANDO',
 'ESTU_INSTPOROTRARAZON',
 'ESTU_COD_PROGRAMADESEADO',
 'ESTU_PROGORIENTACIONVOCACIONAL',
 'ESTU_PROGPORBUSCANDOCARRERA',
 'ESTU_PROGPORCOLOMBIAAPRENDE',
 'ESTU_PROGPORINTERESPERSONAL',
 'ESTU_PROGPORTRADICIONFAMILIAR',
 'ESTU_PROGPORMEJORARPOSICSOCIAL',
 'ESTU_PROGPORINFLUENCIAALGUIEN',
 'ESTU_EXPECTATIVAS',
 'ESTU_INGRESAR_PROG_EDUSUPERIOR',
 'ESTU_PUNT_ESPERADO_LENGUAJE',
 'ESTU_PUNT_ESPERADO_MATEMATICAS',
 'ESTU_PUNT_ESPERADO_INGLES',
 'ESTU_SALARIO_ESPERADOBACHILLER',
 'ESTU_SALARIO_ESPERADOTECNICO',
 'ESTU_SALARIO_ESPERADOPROFESI',
 'COLE_CODIGO_ICFES',
 'COLE_COD_DANE_ESTABLECIMIENTO',
 'COLE_NOMBRE_ESTABLECIMIENTO',
 'COLE_GENERO',
 'COLE_NATURALEZA',
 'COLE_CALENDARIO',
 'COLE_BILINGUE',
 'COLE_CARACTER',
 'COLE_COD_DANE_SEDE',
 'COLE_NOMBRE_SEDE',
 'COLE_SEDE_PRINCIPAL',
 'COLE_AREA_UBICACION',
 'COLE_JORNADA',
 'COLE_COD_MCPIO_UBICACION',
 'COLE_MCPIO_UBICACION',
 'COLE_COD_DEPTO_UBICACION',
 'COLE_DEPTO_UBICACION',
 'ESTU_PRIVADO_LIBERTAD',
 'ESTU_COD_MCPIO_PRESENTACION',
 'ESTU_MCPIO_PRESENTACION',
 'ESTU_DEPTO_PRESENTACION',
 'ESTU_COD_DEPTO_PRESENTACION',
 'PUNT_MATEMATICAS',
 'PUNT_PROFUNDIZA_MATEMATICA',
 'DESEMP_PROFUNDIZA_MATEMATICA',
 'PUNT_CIENCIAS_SOCIALES',
 'PUNT_PROFUNDIZA_CSOCIALES',
 'DESEMP_PROFUNDIZA_CSOCIALES',
 'PUNT_INGLES',
 'DESEMP_INGLES',
 'PUNT_BIOLOGIA',
 'PUNT_PROFUNDIZA_BIOLOGIA',
 'DESEMP_PROFUNDIZA_BIOLOGIA',
 'PUNT_FILOSOFIA',
 'PUNT_INTERDISC_MEDIOAMBIENTE',
 'PUNT_FISICA',
 'PUNT_QUIMICA',
 'PUNT_LENGUAJE',
 'PUNT_PROFUNDIZA_LENGUAJE',
 'DESEMP_PROFUNDIZA_LENGUAJE',
 'PUNT_INTERDISC_VIOLENCIAYSOC',
 'ESTU_PUESTO',
 'RECAF_PUNT_SOCIALES_CIUDADANAS',
 'RECAF_PUNT_INGLES',
 'RECAF_PUNT_LECTURA_CRITICA',
 'RECAF_PUNT_MATEMATICAS',
 'RECAF_PUNT_C_NATURALES',
 'ESTU_ESTADOINVESTIGACION']

In [244]:
columnasPuntos20141 = [
 'COLE_COD_DANE_ESTABLECIMIENTO',
 'COLE_NOMBRE_ESTABLECIMIENTO',
 'PUNT_MATEMATICAS',
 'PUNT_PROFUNDIZA_MATEMATICA',
 'PUNT_CIENCIAS_SOCIALES',
 'PUNT_PROFUNDIZA_CSOCIALES',
 'PUNT_INGLES',
 'PUNT_BIOLOGIA',
 'PUNT_PROFUNDIZA_BIOLOGIA',
 'PUNT_FILOSOFIA',
 'PUNT_INTERDISC_MEDIOAMBIENTE',
 'PUNT_FISICA',
 'PUNT_QUIMICA',
 'PUNT_LENGUAJE',
 'PUNT_PROFUNDIZA_LENGUAJE',
 'PUNT_INTERDISC_VIOLENCIAYSOC']

In [245]:
df1 = df1.select(columnasPuntos20141)

In [246]:
# SE leen los dos archivos y se crean dos dataframes
df2 = spark.read.load(base2 + '/' + estuDic['20142'],"com.databricks.spark.csv",header='true',inferSchema='true',sep='¬')

In [247]:
columnasPuntos20142 = [
 'COLE_COD_DANE_ESTABLECIMIENTO',
 'COLE_NOMBRE_ESTABLECIMIENTO',
 'PUNT_LECTURA_CRITICA',
 'PUNT_MATEMATICAS',
 'PUNT_C_NATURALES',
 'PUNT_SOCIALES_CIUDADANAS',
 'PUNT_RAZONA_CUANTITATIVO',
 'PUNT_COMP_CIUDADANA',
 'PUNT_INGLES'
]

In [248]:
df2 = df2.select(columnasPuntos20142)

In [249]:
#dft = df1.columns.remove('cole_cod_dane_institucion')
cols = df1.columns
cols.remove('COLE_COD_DANE_ESTABLECIMIENTO')
cols.remove('COLE_NOMBRE_ESTABLECIMIENTO')
cols

['PUNT_MATEMATICAS',
 'PUNT_PROFUNDIZA_MATEMATICA',
 'PUNT_CIENCIAS_SOCIALES',
 'PUNT_PROFUNDIZA_CSOCIALES',
 'PUNT_INGLES',
 'PUNT_BIOLOGIA',
 'PUNT_PROFUNDIZA_BIOLOGIA',
 'PUNT_FILOSOFIA',
 'PUNT_INTERDISC_MEDIOAMBIENTE',
 'PUNT_FISICA',
 'PUNT_QUIMICA',
 'PUNT_LENGUAJE',
 'PUNT_PROFUNDIZA_LENGUAJE',
 'PUNT_INTERDISC_VIOLENCIAYSOC']

In [250]:
# SE unen los dos dataframes
# df = unionAll(df1,df2)
for cp in cols:
    df1 = df1.withColumn(cp, regexp_replace(cp, ',', '.'))
    df1 = df1.withColumn(cp, df1[cp].cast("float"))
    df1 = df1.na.fill({cp:0})
df1 = df1.na.fill({'COLE_COD_DANE_ESTABLECIMIENTO':'--'})
df1 = df1.na.fill({'COLE_NOMBRE_ESTABLECIMIENTO':'--'})

In [251]:
# SE evalua sí tiene valores nullos
print("Nùmero de filas con cole_cod_dane_institucion nulos: ", df1.filter("COLE_COD_DANE_ESTABLECIMIENTO = '--'").count())
print("Nùmero de filas con cole_nombre_sede nulos: ", df1.filter("COLE_NOMBRE_ESTABLECIMIENTO = '--'").count())

Nùmero de filas con cole_cod_dane_institucion nulos:  0
Nùmero de filas con cole_nombre_sede nulos:  0

In [252]:
df1 = df1.withColumn('COLE_COD_DANE_ESTABLECIMIENTO', df1['COLE_COD_DANE_ESTABLECIMIENTO'].cast("string"))

In [253]:
cols2 = df2.columns
cols2.remove('COLE_COD_DANE_ESTABLECIMIENTO')
cols2.remove('COLE_NOMBRE_ESTABLECIMIENTO')

In [254]:
for cp in cols2:
    df2 = df2.withColumn(cp, regexp_replace(cp, ',', '.'))
    df2 = df2.withColumn(cp, df2[cp].cast("float"))
    df2 = df2.na.fill({cp:0})
df2 = df2.withColumn('COLE_COD_DANE_ESTABLECIMIENTO', df2['COLE_COD_DANE_ESTABLECIMIENTO'].cast("string"))
df2 = df2.na.fill({'COLE_COD_DANE_ESTABLECIMIENTO':'--'})
df2 = df2.na.fill({'COLE_NOMBRE_ESTABLECIMIENTO':'--'})

In [255]:
# SE evalua sí tiene valores nullos
print("Nùmero de filas con cole_cod_dane_institucion nulos: ", df2.filter("COLE_COD_DANE_ESTABLECIMIENTO = '--'").count())
print("Nùmero de filas con cole_nombre_sede nulos: ", df2.filter("COLE_NOMBRE_ESTABLECIMIENTO = '--'").count())

Nùmero de filas con cole_cod_dane_institucion nulos:  107
Nùmero de filas con cole_nombre_sede nulos:  0

In [256]:
# Contando el numero de estudiantes por instituciòn y mostrandola de forma descendente
dsCountEst1 = df1.groupBy('COLE_COD_DANE_ESTABLECIMIENTO').count().orderBy('count',ascending=
False)
dsCountEst2 = df2.groupBy('COLE_COD_DANE_ESTABLECIMIENTO').count().orderBy('count',ascending=
False)

In [257]:
dsCountEst1 = dsCountEst1.withColumnRenamed("count","num_est")
dsCountEst1.show(10,False)

dsCountEst2 = dsCountEst2.withColumnRenamed("count","num_est")
dsCountEst2.show(10,False)

+-----------------------------+-------+
|COLE_COD_DANE_ESTABLECIMIENTO|num_est|
+-----------------------------+-------+
|311001105863                 |465    |
|305001024544                 |326    |
|305001007861                 |267    |
|476248000478                 |258    |
|376001028219                 |204    |
|376001000721                 |176    |
|376001003461                 |168    |
|311001106410                 |159    |
|376001007670                 |150    |
|376001026925                 |142    |
+-----------------------------+-------+
only showing top 10 rows

+-----------------------------+-------+
|COLE_COD_DANE_ESTABLECIMIENTO|num_est|
+-----------------------------+-------+
|311001105391                 |1133   |
|105001000108                 |1001   |
|311001105863                 |957    |
|105001013340                 |794    |
|105615000236                 |671    |
|305001007861                 |663    |
|176001005813                 |648    |
|305001003963                 |608    |
|105154000301                 |572    |
|405001016946                 |551    |
+-----------------------------+-------+
only showing top 10 rows

In [258]:
rowmax1 = dsCountEst1.agg({"num_est": "max"}).collect()[0]
rowmin1 = dsCountEst1.agg({"num_est": "min"}).collect()[0]

num_est_max1 = rowmax1["max(num_est)"]
num_est_min1 = rowmin1["min(num_est)"]

print("Numero màximo de estudiantes: ",num_est_max1)
print("Numero mìnimo de estudiantes: ",num_est_min1)

Numero màximo de estudiantes:  465
Numero mìnimo de estudiantes:  1

In [259]:
rowmax2 = dsCountEst2.agg({"num_est": "max"}).collect()[0]
rowmin2 = dsCountEst2.agg({"num_est": "min"}).collect()[0]

num_est_max2 = rowmax2["max(num_est)"]
num_est_min2 = rowmin2["min(num_est)"]

print("Numero màximo de estudiantes: ",num_est_max2)
print("Numero mìnimo de estudiantes: ",num_est_min2)

Numero màximo de estudiantes:  1133
Numero mìnimo de estudiantes:  1

In [260]:
#Se crea una columna con el total de los puntajes 
df1= df1.withColumn("Suma",df1['PUNT_MATEMATICAS']+df1['PUNT_PROFUNDIZA_MATEMATICA']+df1['PUNT_CIENCIAS_SOCIALES']+
                     df1['PUNT_PROFUNDIZA_CSOCIALES']+df1['PUNT_INGLES']+df1['PUNT_BIOLOGIA']+df1['PUNT_PROFUNDIZA_BIOLOGIA']+
                     df1['PUNT_FILOSOFIA']+df1['PUNT_INTERDISC_MEDIOAMBIENTE']+df1['PUNT_FISICA']+df1['PUNT_QUIMICA']+
                     df1['PUNT_LENGUAJE']+df1['PUNT_PROFUNDIZA_LENGUAJE']+df1['PUNT_INTERDISC_VIOLENCIAYSOC'])

df2= df2.withColumn("Suma",df2['PUNT_LECTURA_CRITICA']+df2['PUNT_MATEMATICAS']+df2['PUNT_C_NATURALES']
                    +df2['PUNT_SOCIALES_CIUDADANAS']+df2['PUNT_RAZONA_CUANTITATIVO']+df2['PUNT_COMP_CIUDADANA']
                    +df2['PUNT_INGLES'])

## Resultados finales por instituciòn 1er semestre

In [261]:
# Còdigo para obtener la media de los resultados de las evaluaciones de todos los estudiantes por instituciòn 
# y posiciòn en orden descendente.
from pyspark.sql.functions import *
from pyspark.sql.window import Window

#df = df.groupBy('cole_cod_dane_institucion','cole_nombre_sede').mean()
df1 = df1.groupBy('COLE_COD_DANE_ESTABLECIMIENTO','COLE_NOMBRE_ESTABLECIMIENTO').mean()

rowprommax1 = df1.agg({"avg(Suma)": "max"}).collect()[0]
rowprommin1 = df1.agg({"avg(Suma)": "min"}).collect()[0]

prom_est_max1 = rowprommax1["max(avg(Suma))"]
prom_est_min1 = rowprommin1["min(avg(Suma))"]

print("Màxima calificaciòn en colegios: ", prom_est_max1)
print("Mìxima calificaciòn en colegios: ", prom_est_min1)

Màxima calificaciòn en colegios:  594.719298245614
Mìxima calificaciòn en colegios:  271.0

In [262]:
dfjoin1 = df1.join(dsCountEst1,"COLE_COD_DANE_ESTABLECIMIENTO")
dfjoin1.printSchema()

root
 |-- COLE_COD_DANE_ESTABLECIMIENTO: string (nullable = true)
 |-- COLE_NOMBRE_ESTABLECIMIENTO: string (nullable = false)
 |-- avg(PUNT_MATEMATICAS): double (nullable = true)
 |-- avg(PUNT_PROFUNDIZA_MATEMATICA): double (nullable = true)
 |-- avg(PUNT_CIENCIAS_SOCIALES): double (nullable = true)
 |-- avg(PUNT_PROFUNDIZA_CSOCIALES): double (nullable = true)
 |-- avg(PUNT_INGLES): double (nullable = true)
 |-- avg(PUNT_BIOLOGIA): double (nullable = true)
 |-- avg(PUNT_PROFUNDIZA_BIOLOGIA): double (nullable = true)
 |-- avg(PUNT_FILOSOFIA): double (nullable = true)
 |-- avg(PUNT_INTERDISC_MEDIOAMBIENTE): double (nullable = true)
 |-- avg(PUNT_FISICA): double (nullable = true)
 |-- avg(PUNT_QUIMICA): double (nullable = true)
 |-- avg(PUNT_LENGUAJE): double (nullable = true)
 |-- avg(PUNT_PROFUNDIZA_LENGUAJE): double (nullable = true)
 |-- avg(PUNT_INTERDISC_VIOLENCIAYSOC): double (nullable = true)
 |-- avg(Suma): double (nullable = true)
 |-- num_est: long (nullable = false)

In [263]:
dfjoin1= dfjoin1.withColumn("Indice_Prom",round(dfjoin1['avg(Suma)']/prom_est_max1,3))
dfjoin1= dfjoin1.withColumn("Indice_Num",round(dfjoin1['num_est']/num_est_max1,3))
dfjoin1= dfjoin1.withColumn("Indice_Total",round(dfjoin1['Indice_Prom']*dfjoin1['Indice_Num'],3))

In [264]:
dfjoin1 = df1.join(dsCountEst1,"COLE_COD_DANE_ESTABLECIMIENTO")
dfjoin1= dfjoin1.withColumn("Indice_Prom",round(dfjoin1['avg(Suma)']/prom_est_max1,3))
dfjoin1= dfjoin1.withColumn("Indice_Num",round(dfjoin1['num_est']/num_est_max1,3))
dfjoin1= dfjoin1.withColumn("Indice_Total",round(dfjoin1['Indice_Prom']*dfjoin1['Indice_Num'],3))

In [265]:
dfjoin1 = dfjoin1.select('COLE_NOMBRE_ESTABLECIMIENTO','COLE_COD_DANE_ESTABLECIMIENTO','avg(Suma)','num_est','Indice_Prom','Indice_Num','Indice_Total')
dfjoin1 = dfjoin1.withColumn("rankProm", dense_rank().over(Window.orderBy(desc("Indice_Prom"))))
dfjoin1 = dfjoin1.withColumn("rankNum", dense_rank().over(Window.orderBy(desc("Indice_Num"))))
dfjoin1 = dfjoin1.withColumn("rankTotal", dense_rank().over(Window.orderBy(desc("Indice_Total"))))
dfjoin1 = dfjoin1.withColumn("Media",round(dfjoin1['avg(Suma)'],2))

In [266]:
# Se ordena por Indice_Prom
dfjoin1 = dfjoin1.orderBy('rankProm',ascending= True)
dfjoin1.select('COLE_NOMBRE_ESTABLECIMIENTO','Media','Indice_Prom','num_est','rankProm','rankNum','rankTotal').show(10)

+---------------------------+------+-----------+-------+--------+-------+---------+
|COLE_NOMBRE_ESTABLECIMIENTO| Media|Indice_Prom|num_est|rankProm|rankNum|rankTotal|
+---------------------------+------+-----------+-------+--------+-------+---------+
|            COL LOS NOGALES|594.72|        1.0|     57|       1|     62|       50|
|       COL LA QUINTA DEL...|586.77|      0.987|     30|       2|     89|      100|
|       COL SAN MATEO APO...|576.21|      0.969|     61|       3|     58|       47|
|       COL  MONTESSORI B...|570.43|      0.959|     35|       4|     84|       93|
|       COL SAN CARLOS   ...|569.99|      0.958|     92|       5|     30|       22|
|       GIMN VERMONT     ...|569.82|      0.958|    103|       5|     23|       16|
|        ASPAEN LICEO TACURÍ|567.62|      0.954|     13|       6|    106|      134|
|       ASPAEN GIMNASIO C...|564.48|      0.949|     33|       7|     86|       97|
|       COL SAN JORGE DE ...|563.18|      0.947|     88|       8|     32|       25|
|       COL FUNDACION LIC...|561.64|      0.944|     36|       9|     83|       92|
+---------------------------+------+-----------+-------+--------+-------+---------+
only showing top 10 rows

In [267]:
dfjoin1 = dfjoin1.orderBy('rankNum',ascending= True)
dfjoin1.select('COLE_NOMBRE_ESTABLECIMIENTO','Media','Indice_Num','num_est','rankProm','rankNum','rankTotal').show(10)

+---------------------------+------+----------+-------+--------+-------+---------+
|COLE_NOMBRE_ESTABLECIMIENTO| Media|Indice_Num|num_est|rankProm|rankNum|rankTotal|
+---------------------------+------+----------+-------+--------+-------+---------+
|       CENT JOHANN KEPLE...|359.25|       1.0|    465|     244|      1|        1|
|       COL NUEVO CERVANT...|326.86|     0.701|    326|     298|      2|        2|
|            GIMN GUAYACANES|348.07|     0.574|    267|     263|      3|        3|
|       INST TEC CIAL E I...|356.78|     0.555|    258|     248|      4|        4|
|       COLEGIO COMFANDI ...|433.47|     0.439|    204|     138|      5|        5|
|       COLEGIO FRANCISCA...|426.08|     0.378|    176|     145|      6|        7|
|       COLEGIO SAN ANTON...|471.26|     0.361|    168|      95|      7|        6|
|       INST POLITECNICO ...|337.51|     0.342|    159|     280|      8|       20|
|       COLEGIO LEON DE G...|437.57|     0.323|    150|     131|      9|        9|
|        COMFANDI MIRAFLORES|424.01|     0.305|    142|     147|     10|       14|
+---------------------------+------+----------+-------+--------+-------+---------+
only showing top 10 rows

In [268]:
# Se ordena por Indice_Total
dfjoin1 = dfjoin1.orderBy('rankTotal',ascending= True)
dfjoin1.select('COLE_NOMBRE_ESTABLECIMIENTO','Media','Indice_Total','num_est','rankProm','rankNum','rankTotal').show(10)

+---------------------------+------+------------+-------+--------+-------+---------+
|COLE_NOMBRE_ESTABLECIMIENTO| Media|Indice_Total|num_est|rankProm|rankNum|rankTotal|
+---------------------------+------+------------+-------+--------+-------+---------+
|       CENT JOHANN KEPLE...|359.25|       0.604|    465|     244|      1|        1|
|       COL NUEVO CERVANT...|326.86|       0.386|    326|     298|      2|        2|
|            GIMN GUAYACANES|348.07|       0.336|    267|     263|      3|        3|
|       INST TEC CIAL E I...|356.78|       0.333|    258|     248|      4|        4|
|       COLEGIO COMFANDI ...|433.47|        0.32|    204|     138|      5|        5|
|       COLEGIO SAN ANTON...|471.26|       0.286|    168|      95|      7|        6|
|       COLEGIO FRANCISCA...|426.08|       0.271|    176|     145|      6|        7|
|       COL SAN BARTOLOME...| 523.7|       0.239|    126|      45|     15|        8|
|       COLEGIO LEON DE G...|437.57|       0.238|    150|     131|      9|        9|
|       COL NUEVA GRANADA...|520.83|       0.237|    126|      48|     15|       10|
+---------------------------+------+------------+-------+--------+-------+---------+
only showing top 10 rows

In [269]:
dfjoin1.printSchema()

root
 |-- COLE_NOMBRE_ESTABLECIMIENTO: string (nullable = false)
 |-- COLE_COD_DANE_ESTABLECIMIENTO: string (nullable = true)
 |-- avg(Suma): double (nullable = true)
 |-- num_est: long (nullable = false)
 |-- Indice_Prom: double (nullable = true)
 |-- Indice_Num: double (nullable = true)
 |-- Indice_Total: double (nullable = true)
 |-- rankProm: integer (nullable = true)
 |-- rankNum: integer (nullable = true)
 |-- rankTotal: integer (nullable = true)
 |-- Media: double (nullable = true)

## Resultados finales por instituciòn 2do semestre

In [210]:
# Còdigo para obtener la media de los resultados de las evaluaciones de todos los estudiantes por instituciòn 
# y posiciòn en orden descendente.
from pyspark.sql.functions import *
from pyspark.sql.window import Window

#df = df.groupBy('cole_cod_dane_institucion','cole_nombre_sede').mean()
df2 = df2.groupBy('COLE_NOMBRE_ESTABLECIMIENTO','COLE_COD_DANE_ESTABLECIMIENTO').mean()

rowprommax2 = df2.agg({"avg(Suma)": "max"}).collect()[0]
rowprommin2 = df2.agg({"avg(Suma)": "min"}).collect()[0]

prom_est_max2 = rowprommax1["max(avg(Suma))"]
prom_est_min2 = rowprommin1["min(avg(Suma))"]

print("Màxima calificaciòn en colegios: ", prom_est_max2)
print("Mìxima calificaciòn en colegios: ", prom_est_min2)

Màxima calificaciòn en colegios:  594.719298245614
Mìxima calificaciòn en colegios:  271.0

In [211]:
dfjoin2 = df2.join(dsCountEst2,"COLE_COD_DANE_ESTABLECIMIENTO")
dfjoin2= dfjoin2.withColumn("Indice_Prom",round(dfjoin2['avg(Suma)']/prom_est_max2,3))
dfjoin2= dfjoin2.withColumn("Indice_Num",round(dfjoin2['num_est']/num_est_max2,3))
dfjoin2= dfjoin2.withColumn("Indice_Total",round(dfjoin2['Indice_Prom']*dfjoin2['Indice_Num'],3))

In [212]:
dfjoin2 = dfjoin2.select('COLE_NOMBRE_ESTABLECIMIENTO','avg(Suma)','num_est','Indice_Prom','Indice_Num','Indice_Total')
dfjoin2 = dfjoin2.withColumn("rankProm", dense_rank().over(Window.orderBy(desc("Indice_Prom"))))
dfjoin2 = dfjoin2.withColumn("rankNum", dense_rank().over(Window.orderBy(desc("Indice_Num"))))
dfjoin2 = dfjoin2.withColumn("rankTotal", dense_rank().over(Window.orderBy(desc("Indice_Total"))))
dfjoin2 = dfjoin2.withColumn("Media",round(dfjoin2['avg(Suma)'],2))

In [213]:
# Se ordena por Indice_Prom
dfjoin2 = dfjoin2.orderBy('rankProm',ascending= True)
dfjoin2.select('COLE_NOMBRE_ESTABLECIMIENTO','Media','Indice_Prom','num_est','rankProm','rankNum','rankTotal').show(10)

+---------------------------+------+-----------+-------+--------+-------+---------+
|COLE_NOMBRE_ESTABLECIMIENTO| Media|Indice_Prom|num_est|rankProm|rankNum|rankTotal|
+---------------------------+------+-----------+-------+--------+-------+---------+
|       COLOMBO BRITANICO...|541.58|      0.911|     72|       1|    252|      155|
|       CAMBRIDGE SCHOOL ...|538.57|      0.906|     14|       2|    304|      202|
|                LIC NAVARRA|534.09|      0.898|     45|       3|    276|      177|
|        INST ALBERTO MERANI|530.41|      0.892|     32|       4|    288|      188|
|       COL NUEVO COLOMBO...|527.86|      0.888|     65|       5|    259|      162|
|            LIC CAMPO DAVID|526.35|      0.885|     17|       6|    301|      200|
|        COL ANGLO AMERICANO|524.37|      0.882|    166|       7|    169|       83|
|                 COL REFOUS|523.81|      0.881|     72|       8|    252|      157|
|        COLEGIO CORAZONISTA|519.91|      0.874|    149|       9|    184|       98|
|             COL EL ROSARIO|516.62|      0.869|     42|      10|    279|      181|
+---------------------------+------+-----------+-------+--------+-------+---------+
only showing top 10 rows

In [214]:
dfjoin2 = dfjoin2.orderBy('rankNum',ascending= True)
dfjoin2.select('COLE_NOMBRE_ESTABLECIMIENTO','Media','Indice_Num','num_est','rankProm','rankNum','rankTotal').show(10)

+---------------------------+------+----------+-------+--------+-------+---------+
|COLE_NOMBRE_ESTABLECIMIENTO| Media|Indice_Num|num_est|rankProm|rankNum|rankTotal|
+---------------------------+------+----------+-------+--------+-------+---------+
|       COL TECNISISTEMAS...|337.34|       1.0|   1133|     278|      1|        1|
|             INST EDUC CEFA|376.28|     0.883|   1001|     212|      2|        2|
|         CENT JOHANN KEPLER|320.51|     0.845|    957|     306|      3|        4|
|       INST EDUC INEM JO...|388.74|     0.701|    794|     191|      4|        3|
|       I. E. ESCUELA NOR...|316.58|     0.592|    671|     313|      5|        8|
|            GIMN GUAYACANES|316.58|     0.585|    663|     313|      6|        9|
|       INSTITUCION EDUCA...|367.61|     0.572|    648|     227|      7|        6|
|       LIC SALAZAR Y HER...|399.25|     0.537|    608|     174|      8|        5|
|       I. E. LICEO CAUCASIA|331.38|     0.505|    572|     288|      9|       13|
|       COL COOP SAN ANTO...|315.31|     0.486|    551|     315|     10|       15|
+---------------------------+------+----------+-------+--------+-------+---------+
only showing top 10 rows

In [215]:
# Se ordena por Indice_Total
dfjoin2 = dfjoin2.orderBy('rankTotal',ascending= True)
dfjoin2.select('COLE_NOMBRE_ESTABLECIMIENTO','Media','Indice_Total','num_est','rankProm','rankNum','rankTotal').show(10)

+---------------------------+------+------------+-------+--------+-------+---------+
|COLE_NOMBRE_ESTABLECIMIENTO| Media|Indice_Total|num_est|rankProm|rankNum|rankTotal|
+---------------------------+------+------------+-------+--------+-------+---------+
|       COL TECNISISTEMAS...|337.34|       0.567|   1133|     278|      1|        1|
|             INST EDUC CEFA|376.28|       0.559|   1001|     212|      2|        2|
|       INST EDUC INEM JO...|388.74|       0.458|    794|     191|      4|        3|
|         CENT JOHANN KEPLER|320.51|       0.455|    957|     306|      3|        4|
|       LIC SALAZAR Y HER...|399.25|        0.36|    608|     174|      8|        5|
|       INSTITUCION EDUCA...|367.61|       0.353|    648|     227|      7|        6|
|       COLEGIO DE LA UNI...|424.35|       0.342|    543|     131|     11|        7|
|       I. E. ESCUELA NOR...|316.58|       0.315|    671|     313|      5|        8|
|            GIMN GUAYACANES|316.58|       0.311|    663|     313|      6|        9|
|       COLEGIO NACIONAL ...|389.46|        0.29|    501|     190|     14|       10|
+---------------------------+------+------------+-------+--------+-------+---------+
only showing top 10 rows

## Colegios primer semestre

In [216]:
# SE crea Dataframe de colegios primer semestre
dfc = spark.read.load(base + '/' + coleDic['20141'],"com.databricks.spark.csv",header='true',inferSchema='true',sep='\t')
dfc = dfc.withColumn('COLE_COD_DANE', dfc['COLE_COD_DANE'].cast("string"))

In [217]:
print(dfc.printSchema())

root
 |-- PERIODO: integer (nullable = true)
 |-- COLE_COD_DANE: string (nullable = true)
 |-- COLE_INST_NOMBRE: string (nullable = true)
 |-- COLE_CODMPIO_COLEGIO: integer (nullable = true)
 |-- COLE_MPIO_MUNICIPIO: string (nullable = true)
 |-- COLE_DEPTO_COLEGIO: string (nullable = true)
 |-- COLE_INST_JORNADA: string (nullable = true)
 |-- COLE_CALENDARIO_COLEGIO: string (nullable = true)
 |-- COLE_GENEROPOBLACION: string (nullable = true)
 |-- COLE_NATURALEZA: string (nullable = true)
 |-- COLE_QUIMICA: integer (nullable = true)
 |-- COLE_FISICA: integer (nullable = true)
 |-- COLE_BIOLOGIA: integer (nullable = true)
 |-- COLE_FILOSOFIA: integer (nullable = true)
 |-- COLE_MATEMATICAS: integer (nullable = true)
 |-- COLE_LENGUAJE: integer (nullable = true)
 |-- COLE_CIENCIAS_SOCIALES: integer (nullable = true)
 |-- COLE_INGLES: integer (nullable = true)
 |-- COLE_CATEGORIA: string (nullable = true)
 |-- COLE_ESTUDIANTES_PRESENTES: integer (nullable = true)

None

In [218]:
colsColegio = dfc.columns

In [219]:
dfc.select('COLE_COD_DANE','COLE_INST_NOMBRE','COLE_ESTUDIANTES_PRESENTES').show(10)

+-------------+--------------------+--------------------------+
|COLE_COD_DANE|    COLE_INST_NOMBRE|COLE_ESTUDIANTES_PRESENTES|
+-------------+--------------------+--------------------------+
|        86769|COLEGIO SAN LUIS ...|                         7|
|        36889|COLEGIO LOS ANGEL...|                        52|
|       150581|  COLEGIO SAN RAFAEL|                        19|
|       136036|CENT EDUC DIST CA...|                        37|
|       136952|CENT EDUC DIST CA...|                        20|
|         4986|IE TECNICA PIO AL...|                        30|
|         5785|INSTITUCION EDUCA...|                        24|
|        41459|COLEGIO COMERCIAL...|                        11|
|       158725|           SIGLO XXI|                        13|
|       106120|EL NUEVO COL THE ...|                        47|
+-------------+--------------------+--------------------------+
only showing top 10 rows

In [220]:
print("El numero de colegios es: ", dfc.count())

El numero de colegios es:  365

## Colegios segundo semestre

In [221]:
# SE crea Dataframe de colegios primer semestre
dfc2 = spark.read.load(base + '/' + coleDic['20142'],"com.databricks.spark.csv",header='true',inferSchema='true',sep='|')
dfc2 = dfc2.withColumn('COLE_COD_DANE', dfc2['COLE_COD_DANE'].cast("string"))

In [222]:
dfc2.select('COLE_COD_DANE','COLE_INST_NOMBRE','INDICE_TOTAL').show(10)

+-------------+--------------------+------------+
|COLE_COD_DANE|    COLE_INST_NOMBRE|INDICE_TOTAL|
+-------------+--------------------+------------+
| 205790000235| I. E. LA INMACULADA|      0,6112|
| 154128000019|INST EDUCATIVA CO...|      0,6924|
| 108433000051|INSTITUCION EDUCA...|      0,6012|
| 105147000568|I. E. JOSE MARIA ...|      0,6692|
| 105147000401|      I. E. COLOMBIA|      0,6408|
| 219110000636|INSTITUCION EDUCA...|      0,5284|
| 419110000970|          I.E. TIMBA|      0,6417|
| 111001104264|COLEGIO GERARDO M...|      0,6945|
| 205138000142|I. E. R. BUENOS A...|      0,6721|
| 276364001458|    I.E. SAN ANTONIO|       0,607|
+-------------+--------------------+------------+
only showing top 10 rows

In [223]:
print("El numero de colegios segundo semestre: ", dfc2.count())

El numero de colegios segundo semestre:  10927

## Anàlisis comparativo entre estudiantes y colegios primer semestre

In [270]:
dfjoin1.printSchema()

root
 |-- COLE_NOMBRE_ESTABLECIMIENTO: string (nullable = false)
 |-- COLE_COD_DANE_ESTABLECIMIENTO: string (nullable = true)
 |-- avg(Suma): double (nullable = true)
 |-- num_est: long (nullable = false)
 |-- Indice_Prom: double (nullable = true)
 |-- Indice_Num: double (nullable = true)
 |-- Indice_Total: double (nullable = true)
 |-- rankProm: integer (nullable = true)
 |-- rankNum: integer (nullable = true)
 |-- rankTotal: integer (nullable = true)
 |-- Media: double (nullable = true)

In [271]:
dfjoinPorCod = dfjoin1.join(dfc, dfjoin1.COLE_COD_DANE_ESTABLECIMIENTO == dfc.COLE_COD_DANE)

In [272]:
print("Nùmero de colegios coincidentes entre el archivo de estudiantes 1er semestre y colegios:", dfjoinPorCod.count())

Nùmero de colegios coincidentes entre el archivo de estudiantes 1er semestre y colegios: 0

In [273]:
dfjoinPorNom = dfjoin1.join(dfc, dfjoin1.COLE_NOMBRE_ESTABLECIMIENTO == dfc.COLE_INST_NOMBRE)

In [274]:
print("Nùmero de colegios coincidentes entre el archivo de estudiantes 1er semestre y colegios:", dfjoinPorNom.count())

Nùmero de colegios coincidentes entre el archivo de estudiantes 1er semestre y colegios: 169

In [275]:
dfjoinPorNom.printSchema()

root
 |-- COLE_NOMBRE_ESTABLECIMIENTO: string (nullable = false)
 |-- COLE_COD_DANE_ESTABLECIMIENTO: string (nullable = true)
 |-- avg(Suma): double (nullable = true)
 |-- num_est: long (nullable = false)
 |-- Indice_Prom: double (nullable = true)
 |-- Indice_Num: double (nullable = true)
 |-- Indice_Total: double (nullable = true)
 |-- rankProm: integer (nullable = true)
 |-- rankNum: integer (nullable = true)
 |-- rankTotal: integer (nullable = true)
 |-- Media: double (nullable = true)
 |-- PERIODO: integer (nullable = true)
 |-- COLE_COD_DANE: string (nullable = true)
 |-- COLE_INST_NOMBRE: string (nullable = true)
 |-- COLE_CODMPIO_COLEGIO: integer (nullable = true)
 |-- COLE_MPIO_MUNICIPIO: string (nullable = true)
 |-- COLE_DEPTO_COLEGIO: string (nullable = true)
 |-- COLE_INST_JORNADA: string (nullable = true)
 |-- COLE_CALENDARIO_COLEGIO: string (nullable = true)
 |-- COLE_GENEROPOBLACION: string (nullable = true)
 |-- COLE_NATURALEZA: string (nullable = true)
 |-- COLE_QUIMICA: integer (nullable = true)
 |-- COLE_FISICA: integer (nullable = true)
 |-- COLE_BIOLOGIA: integer (nullable = true)
 |-- COLE_FILOSOFIA: integer (nullable = true)
 |-- COLE_MATEMATICAS: integer (nullable = true)
 |-- COLE_LENGUAJE: integer (nullable = true)
 |-- COLE_CIENCIAS_SOCIALES: integer (nullable = true)
 |-- COLE_INGLES: integer (nullable = true)
 |-- COLE_CATEGORIA: string (nullable = true)
 |-- COLE_ESTUDIANTES_PRESENTES: integer (nullable = true)

In [281]:
# Se cruza la informaciòn por el nombre del colegio - se evidencia que el còdigo DANE no coincide
dfjoinPorNom = dfjoinPorNom.withColumn("rankIndiceTotal", dense_rank().over(Window.orderBy(desc("INDICE_TOTAL"))))
dfjoinPorNom.select('rankProm','rankIndiceTotal','COLE_NOMBRE_ESTABLECIMIENTO','INDICE_TOTAL','COLE_COD_DANE_ESTABLECIMIENTO','COLE_COD_DANE').show(10)

+--------+---------------+---------------------------+------------+-----------------------------+-------------+
|rankProm|rankIndiceTotal|COLE_NOMBRE_ESTABLECIMIENTO|INDICE_TOTAL|COLE_COD_DANE_ESTABLECIMIENTO|COLE_COD_DANE|
+--------+---------------+---------------------------+------------+-----------------------------+-------------+
|     138|              1|       COLEGIO COMFANDI ...|        0.32|                 376001028219|        58727|
|      95|              2|       COLEGIO SAN ANTON...|       0.286|                 376001003461|        17293|
|     145|              3|       COLEGIO FRANCISCA...|       0.271|                 376001000721|        16980|
|      26|              4|              COL BERCHMANS|       0.236|                 376001000276|        17335|
|     104|              5|          COLEGIO AMERICANO|       0.222|                 376001001116|        16691|
|     122|              6|       COLEGIO CLARETIAN...|       0.217|                 376001000012|        17368|
|     147|              6|        COMFANDI MIRAFLORES|       0.217|                 376001026925|        36681|
|      67|              7|       COL. SAN LUIS GON...|       0.215|                 317001001896|         6023|
|       5|              8|       GIMN VERMONT     ...|       0.213|                 311848000278|        25130|
|      33|              9|       COL ANDINO       ...|       0.202|                 311769003474|        19349|
+--------+---------------+---------------------------+------------+-----------------------------+-------------+
only showing top 10 rows

## Anàlisis comparativo entre estudiantes y colegios segundo semestre

In [290]:
# SE crea Dataframe de colegios segundo semestre
dfc2 = spark.read.load(base + '/' + coleDic['20142'],"com.databricks.spark.csv",header='true',inferSchema='true',sep='|')
dfc2 = dfc2.withColumn('COLE_COD_DANE', dfc2['COLE_COD_DANE'].cast("string"))

In [291]:
dfjoin2 = df2.join(dfc2, df2.COLE_COD_DANE_ESTABLECIMIENTO == dfc2.COLE_COD_DANE)

In [292]:
print("Nùmero de colegios coincidentes entre el archivo de estudiantes 2do semestre y colegios:", dfjoin2.count())

Nùmero de colegios coincidentes entre el archivo de estudiantes 2do semestre y colegios: 643385

In [289]:
dfjoin2.printSchema()

root
 |-- COLE_COD_DANE_ESTABLECIMIENTO: string (nullable = false)
 |-- COLE_NOMBRE_ESTABLECIMIENTO: string (nullable = false)
 |-- PUNT_LECTURA_CRITICA: float (nullable = false)
 |-- PUNT_MATEMATICAS: float (nullable = false)
 |-- PUNT_C_NATURALES: float (nullable = false)
 |-- PUNT_SOCIALES_CIUDADANAS: float (nullable = false)
 |-- PUNT_RAZONA_CUANTITATIVO: float (nullable = false)
 |-- PUNT_COMP_CIUDADANA: float (nullable = false)
 |-- PUNT_INGLES: float (nullable = false)
 |-- Suma: float (nullable = false)
 |-- PERIODO: integer (nullable = true)
 |-- COLE_COD_DANE: string (nullable = true)
 |-- COLE_INST_NOMBRE: string (nullable = true)
 |-- COLE_CODMPIO_COLEGIO: integer (nullable = true)
 |-- COLE_MPIO_MUNICIPIO: string (nullable = true)
 |-- COLE_COD_DEPTO: integer (nullable = true)
 |-- COLE_DEPTO_COLEGIO: string (nullable = true)
 |-- COLE_NATURALEZA: string (nullable = true)
 |-- COLE_GRADO: integer (nullable = true)
 |-- COLE_CALENDARIO_COLEGIO: string (nullable = true)
 |-- COLE_GENEROPOBLACION: string (nullable = true)
 |-- MATRICULADOS_ULTIMOS_3: integer (nullable = true)
 |-- EVALUADOS_ULTIMOS_3: integer (nullable = true)
 |-- INDICE_MATEMATICAS: string (nullable = true)
 |-- INDICE_C_NATURALES: string (nullable = true)
 |-- INDICE_SOCIALES_CIUDADANAS: string (nullable = true)
 |-- INDICE_LECTURA_CRITICA: string (nullable = true)
 |-- INDICE_INGLES: string (nullable = true)
 |-- INDICE_TOTAL: string (nullable = true)
 |-- COLE_CATEGORIA: string (nullable = true)
 |-- rankIndiceTotal: integer (nullable = true)

In [288]:
dfjoin2 = dfjoin2.withColumn("rankIndiceTotal", dense_rank().over(Window.orderBy(desc("INDICE_TOTAL"))))
dfjoin2.select('rankProm','rankIndiceTotal','INDICE_TOTAL','COLE_COD_DANE_ESTABLECIMIENTO','COLE_NOMBRE_ESTABLECIMIENTO','INDICE_TOTAL').show(10)

AnalysisException: "cannot resolve '`rankProm`' given input columns: [COLE_NATURALEZA, COLE_GENEROPOBLACION, INDICE_SOCIALES_CIUDADANAS, INDICE_INGLES, PUNT_RAZONA_CUANTITATIVO, COLE_COD_DEPTO, PUNT_MATEMATICAS, INDICE_TOTAL, rankIndiceTotal, COLE_COD_DANE, INDICE_LECTURA_CRITICA, COLE_DEPTO_COLEGIO, COLE_NOMBRE_ESTABLECIMIENTO, COLE_GRADO, PUNT_LECTURA_CRITICA, COLE_CALENDARIO_COLEGIO, COLE_COD_DANE_ESTABLECIMIENTO, PUNT_C_NATURALES, PUNT_COMP_CIUDADANA, PUNT_INGLES, PUNT_SOCIALES_CIUDADANAS, COLE_INST_NOMBRE, PERIODO, COLE_MPIO_MUNICIPIO, COLE_CODMPIO_COLEGIO, Suma, INDICE_MATEMATICAS, MATRICULADOS_ULTIMOS_3, EVALUADOS_ULTIMOS_3, INDICE_C_NATURALES, COLE_CATEGORIA];;\n'Project ['rankProm, rankIndiceTotal#18866, INDICE_TOTAL#18654, COLE_COD_DANE_ESTABLECIMIENTO#17247, COLE_NOMBRE_ESTABLECIMIENTO#17266, INDICE_TOTAL#18654]\n+- Project [COLE_COD_DANE_ESTABLECIMIENTO#17247, COLE_NOMBRE_ESTABLECIMIENTO#17266, PUNT_LECTURA_CRITICA#16984, PUNT_MATEMATICAS#17023, PUNT_C_NATURALES#17062, PUNT_SOCIALES_CIUDADANAS#17101, PUNT_RAZONA_CUANTITATIVO#17140, PUNT_COMP_CIUDADANA#17179, PUNT_INGLES#17218, Suma#17415, PERIODO#18636, COLE_COD_DANE#18676, COLE_INST_NOMBRE#18638, COLE_CODMPIO_COLEGIO#18639, COLE_MPIO_MUNICIPIO#18640, COLE_COD_DEPTO#18641, COLE_DEPTO_COLEGIO#18642, COLE_NATURALEZA#18643, COLE_GRADO#18644, COLE_CALENDARIO_COLEGIO#18645, COLE_GENEROPOBLACION#18646, MATRICULADOS_ULTIMOS_3#18647, EVALUADOS_ULTIMOS_3#18648, INDICE_MATEMATICAS#18649, ... 7 more fields]\n   +- Project [COLE_COD_DANE_ESTABLECIMIENTO#17247, COLE_NOMBRE_ESTABLECIMIENTO#17266, PUNT_LECTURA_CRITICA#16984, PUNT_MATEMATICAS#17023, PUNT_C_NATURALES#17062, PUNT_SOCIALES_CIUDADANAS#17101, PUNT_RAZONA_CUANTITATIVO#17140, PUNT_COMP_CIUDADANA#17179, PUNT_INGLES#17218, Suma#17415, PERIODO#18636, COLE_COD_DANE#18676, COLE_INST_NOMBRE#18638, COLE_CODMPIO_COLEGIO#18639, COLE_MPIO_MUNICIPIO#18640, COLE_COD_DEPTO#18641, COLE_DEPTO_COLEGIO#18642, COLE_NATURALEZA#18643, COLE_GRADO#18644, COLE_CALENDARIO_COLEGIO#18645, COLE_GENEROPOBLACION#18646, MATRICULADOS_ULTIMOS_3#18647, EVALUADOS_ULTIMOS_3#18648, INDICE_MATEMATICAS#18649, ... 8 more fields]\n      +- Window [dense_rank(INDICE_TOTAL#18654) windowspecdefinition(INDICE_TOTAL#18654 DESC NULLS LAST, specifiedwindowframe(RowFrame, unboundedpreceding$(), currentrow$())) AS rankIndiceTotal#18866], [INDICE_TOTAL#18654 DESC NULLS LAST]\n         +- Project [COLE_COD_DANE_ESTABLECIMIENTO#17247, COLE_NOMBRE_ESTABLECIMIENTO#17266, PUNT_LECTURA_CRITICA#16984, PUNT_MATEMATICAS#17023, PUNT_C_NATURALES#17062, PUNT_SOCIALES_CIUDADANAS#17101, PUNT_RAZONA_CUANTITATIVO#17140, PUNT_COMP_CIUDADANA#17179, PUNT_INGLES#17218, Suma#17415, PERIODO#18636, COLE_COD_DANE#18676, COLE_INST_NOMBRE#18638, COLE_CODMPIO_COLEGIO#18639, COLE_MPIO_MUNICIPIO#18640, COLE_COD_DEPTO#18641, COLE_DEPTO_COLEGIO#18642, COLE_NATURALEZA#18643, COLE_GRADO#18644, COLE_CALENDARIO_COLEGIO#18645, COLE_GENEROPOBLACION#18646, MATRICULADOS_ULTIMOS_3#18647, EVALUADOS_ULTIMOS_3#18648, INDICE_MATEMATICAS#18649, ... 6 more fields]\n            +- Project [COLE_COD_DANE_ESTABLECIMIENTO#17247, COLE_NOMBRE_ESTABLECIMIENTO#17266, PUNT_LECTURA_CRITICA#16984, PUNT_MATEMATICAS#17023, PUNT_C_NATURALES#17062, PUNT_SOCIALES_CIUDADANAS#17101, PUNT_RAZONA_CUANTITATIVO#17140, PUNT_COMP_CIUDADANA#17179, PUNT_INGLES#17218, Suma#17415, PERIODO#18636, COLE_COD_DANE#18676, COLE_INST_NOMBRE#18638, COLE_CODMPIO_COLEGIO#18639, COLE_MPIO_MUNICIPIO#18640, COLE_COD_DEPTO#18641, COLE_DEPTO_COLEGIO#18642, COLE_NATURALEZA#18643, COLE_GRADO#18644, COLE_CALENDARIO_COLEGIO#18645, COLE_GENEROPOBLACION#18646, MATRICULADOS_ULTIMOS_3#18647, EVALUADOS_ULTIMOS_3#18648, INDICE_MATEMATICAS#18649, ... 7 more fields]\n               +- Project [COLE_COD_DANE_ESTABLECIMIENTO#17247, COLE_NOMBRE_ESTABLECIMIENTO#17266, PUNT_LECTURA_CRITICA#16984, PUNT_MATEMATICAS#17023, PUNT_C_NATURALES#17062, PUNT_SOCIALES_CIUDADANAS#17101, PUNT_RAZONA_CUANTITATIVO#17140, PUNT_COMP_CIUDADANA#17179, PUNT_INGLES#17218, Suma#17415, PERIODO#18636, COLE_COD_DANE#18676, COLE_INST_NOMBRE#18638, COLE_CODMPIO_COLEGIO#18639, COLE_MPIO_MUNICIPIO#18640, COLE_COD_DEPTO#18641, COLE_DEPTO_COLEGIO#18642, COLE_NATURALEZA#18643, COLE_GRADO#18644, COLE_CALENDARIO_COLEGIO#18645, COLE_GENEROPOBLACION#18646, MATRICULADOS_ULTIMOS_3#18647, EVALUADOS_ULTIMOS_3#18648, INDICE_MATEMATICAS#18649, ... 8 more fields]\n                  +- Window [dense_rank(INDICE_TOTAL#18654) windowspecdefinition(INDICE_TOTAL#18654 DESC NULLS LAST, specifiedwindowframe(RowFrame, unboundedpreceding$(), currentrow$())) AS rankIndiceTotal#18826], [INDICE_TOTAL#18654 DESC NULLS LAST]\n                     +- Project [COLE_COD_DANE_ESTABLECIMIENTO#17247, COLE_NOMBRE_ESTABLECIMIENTO#17266, PUNT_LECTURA_CRITICA#16984, PUNT_MATEMATICAS#17023, PUNT_C_NATURALES#17062, PUNT_SOCIALES_CIUDADANAS#17101, PUNT_RAZONA_CUANTITATIVO#17140, PUNT_COMP_CIUDADANA#17179, PUNT_INGLES#17218, Suma#17415, PERIODO#18636, COLE_COD_DANE#18676, COLE_INST_NOMBRE#18638, COLE_CODMPIO_COLEGIO#18639, COLE_MPIO_MUNICIPIO#18640, COLE_COD_DEPTO#18641, COLE_DEPTO_COLEGIO#18642, COLE_NATURALEZA#18643, COLE_GRADO#18644, COLE_CALENDARIO_COLEGIO#18645, COLE_GENEROPOBLACION#18646, MATRICULADOS_ULTIMOS_3#18647, EVALUADOS_ULTIMOS_3#18648, INDICE_MATEMATICAS#18649, ... 6 more fields]\n                        +- Join Inner, (COLE_COD_DANE_ESTABLECIMIENTO#17247 = COLE_COD_DANE#18676)\n                           :- Project [COLE_COD_DANE_ESTABLECIMIENTO#17247, COLE_NOMBRE_ESTABLECIMIENTO#17266, PUNT_LECTURA_CRITICA#16984, PUNT_MATEMATICAS#17023, PUNT_C_NATURALES#17062, PUNT_SOCIALES_CIUDADANAS#17101, PUNT_RAZONA_CUANTITATIVO#17140, PUNT_COMP_CIUDADANA#17179, PUNT_INGLES#17218, ((((((PUNT_LECTURA_CRITICA#16984 + PUNT_MATEMATICAS#17023) + PUNT_C_NATURALES#17062) + PUNT_SOCIALES_CIUDADANAS#17101) + PUNT_RAZONA_CUANTITATIVO#17140) + PUNT_COMP_CIUDADANA#17179) + PUNT_INGLES#17218) AS Suma#17415]\n                           :  +- Project [COLE_COD_DANE_ESTABLECIMIENTO#17247, coalesce(COLE_NOMBRE_ESTABLECIMIENTO#15705, cast(-- as string)) AS COLE_NOMBRE_ESTABLECIMIENTO#17266, PUNT_LECTURA_CRITICA#16984, PUNT_MATEMATICAS#17023, PUNT_C_NATURALES#17062, PUNT_SOCIALES_CIUDADANAS#17101, PUNT_RAZONA_CUANTITATIVO#17140, PUNT_COMP_CIUDADANA#17179, PUNT_INGLES#17218]\n                           :     +- Project [coalesce(COLE_COD_DANE_ESTABLECIMIENTO#17228, cast(-- as string)) AS COLE_COD_DANE_ESTABLECIMIENTO#17247, COLE_NOMBRE_ESTABLECIMIENTO#15705, PUNT_LECTURA_CRITICA#16984, PUNT_MATEMATICAS#17023, PUNT_C_NATURALES#17062, PUNT_SOCIALES_CIUDADANAS#17101, PUNT_RAZONA_CUANTITATIVO#17140, PUNT_COMP_CIUDADANA#17179, PUNT_INGLES#17218]\n                           :        +- Project [cast(COLE_COD_DANE_ESTABLECIMIENTO#15704L as string) AS COLE_COD_DANE_ESTABLECIMIENTO#17228, COLE_NOMBRE_ESTABLECIMIENTO#15705, PUNT_LECTURA_CRITICA#16984, PUNT_MATEMATICAS#17023, PUNT_C_NATURALES#17062, PUNT_SOCIALES_CIUDADANAS#17101, PUNT_RAZONA_CUANTITATIVO#17140, PUNT_COMP_CIUDADANA#17179, PUNT_INGLES#17218]\n                           :           +- Project [COLE_COD_DANE_ESTABLECIMIENTO#15704L, COLE_NOMBRE_ESTABLECIMIENTO#15705, PUNT_LECTURA_CRITICA#16984, PUNT_MATEMATICAS#17023, PUNT_C_NATURALES#17062, PUNT_SOCIALES_CIUDADANAS#17101, PUNT_RAZONA_CUANTITATIVO#17140, PUNT_COMP_CIUDADANA#17179, coalesce(nanvl(PUNT_INGLES#17199, cast(null as float)), cast(0 as float)) AS PUNT_INGLES#17218]\n                           :              +- Project [COLE_COD_DANE_ESTABLECIMIENTO#15704L, COLE_NOMBRE_ESTABLECIMIENTO#15705, PUNT_LECTURA_CRITICA#16984, PUNT_MATEMATICAS#17023, PUNT_C_NATURALES#17062, PUNT_SOCIALES_CIUDADANAS#17101, PUNT_RAZONA_CUANTITATIVO#17140, PUNT_COMP_CIUDADANA#17179, cast(PUNT_INGLES#17189 as float) AS PUNT_INGLES#17199]\n                           :                 +- Project [COLE_COD_DANE_ESTABLECIMIENTO#15704L, COLE_NOMBRE_ESTABLECIMIENTO#15705, PUNT_LECTURA_CRITICA#16984, PUNT_MATEMATICAS#17023, PUNT_C_NATURALES#17062, PUNT_SOCIALES_CIUDADANAS#17101, PUNT_RAZONA_CUANTITATIVO#17140, PUNT_COMP_CIUDADANA#17179, regexp_replace(cast(PUNT_INGLES#15737 as string), ,, .) AS PUNT_INGLES#17189]\n                           :                    +- Project [COLE_COD_DANE_ESTABLECIMIENTO#15704L, COLE_NOMBRE_ESTABLECIMIENTO#15705, PUNT_LECTURA_CRITICA#16984, PUNT_MATEMATICAS#17023, PUNT_C_NATURALES#17062, PUNT_SOCIALES_CIUDADANAS#17101, PUNT_RAZONA_CUANTITATIVO#17140, coalesce(nanvl(PUNT_COMP_CIUDADANA#17160, cast(null as float)), cast(0 as float)) AS PUNT_COMP_CIUDADANA#17179, PUNT_INGLES#15737]\n                           :                       +- Project [COLE_COD_DANE_ESTABLECIMIENTO#15704L, COLE_NOMBRE_ESTABLECIMIENTO#15705, PUNT_LECTURA_CRITICA#16984, PUNT_MATEMATICAS#17023, PUNT_C_NATURALES#17062, PUNT_SOCIALES_CIUDADANAS#17101, PUNT_RAZONA_CUANTITATIVO#17140, cast(PUNT_COMP_CIUDADANA#17150 as float) AS PUNT_COMP_CIUDADANA#17160, PUNT_INGLES#15737]\n                           :                          +- Project [COLE_COD_DANE_ESTABLECIMIENTO#15704L, COLE_NOMBRE_ESTABLECIMIENTO#15705, PUNT_LECTURA_CRITICA#16984, PUNT_MATEMATICAS#17023, PUNT_C_NATURALES#17062, PUNT_SOCIALES_CIUDADANAS#17101, PUNT_RAZONA_CUANTITATIVO#17140, regexp_replace(cast(PUNT_COMP_CIUDADANA#15735 as string), ,, .) AS PUNT_COMP_CIUDADANA#17150, PUNT_INGLES#15737]\n                           :                             +- Project [COLE_COD_DANE_ESTABLECIMIENTO#15704L, COLE_NOMBRE_ESTABLECIMIENTO#15705, PUNT_LECTURA_CRITICA#16984, PUNT_MATEMATICAS#17023, PUNT_C_NATURALES#17062, PUNT_SOCIALES_CIUDADANAS#17101, coalesce(nanvl(PUNT_RAZONA_CUANTITATIVO#17121, cast(null as float)), cast(0 as float)) AS PUNT_RAZONA_CUANTITATIVO#17140, PUNT_COMP_CIUDADANA#15735, PUNT_INGLES#15737]\n                           :                                +- Project [COLE_COD_DANE_ESTABLECIMIENTO#15704L, COLE_NOMBRE_ESTABLECIMIENTO#15705, PUNT_LECTURA_CRITICA#16984, PUNT_MATEMATICAS#17023, PUNT_C_NATURALES#17062, PUNT_SOCIALES_CIUDADANAS#17101, cast(PUNT_RAZONA_CUANTITATIVO#17111 as float) AS PUNT_RAZONA_CUANTITATIVO#17121, PUNT_COMP_CIUDADANA#15735, PUNT_INGLES#15737]\n                           :                                   +- Project [COLE_COD_DANE_ESTABLECIMIENTO#15704L, COLE_NOMBRE_ESTABLECIMIENTO#15705, PUNT_LECTURA_CRITICA#16984, PUNT_MATEMATICAS#17023, PUNT_C_NATURALES#17062, PUNT_SOCIALES_CIUDADANAS#17101, regexp_replace(cast(PUNT_RAZONA_CUANTITATIVO#15733 as string), ,, .) AS PUNT_RAZONA_CUANTITATIVO#17111, PUNT_COMP_CIUDADANA#15735, PUNT_INGLES#15737]\n                           :                                      +- Project [COLE_COD_DANE_ESTABLECIMIENTO#15704L, COLE_NOMBRE_ESTABLECIMIENTO#15705, PUNT_LECTURA_CRITICA#16984, PUNT_MATEMATICAS#17023, PUNT_C_NATURALES#17062, coalesce(nanvl(PUNT_SOCIALES_CIUDADANAS#17082, cast(null as float)), cast(0 as float)) AS PUNT_SOCIALES_CIUDADANAS#17101, PUNT_RAZONA_CUANTITATIVO#15733, PUNT_COMP_CIUDADANA#15735, PUNT_INGLES#15737]\n                           :                                         +- Project [COLE_COD_DANE_ESTABLECIMIENTO#15704L, COLE_NOMBRE_ESTABLECIMIENTO#15705, PUNT_LECTURA_CRITICA#16984, PUNT_MATEMATICAS#17023, PUNT_C_NATURALES#17062, cast(PUNT_SOCIALES_CIUDADANAS#17072 as float) AS PUNT_SOCIALES_CIUDADANAS#17082, PUNT_RAZONA_CUANTITATIVO#15733, PUNT_COMP_CIUDADANA#15735, PUNT_INGLES#15737]\n                           :                                            +- Project [COLE_COD_DANE_ESTABLECIMIENTO#15704L, COLE_NOMBRE_ESTABLECIMIENTO#15705, PUNT_LECTURA_CRITICA#16984, PUNT_MATEMATICAS#17023, PUNT_C_NATURALES#17062, regexp_replace(cast(PUNT_SOCIALES_CIUDADANAS#15731 as string), ,, .) AS PUNT_SOCIALES_CIUDADANAS#17072, PUNT_RAZONA_CUANTITATIVO#15733, PUNT_COMP_CIUDADANA#15735, PUNT_INGLES#15737]\n                           :                                               +- Project [COLE_COD_DANE_ESTABLECIMIENTO#15704L, COLE_NOMBRE_ESTABLECIMIENTO#15705, PUNT_LECTURA_CRITICA#16984, PUNT_MATEMATICAS#17023, coalesce(nanvl(PUNT_C_NATURALES#17043, cast(null as float)), cast(0 as float)) AS PUNT_C_NATURALES#17062, PUNT_SOCIALES_CIUDADANAS#15731, PUNT_RAZONA_CUANTITATIVO#15733, PUNT_COMP_CIUDADANA#15735, PUNT_INGLES#15737]\n                           :                                                  +- Project [COLE_COD_DANE_ESTABLECIMIENTO#15704L, COLE_NOMBRE_ESTABLECIMIENTO#15705, PUNT_LECTURA_CRITICA#16984, PUNT_MATEMATICAS#17023, cast(PUNT_C_NATURALES#17033 as float) AS PUNT_C_NATURALES#17043, PUNT_SOCIALES_CIUDADANAS#15731, PUNT_RAZONA_CUANTITATIVO#15733, PUNT_COMP_CIUDADANA#15735, PUNT_INGLES#15737]\n                           :                                                     +- Project [COLE_COD_DANE_ESTABLECIMIENTO#15704L, COLE_NOMBRE_ESTABLECIMIENTO#15705, PUNT_LECTURA_CRITICA#16984, PUNT_MATEMATICAS#17023, regexp_replace(cast(PUNT_C_NATURALES#15729 as string), ,, .) AS PUNT_C_NATURALES#17033, PUNT_SOCIALES_CIUDADANAS#15731, PUNT_RAZONA_CUANTITATIVO#15733, PUNT_COMP_CIUDADANA#15735, PUNT_INGLES#15737]\n                           :                                                        +- Project [COLE_COD_DANE_ESTABLECIMIENTO#15704L, COLE_NOMBRE_ESTABLECIMIENTO#15705, PUNT_LECTURA_CRITICA#16984, coalesce(nanvl(PUNT_MATEMATICAS#17004, cast(null as float)), cast(0 as float)) AS PUNT_MATEMATICAS#17023, PUNT_C_NATURALES#15729, PUNT_SOCIALES_CIUDADANAS#15731, PUNT_RAZONA_CUANTITATIVO#15733, PUNT_COMP_CIUDADANA#15735, PUNT_INGLES#15737]\n                           :                                                           +- Project [COLE_COD_DANE_ESTABLECIMIENTO#15704L, COLE_NOMBRE_ESTABLECIMIENTO#15705, PUNT_LECTURA_CRITICA#16984, cast(PUNT_MATEMATICAS#16994 as float) AS PUNT_MATEMATICAS#17004, PUNT_C_NATURALES#15729, PUNT_SOCIALES_CIUDADANAS#15731, PUNT_RAZONA_CUANTITATIVO#15733, PUNT_COMP_CIUDADANA#15735, PUNT_INGLES#15737]\n                           :                                                              +- Project [COLE_COD_DANE_ESTABLECIMIENTO#15704L, COLE_NOMBRE_ESTABLECIMIENTO#15705, PUNT_LECTURA_CRITICA#16984, regexp_replace(cast(PUNT_MATEMATICAS#15727 as string), ,, .) AS PUNT_MATEMATICAS#16994, PUNT_C_NATURALES#15729, PUNT_SOCIALES_CIUDADANAS#15731, PUNT_RAZONA_CUANTITATIVO#15733, PUNT_COMP_CIUDADANA#15735, PUNT_INGLES#15737]\n                           :                                                                 +- Project [COLE_COD_DANE_ESTABLECIMIENTO#15704L, COLE_NOMBRE_ESTABLECIMIENTO#15705, coalesce(nanvl(PUNT_LECTURA_CRITICA#16965, cast(null as float)), cast(0 as float)) AS PUNT_LECTURA_CRITICA#16984, PUNT_MATEMATICAS#15727, PUNT_C_NATURALES#15729, PUNT_SOCIALES_CIUDADANAS#15731, PUNT_RAZONA_CUANTITATIVO#15733, PUNT_COMP_CIUDADANA#15735, PUNT_INGLES#15737]\n                           :                                                                    +- Project [COLE_COD_DANE_ESTABLECIMIENTO#15704L, COLE_NOMBRE_ESTABLECIMIENTO#15705, cast(PUNT_LECTURA_CRITICA#16955 as float) AS PUNT_LECTURA_CRITICA#16965, PUNT_MATEMATICAS#15727, PUNT_C_NATURALES#15729, PUNT_SOCIALES_CIUDADANAS#15731, PUNT_RAZONA_CUANTITATIVO#15733, PUNT_COMP_CIUDADANA#15735, PUNT_INGLES#15737]\n                           :                                                                       +- Project [COLE_COD_DANE_ESTABLECIMIENTO#15704L, COLE_NOMBRE_ESTABLECIMIENTO#15705, regexp_replace(cast(PUNT_LECTURA_CRITICA#15725 as string), ,, .) AS PUNT_LECTURA_CRITICA#16955, PUNT_MATEMATICAS#15727, PUNT_C_NATURALES#15729, PUNT_SOCIALES_CIUDADANAS#15731, PUNT_RAZONA_CUANTITATIVO#15733, PUNT_COMP_CIUDADANA#15735, PUNT_INGLES#15737]\n                           :                                                                          +- Project [COLE_COD_DANE_ESTABLECIMIENTO#15704L, COLE_NOMBRE_ESTABLECIMIENTO#15705, PUNT_LECTURA_CRITICA#15725, PUNT_MATEMATICAS#15727, PUNT_C_NATURALES#15729, PUNT_SOCIALES_CIUDADANAS#15731, PUNT_RAZONA_CUANTITATIVO#15733, PUNT_COMP_CIUDADANA#15735, PUNT_INGLES#15737]\n                           :                                                                             +- Relation[ESTU_TIPODOCUMENTO#15608,ESTU_NACIONALIDAD#15609,ESTU_GENERO#15610,ESTU_FECHANACIMIENTO#15611,PERIODO#15612,ESTU_CONSECUTIVO#15613,ESTU_ESTUDIANTE#15614,ESTU_PAIS_RESIDE#15615,ESTU_ETNIA#15616,ESTU_LIMITA_MOTRIZ#15617,ESTU_LIMITA_INVIDENTE#15618,ESTU_LIMITA_CONDICIONESPECIAL#15619,ESTU_LIMITA_SORDO#15620,ESTU_LIMITA_SDOWN#15621,ESTU_LIMITA_AUTISMO#15622,ESTU_DEPTO_RESIDE#15623,ESTU_COD_RESIDE_DEPTO#15624,ESTU_MCPIO_RESIDE#15625,ESTU_COD_RESIDE_MCPIO#15626,ESTU_AREARESIDE#15627,ESTU_VALORPENSIONCOLEGIO#15628,ESTU_VECESPRESENTOEXAMEN#15629,FAMI_EDUCACIONPADRE#15630,FAMI_EDUCACIONMADRE#15631,... 113 more fields] csv\n                           +- Project [PERIODO#18636, cast(COLE_COD_DANE#18637L as string) AS COLE_COD_DANE#18676, COLE_INST_NOMBRE#18638, COLE_CODMPIO_COLEGIO#18639, COLE_MPIO_MUNICIPIO#18640, COLE_COD_DEPTO#18641, COLE_DEPTO_COLEGIO#18642, COLE_NATURALEZA#18643, COLE_GRADO#18644, COLE_CALENDARIO_COLEGIO#18645, COLE_GENEROPOBLACION#18646, MATRICULADOS_ULTIMOS_3#18647, EVALUADOS_ULTIMOS_3#18648, INDICE_MATEMATICAS#18649, INDICE_C_NATURALES#18650, INDICE_SOCIALES_CIUDADANAS#18651, INDICE_LECTURA_CRITICA#18652, INDICE_INGLES#18653, INDICE_TOTAL#18654, COLE_CATEGORIA#18655]\n                              +- Relation[PERIODO#18636,COLE_COD_DANE#18637L,COLE_INST_NOMBRE#18638,COLE_CODMPIO_COLEGIO#18639,COLE_MPIO_MUNICIPIO#18640,COLE_COD_DEPTO#18641,COLE_DEPTO_COLEGIO#18642,COLE_NATURALEZA#18643,COLE_GRADO#18644,COLE_CALENDARIO_COLEGIO#18645,COLE_GENEROPOBLACION#18646,MATRICULADOS_ULTIMOS_3#18647,EVALUADOS_ULTIMOS_3#18648,INDICE_MATEMATICAS#18649,INDICE_C_NATURALES#18650,INDICE_SOCIALES_CIUDADANAS#18651,INDICE_LECTURA_CRITICA#18652,INDICE_INGLES#18653,INDICE_TOTAL#18654,COLE_CATEGORIA#18655] csv\n"