In [1]:
from pyspark.sql import SparkSession
from pyspark.sql import Row
from functools import reduce
from pyspark.sql import DataFrame
from pyspark.sql.types import StringType,DoubleType,FloatType
from pyspark.sql.functions import udf
from pyspark.sql.functions import regexp_replace
from pyspark.sql.functions import lit
import locale
import sys
import os
import re

In [2]:
sc

In [3]:
spark

# Leyendo lista de Colegios y Estudiantes

In [4]:
base = '../Colegios'
base2 = '../SB'
colegios = os.listdir('../Colegios')
estudiantes = os.listdir('../SB')

In [5]:
estudiantes.sort()
colegios.sort()
estuDic = {}
coleDic = {}
for estu in estudiantes:
    estuDic[re.findall('\d+', estu)[1]] = estu

for colegio in colegios:
    coleDic[re.findall('\d+', colegio)[1]] = colegio

In [6]:
# Funciòn para unir cualquier nùmero de dataframes con la misma estructura 
def unionAll(*dfs):
    return reduce(DataFrame.unionAll, dfs)

In [7]:
print("Archivos de estudiantes: ", estuDic['20151'],estuDic['20152'])
print("Archivos de colegios: ",coleDic['20151'],coleDic['20152'])

Archivos de estudiantes:  SB11_20151.txt SB11_20152.txt
Archivos de colegios:  SB11-CLASIFI-PLANTELES-20151.txt SB11-CLASIFI-PLANTELES-20152.txt

In [8]:
df1 = spark.read.load(base2 + '/' + estuDic['20151'],"com.databricks.spark.csv",header='true',inferSchema='true',sep='¬')

In [9]:
df1.columns

['ESTU_TIPODOCUMENTO',
 'ESTU_NACIONALIDAD',
 'ESTU_GENERO',
 'ESTU_FECHANACIMIENTO',
 'PERIODO',
 'ESTU_CONSECUTIVO',
 'ESTU_ESTUDIANTE',
 'ESTU_PAIS_RESIDE',
 'ESTU_ETNIA',
 'ESTU_LIMITA_MOTRIZ',
 'ESTU_LIMITA_INVIDENTE',
 'ESTU_LIMITA_CONDICIONESPECIAL',
 'ESTU_LIMITA_SORDO',
 'ESTU_LIMITA_SDOWN',
 'ESTU_LIMITA_AUTISMO',
 'ESTU_DEPTO_RESIDE',
 'ESTU_COD_RESIDE_DEPTO',
 'ESTU_MCPIO_RESIDE',
 'ESTU_COD_RESIDE_MCPIO',
 'ESTU_AREARESIDE',
 'ESTU_VALORPENSIONCOLEGIO',
 'ESTU_VECESPRESENTOEXAMEN',
 'FAMI_EDUCACIONPADRE',
 'FAMI_EDUCACIONMADRE',
 'FAMI_OCUPACIONPADRE',
 'FAMI_OCUPACIONMADRE',
 'FAMI_NUMHERMANOS',
 'FAMI_ESTRATOVIVIENDA',
 'FAMI_NIVELSISBEN',
 'FAMI_PERSONASHOGAR',
 'FAMI_CUARTOSHOGAR',
 'FAMI_PISOSHOGAR',
 'FAMI_TIENEINTERNET',
 'FAMI_TIENECOMPUTADOR',
 'FAMI_TIENELAVADORA',
 'FAMI_TIENEMICROONDAS',
 'FAMI_TIENEHORNO',
 'FAMI_TIENESERVICIOTV',
 'FAMI_TIENEAUTOMOVIL',
 'FAMI_TIENEDVD',
 'FAMI_TELEFONO',
 'FAMI_NUMLIBROS',
 'FAMI_INGRESOFMILIARMENSUAL',
 'ESTU_TRABAJAACTUALMENTE',
 'ESTU_RECIBESALARIO',
 'ESTU_ANTECEDENTES',
 'ESTU_ANOSPREESCOLAR',
 'ESTU_ANOMATRICULAPRIMERO',
 'ESTU_ANOTERMINOQUINTO',
 'ESTU_ANOMATRICULASEXTO',
 'ESTU_REPROBOPRIMERO',
 'ESTU_REPROBOSEGUNDO',
 'ESTU_REPROBOTERCERO',
 'ESTU_REPROBOCUARTO',
 'ESTU_REPROBOQUINTO',
 'ESTU_REPROBOSEXTO',
 'ESTU_REPROBOSEPTIMO',
 'ESTU_REPROBOOCTAVO',
 'ESTU_REPROBONOVENO',
 'ESTU_REPROBOONCEMAS',
 'ESTU_ANOSCOLEGIOACTUAL',
 'ESTU_CUANTOSCOLEGIOESTUDIO',
 'ESTU_SERETIROCOLEGIO',
 'ESTU_RAZONRETIROCOLEGIO',
 'ESTU_TOTALALUMNOSCURSO',
 'ESTU_VECESFALTOCOLEGIO',
 'ESTU_PROMEDIOSALON',
 'ESTU_TIPOCARRERADESEADA',
 'ESTU_IESDESEADA',
 'ESTU_COD_IESDESEADA',
 'ESTU_MCPIOIESDESEADA',
 'ESTU_COD_MCPIOIESDESEADA',
 'ESTU_INSTPORPRESTIGIO',
 'ESTU_INSTPORCOSTOMATRICULA',
 'ESTU_INSTPORUBICACION',
 'ESTU_INSTPORUNICAQUEOFRECE',
 'ESTU_INSTPOROPORTUNIDADES',
 'ESTU_INSTPORAMIGOSESTUDIANDO',
 'ESTU_INSTPOROTRARAZON',
 'ESTU_COD_PROGRAMADESEADO',
 'ESTU_PROGRAMADESEADO',
 'ESTU_PROGORIENTACIONVOCACIONAL',
 'ESTU_PROGPORBUSCANDOCARRERA',
 'ESTU_PROGPORCOLOMBIAAPRENDE',
 'ESTU_PROGPORINTERESPERSONAL',
 'ESTU_PROGPORTRADICIONFAMILIAR',
 'ESTU_PROGPORMEJORARPOSICSOCIAL',
 'ESTU_PROGPORINFLUENCIAALGUIEN',
 'COLE_CODIGO_ICFES',
 'COLE_COD_DANE_ESTABLECIMIENTO',
 'COLE_NOMBRE_ESTABLECIMIENTO',
 'COLE_GENERO',
 'COLE_NATURALEZA',
 'COLE_CALENDARIO',
 'COLE_BILINGUE',
 'COLE_CARACTER',
 'COLE_COD_DANE_SEDE',
 'COLE_NOMBRE_SEDE',
 'COLE_SEDE_PRINCIPAL',
 'COLE_AREA_UBICACION',
 'COLE_JORNADA',
 'COLE_COD_MCPIO_UBICACION',
 'COLE_MCPIO_UBICACION',
 'COLE_COD_DEPTO_UBICACION',
 'COLE_DEPTO_UBICACION',
 'ESTU_PRIVADO_LIBERTAD',
 'ESTU_COD_MCPIO_PRESENTACION',
 'ESTU_MCPIO_PRESENTACION',
 'ESTU_DEPTO_PRESENTACION',
 'ESTU_COD_DEPTO_PRESENTACION',
 'PUNT_LECTURA_CRITICA',
 'DECIL_LECTURA_CRITICA',
 'PUNT_MATEMATICAS',
 'DECIL_MATEMATICAS',
 'PUNT_C_NATURALES',
 'DECIL_C_NATURALES',
 'PUNT_SOCIALES_CIUDADANAS',
 'DECIL_SOCIALES_CIUDADANAS',
 'PUNT_RAZONA_CUANTITATIVO',
 'DECIL_RAZONA_CUANTITATIVO',
 'PUNT_COMP_CIUDADANA',
 'DECIL_COMP_CIUDADANA',
 'PUNT_INGLES',
 'DECIL_INGLES',
 'DESEMP_INGLES',
 'PUNT_GLOBAL',
 'ESTU_PUESTO',
 'ESTU_INSE_INDIVIDUAL',
 'ESTU_NSE_INDIVIDUAL',
 'ESTU_ESTADOINVESTIGACION']

In [10]:
columnasPuntos20151 = [
 'COLE_COD_DANE_ESTABLECIMIENTO',
 'COLE_NOMBRE_ESTABLECIMIENTO',
 'PUNT_LECTURA_CRITICA',
 'PUNT_MATEMATICAS',
 'PUNT_C_NATURALES',
 'PUNT_SOCIALES_CIUDADANAS',
 'PUNT_RAZONA_CUANTITATIVO',
 'PUNT_COMP_CIUDADANA',
 'PUNT_INGLES']

In [11]:
df1 = df1.select(columnasPuntos20151)

In [12]:
# SE leen los dos archivos y se crean dos dataframes
df2 = spark.read.load(base2 + '/' + estuDic['20152'],"com.databricks.spark.csv",header='true',inferSchema='true',sep='¬')

In [13]:
df2.columns

['ESTU_TIPODOCUMENTO',
 'ESTU_NACIONALIDAD',
 'ESTU_GENERO',
 'ESTU_FECHANACIMIENTO',
 'PERIODO',
 'ESTU_CONSECUTIVO',
 'ESTU_ESTUDIANTE',
 'ESTU_PAIS_RESIDE',
 'ESTU_TIENEETNIA',
 'ESTU_ETNIA',
 'ESTU_LIMITA_MOTRIZ',
 'ESTU_LIMITA_INVIDENTE',
 'ESTU_LIMITA_CONDICIONESPECIAL',
 'ESTU_LIMITA_SORDO',
 'ESTU_LIMITA_SDOWN',
 'ESTU_LIMITA_AUTISMO',
 'ESTU_DEPTO_RESIDE',
 'ESTU_COD_RESIDE_DEPTO',
 'ESTU_MCPIO_RESIDE',
 'ESTU_COD_RESIDE_MCPIO',
 'ESTU_AREARESIDE',
 'ESTU_VALORPENSIONCOLEGIO',
 'ESTU_VECESPRESENTOEXAMEN',
 'FAMI_EDUCACIONPADRE',
 'FAMI_EDUCACIONMADRE',
 'FAMI_OCUPACIONPADRE',
 'FAMI_OCUPACIONMADRE',
 'FAMI_NUMHERMANOS',
 'FAMI_ESTRATOVIVIENDA',
 'FAMI_NIVELSISBEN',
 'FAMI_PERSONASHOGAR',
 'FAMI_CUARTOSHOGAR',
 'FAMI_PISOSHOGAR',
 'FAMI_TIENEINTERNET',
 'FAMI_TIENECOMPUTADOR',
 'FAMI_TIENELAVADORA',
 'FAMI_TIENEMICROONDAS',
 'FAMI_TIENEHORNO',
 'FAMI_TIENESERVICIOTV',
 'FAMI_TIENEAUTOMOVIL',
 'FAMI_TIENEDVD',
 'FAMI_TELEFONO',
 'FAMI_NUMLIBROS',
 'FAMI_INGRESOFMILIARMENSUAL',
 'ESTU_TRABAJAACTUALMENTE',
 'ESTU_RECIBESALARIO',
 'COLE_CODIGO_ICFES',
 'COLE_COD_DANE_ESTABLECIMIENTO',
 'COLE_NOMBRE_ESTABLECIMIENTO',
 'COLE_GENERO',
 'COLE_NATURALEZA',
 'COLE_CALENDARIO',
 'COLE_BILINGUE',
 'COLE_CARACTER',
 'COLE_COD_DANE_SEDE',
 'COLE_NOMBRE_SEDE',
 'COLE_SEDE_PRINCIPAL',
 'COLE_AREA_UBICACION',
 'COLE_JORNADA',
 'COLE_COD_MCPIO_UBICACION',
 'COLE_MCPIO_UBICACION',
 'COLE_COD_DEPTO_UBICACION',
 'COLE_DEPTO_UBICACION',
 'ESTU_PRIVADO_LIBERTAD',
 'ESTU_COD_MCPIO_PRESENTACION',
 'ESTU_MCPIO_PRESENTACION',
 'ESTU_DEPTO_PRESENTACION',
 'ESTU_COD_DEPTO_PRESENTACION',
 'PUNT_LECTURA_CRITICA',
 'DECIL_LECTURA_CRITICA',
 'PUNT_MATEMATICAS',
 'DECIL_MATEMATICAS',
 'PUNT_C_NATURALES',
 'DECIL_C_NATURALES',
 'PUNT_SOCIALES_CIUDADANAS',
 'DECIL_SOCIALES_CIUDADANAS',
 'PUNT_RAZONA_CUANTITATIVO',
 'DECIL_RAZONA_CUANTITATIVO',
 'PUNT_COMP_CIUDADANA',
 'DECIL_COMP_CIUDADANA',
 'PUNT_INGLES',
 'DECIL_INGLES',
 'DESEMP_INGLES',
 'PUNT_GLOBAL',
 'ESTU_PUESTO',
 'ESTU_INSE_INDIVIDUAL',
 'ESTU_NSE_INDIVIDUAL',
 'ESTU_ESTADOINVESTIGACION']

In [14]:
columnasPuntos20152 = [
 'COLE_COD_DANE_ESTABLECIMIENTO',
 'COLE_NOMBRE_ESTABLECIMIENTO',
 'PUNT_LECTURA_CRITICA',
 'PUNT_MATEMATICAS',
 'PUNT_C_NATURALES',
 'PUNT_SOCIALES_CIUDADANAS',
 'PUNT_RAZONA_CUANTITATIVO',
 'PUNT_COMP_CIUDADANA',
 'PUNT_INGLES']

In [15]:
df2 = df2.select(columnasPuntos20152)

In [16]:
#dft = df1.columns.remove('cole_cod_dane_institucion')
cols = df1.columns
cols.remove('COLE_COD_DANE_ESTABLECIMIENTO')
cols.remove('COLE_NOMBRE_ESTABLECIMIENTO')
cols

['PUNT_LECTURA_CRITICA',
 'PUNT_MATEMATICAS',
 'PUNT_C_NATURALES',
 'PUNT_SOCIALES_CIUDADANAS',
 'PUNT_RAZONA_CUANTITATIVO',
 'PUNT_COMP_CIUDADANA',
 'PUNT_INGLES']

In [17]:
# SE unen los dos dataframes
# df = unionAll(df1,df2)
for cp in cols:
    df1 = df1.withColumn(cp, regexp_replace(cp, ',', '.'))
    df1 = df1.withColumn(cp, df1[cp].cast("float"))
    df1 = df1.na.fill({cp:0})

In [18]:
df1 = df1.withColumn('COLE_COD_DANE_ESTABLECIMIENTO', df1['COLE_COD_DANE_ESTABLECIMIENTO'].cast("string"))

In [19]:
cols2 = df2.columns
cols2.remove('COLE_COD_DANE_ESTABLECIMIENTO')
cols2.remove('COLE_NOMBRE_ESTABLECIMIENTO')

In [20]:
for cp in cols2:
    df2 = df2.withColumn(cp, regexp_replace(cp, ',', '.'))
    df2 = df2.withColumn(cp, df2[cp].cast("float"))
    df2 = df2.na.fill({cp:0})
df2 = df2.withColumn('COLE_COD_DANE_ESTABLECIMIENTO', df2['COLE_COD_DANE_ESTABLECIMIENTO'].cast("string"))

In [21]:
print("Numero de filas primero semestre ", df1.count())
print("Numero de filas segundo semestre ", df2.count())

Numero de filas primero semestre  25947
Numero de filas segundo semestre  542450

In [22]:
print(df1.printSchema())

root
 |-- COLE_COD_DANE_ESTABLECIMIENTO: string (nullable = true)
 |-- COLE_NOMBRE_ESTABLECIMIENTO: string (nullable = true)
 |-- PUNT_LECTURA_CRITICA: float (nullable = false)
 |-- PUNT_MATEMATICAS: float (nullable = false)
 |-- PUNT_C_NATURALES: float (nullable = false)
 |-- PUNT_SOCIALES_CIUDADANAS: float (nullable = false)
 |-- PUNT_RAZONA_CUANTITATIVO: float (nullable = false)
 |-- PUNT_COMP_CIUDADANA: float (nullable = false)
 |-- PUNT_INGLES: float (nullable = false)

None

In [23]:
print(df2.printSchema())

root
 |-- COLE_COD_DANE_ESTABLECIMIENTO: string (nullable = true)
 |-- COLE_NOMBRE_ESTABLECIMIENTO: string (nullable = true)
 |-- PUNT_LECTURA_CRITICA: float (nullable = false)
 |-- PUNT_MATEMATICAS: float (nullable = false)
 |-- PUNT_C_NATURALES: float (nullable = false)
 |-- PUNT_SOCIALES_CIUDADANAS: float (nullable = false)
 |-- PUNT_RAZONA_CUANTITATIVO: float (nullable = false)
 |-- PUNT_COMP_CIUDADANA: float (nullable = false)
 |-- PUNT_INGLES: float (nullable = false)

None

In [24]:
# Contando el numero de estudiantes por instituciòn y mostrandola de forma descendente
dsCountEst1 = df1.groupBy('COLE_COD_DANE_ESTABLECIMIENTO').count().orderBy('count',ascending=
False)
dsCountEst2 = df2.groupBy('COLE_COD_DANE_ESTABLECIMIENTO').count().orderBy('count',ascending=
False)

In [25]:
dsCountEst1.show(10,False)
# Numero de estudiantes por instituciòn primer semestre

+-----------------------------+-----+
|COLE_COD_DANE_ESTABLECIMIENTO|count|
+-----------------------------+-----+
|311001105863                 |332  |
|311001104786                 |288  |
|305001024544                 |236  |
|376001028219                 |208  |
|376001000721                 |167  |
|376001003461                 |160  |
|376001007670                 |144  |
|305088002488                 |142  |
|305001024505                 |135  |
|376001001116                 |129  |
+-----------------------------+-----+
only showing top 10 rows

In [26]:
dsCountEst1.count()

892

In [27]:
dsCountEst2.show(10,False)
# Numero de estudiantes por instituciòn segundo semestre

+-----------------------------+-----+
|COLE_COD_DANE_ESTABLECIMIENTO|count|
+-----------------------------+-----+
|105001000108                 |987  |
|311001105863                 |787  |
|305001007861                 |765  |
|105001013340                 |686  |
|311001105391                 |675  |
|105615000236                 |618  |
|405001016946                 |595  |
|305001017361                 |592  |
|111001024732                 |587  |
|176001005813                 |581  |
+-----------------------------+-----+
only showing top 10 rows

In [28]:
#Se crea una columna con el total de los puntajes 
df1= df1.withColumn("Suma",df1['PUNT_LECTURA_CRITICA']+df1['PUNT_MATEMATICAS']+df1['PUNT_C_NATURALES']+
                    df1['PUNT_SOCIALES_CIUDADANAS']+df1['PUNT_RAZONA_CUANTITATIVO']+
                    df1['PUNT_COMP_CIUDADANA']+df1['PUNT_INGLES'])

df2= df2.withColumn("Suma",df2['PUNT_LECTURA_CRITICA']+df2['PUNT_MATEMATICAS']+df2['PUNT_C_NATURALES']+
                    df2['PUNT_SOCIALES_CIUDADANAS']+df2['PUNT_RAZONA_CUANTITATIVO']+
                    df2['PUNT_COMP_CIUDADANA']+df2['PUNT_INGLES'])

## Resultados finales por instituciòn 1er semestre

In [29]:
# Còdigo para obtener la media de los resultados de las evaluaciones de todos los estudiantes por instituciòn 
# y posiciòn en orden descendente.
from pyspark.sql.functions import *
from pyspark.sql.window import Window

df1 = df1.groupBy('COLE_COD_DANE_ESTABLECIMIENTO','COLE_NOMBRE_ESTABLECIMIENTO').mean()
df1 = df1.withColumn("rank", dense_rank().over(Window.orderBy(desc("avg(Suma)"))))
df1 = df1.orderBy('rank',ascending= True)

In [30]:
df1.select('COLE_COD_DANE_ESTABLECIMIENTO','COLE_NOMBRE_ESTABLECIMIENTO','avg(Suma)','rank').show(10,False)

+-----------------------------+----------------------------------+-----------------+----+
|COLE_COD_DANE_ESTABLECIMIENTO|COLE_NOMBRE_ESTABLECIMIENTO       |avg(Suma)        |rank|
+-----------------------------+----------------------------------+-----------------+----+
|376001013441                 |COLEGIO BILINGUE DIANA OESE       |575.9705882352941|1   |
|311769003342                 |COL LOS NOGALES                   |570.4516129032259|2   |
|368276000826                 |COL LA QUINTA DEL PUENTE          |568.8571428571429|3   |
|311001105430                 |COL LA COLINA                     |560.8823529411765|4   |
|311848002424                 |COL SAN CARLOS                    |559.6666666666666|5   |
|311769000165                 |COL SAN JORGE DE INGLATERRA       |559.3108108108108|6   |
|376001043617                 |COLEGIO PHILADELPHIA INTERNACIONAL|558.6538461538462|7   |
|311848002351                 |COL SANTA FRANCISCA ROMANA        |552.7014925373135|8   |
|425758800009                 |COL CAMPOALEGRE LTDA              |552.3125         |9   |
|311769004292                 |COL SAN MATEO APOSTOL             |552.0727272727273|10  |
+-----------------------------+----------------------------------+-----------------+----+
only showing top 10 rows

## Resultados finales por instituciòn 2do semestre

In [31]:
df2 = df2.groupBy('COLE_COD_DANE_ESTABLECIMIENTO','COLE_NOMBRE_ESTABLECIMIENTO').mean()
df2 = df2.withColumn("rank", dense_rank().over(Window.orderBy(desc("avg(Suma)"))))
df2 = df2.orderBy('rank',ascending= True)

In [32]:
df2.select('COLE_COD_DANE_ESTABLECIMIENTO','COLE_NOMBRE_ESTABLECIMIENTO','avg(Suma)','rank').show(10,False)

+-----------------------------+-------------------------------------------+-----------------+----+
|COLE_COD_DANE_ESTABLECIMIENTO|COLE_NOMBRE_ESTABLECIMIENTO                |avg(Suma)        |rank|
+-----------------------------+-------------------------------------------+-----------------+----+
|311001065489                 |LIC CAMPO DAVID                            |579.3            |1   |
|311001076634                 |COL NUEVO COLOMBO AMERICANO                |562.9347826086956|2   |
|311001005176                 |LIC NAVARRA                                |557.0            |3   |
|311001089221                 |INST ALBERTO MERANI                        |555.0909090909091|4   |
|354518001139                 |CAMBRIDGE SCHOOL (GIMN BILING PLAZA SESAMO)|553.3076923076923|5   |
|311848000308                 |COL ANGLO AMERICANO                        |549.953947368421 |6   |
|311848003072                 |COL INTERNACIONAL DE BOGOTA                |549.0            |7   |
|376001024612                 |COL EL PINAR                               |545.0            |8   |
|311001086320                 |COLOMBO BRITANICO - BILINGÜE INTERNACIONAL |543.8607594936709|9   |
|368001002411                 |FUND COL UIS                               |539.2738095238095|10  |
+-----------------------------+-------------------------------------------+-----------------+----+
only showing top 10 rows

## Colegios primer semestre

In [33]:
# SE crea Dataframe de colegios primer semestre
dfc = spark.read.load(base + '/' + coleDic['20151'],"com.databricks.spark.csv",header='true',inferSchema='true',sep='|')
dfc = dfc.withColumn('COLE_COD_DANE', dfc['COLE_COD_DANE'].cast("string"))
dfc = dfc.withColumn("rankIndiceTotal", dense_rank().over(Window.orderBy(desc("INDICE_TOTAL"))))
dfc = dfc.orderBy('rankIndiceTotal',ascending= True)
#dfc = dfc.withColumnRenamed("rank","rankIndiceTotal")

In [34]:
print(dfc.printSchema())

root
 |-- PERIODO: integer (nullable = true)
 |-- COLE_COD_DANE: string (nullable = true)
 |-- COLE_INST_NOMBRE: string (nullable = true)
 |-- COLE_CODMPIO_COLEGIO: integer (nullable = true)
 |-- COLE_MPIO_MUNICIPIO: string (nullable = true)
 |-- COLE_COD_DEPTO: integer (nullable = true)
 |-- COLE_DEPTO_COLEGIO: string (nullable = true)
 |-- COLE_NATURALEZA: string (nullable = true)
 |-- COLE_GRADO: integer (nullable = true)
 |-- COLE_CALENDARIO_COLEGIO: string (nullable = true)
 |-- COLE_GENEROPOBLACION: string (nullable = true)
 |-- MATRICULADOS_ULTIMOS_3: integer (nullable = true)
 |-- EVALUADOS_ULTIMOS_3: integer (nullable = true)
 |-- INDICE_MATEMATICAS: string (nullable = true)
 |-- INDICE_C_NATURALES: string (nullable = true)
 |-- INDICE_SOCIALES_CIUDADANAS: string (nullable = true)
 |-- INDICE_LECTURA_CRITICA: string (nullable = true)
 |-- INDICE_INGLES: string (nullable = true)
 |-- INDICE_TOTAL: string (nullable = true)
 |-- COLE_CATEGORIA: string (nullable = true)
 |-- rankIndiceTotal: integer (nullable = true)

None

In [35]:
colsColegio = dfc.columns

In [36]:
dfc.select('rankIndiceTotal','COLE_COD_DANE','COLE_INST_NOMBRE','INDICE_TOTAL').show(10)

+---------------+-------------+--------------------+------------+
|rankIndiceTotal|COLE_COD_DANE|    COLE_INST_NOMBRE|INDICE_TOTAL|
+---------------+-------------+--------------------+------------+
|              1| 311769003342|     COL LOS NOGALES|       0,908|
|              2| 376001013441|COLEGIO BILINGUE ...|      0,9062|
|              3| 368276000826|COL LA QUINTA DEL...|      0,9025|
|              4| 311848000278|        GIMN VERMONT|      0,8993|
|              5| 311769000165|COL SAN JORGE DE ...|      0,8987|
|              6| 311848002351|COL SANTA FRANCIS...|      0,8953|
|              6| 311848002424|      COL SAN CARLOS|      0,8953|
|              7| 411848002780|COL CAMPOALEGRE LTDA|      0,8914|
|              8| 311001105430|       COL LA COLINA|      0,8907|
|              9| 311001105375|COL  MONTESSORI B...|      0,8903|
+---------------+-------------+--------------------+------------+
only showing top 10 rows

In [37]:
print("El numero de colegios es: ", dfc.count())

El numero de colegios es:  500

## Colegios segundo semestre

In [52]:
# SE crea Dataframe de colegios primer semestre
dfc2 = spark.read.load(base + '/' + coleDic['20152'],"com.databricks.spark.csv",header='true',inferSchema='true',sep='|')
dfc2 = dfc2.withColumn('COLE_COD_DANE', dfc2['COLE_COD_DANE'].cast("string"))
dfc2 = dfc2.withColumn("rankIndiceTotal", dense_rank().over(Window.orderBy(desc("INDICE_TOTAL"))))
dfc2 = dfc2.orderBy('rankIndiceTotal',ascending= True)
#dfc = dfc.withColumnRenamed("rank","rankIndiceTotal")

In [53]:
print(dfc2.printSchema())

root
 |-- PERIODO: integer (nullable = true)
 |-- COLE_COD_DANE: string (nullable = true)
 |-- COLE_INST_NOMBRE: string (nullable = true)
 |-- COLE_CODMPIO_COLEGIO: integer (nullable = true)
 |-- COLE_MPIO_MUNICIPIO: string (nullable = true)
 |-- COLE_COD_DEPTO: integer (nullable = true)
 |-- COLE_DEPTO_COLEGIO: string (nullable = true)
 |-- COLE_NATURALEZA: string (nullable = true)
 |-- COLE_GRADO: integer (nullable = true)
 |-- COLE_CALENDARIO_COLEGIO: string (nullable = true)
 |-- COLE_GENEROPOBLACION: string (nullable = true)
 |-- MATRICULADOS_ULTIMOS_3: integer (nullable = true)
 |-- EVALUADOS_ULTIMOS_3: integer (nullable = true)
 |-- INDICE_MATEMATICAS: string (nullable = true)
 |-- INDICE_C_NATURALES: string (nullable = true)
 |-- INDICE_SOCIALES_CIUDADANAS: string (nullable = true)
 |-- INDICE_LECTURA_CRITICA: string (nullable = true)
 |-- INDICE_INGLES: string (nullable = true)
 |-- INDICE_TOTAL: string (nullable = true)
 |-- COLE_CATEGORIA: string (nullable = true)
 |-- rankIndiceTotal: integer (nullable = true)

None

In [54]:
dfc2.select('rankIndiceTotal','COLE_COD_DANE','COLE_INST_NOMBRE','INDICE_TOTAL').show(10)

+---------------+-------------+--------------------+------------+
|rankIndiceTotal|COLE_COD_DANE|    COLE_INST_NOMBRE|INDICE_TOTAL|
+---------------+-------------+--------------------+------------+
|              1| 354518001139|CAMBRIDGE SCHOOL ...|      0,9131|
|              2| 311001089221| INST ALBERTO MERANI|      0,9129|
|              3| 311001065489|     LIC CAMPO DAVID|      0,9127|
|              4| 311001076634|COL NUEVO COLOMBO...|      0,9077|
|              5| 311001005176|         LIC NAVARRA|       0,907|
|              6| 311001086320|GIMNASIO COLOMBO ...|      0,9036|
|              7| 311848000308| COL ANGLO AMERICANO|      0,8993|
|              8| 308001005299|FUNDACION EDUCATI...|      0,8978|
|              9| 425214000149|          COL REFOUS|      0,8969|
|             10| 311001090921|COL CORAZONISTA H...|      0,8938|
+---------------+-------------+--------------------+------------+
only showing top 10 rows

In [55]:
print("El numero de colegios segundo semestre: ", dfc2.count())

El numero de colegios segundo semestre:  9315

## Anàlisis comparativo entre estudiantes y colegios primer semestre

In [56]:
dfjoin = df1.join(dfc, df1.COLE_COD_DANE_ESTABLECIMIENTO == dfc.COLE_COD_DANE)

In [57]:
print("Nùmero de colegios coincidentes entre el archivo de estudiantes 1er semestre y colegios:", dfjoin.count())

Nùmero de colegios coincidentes entre el archivo de estudiantes 1er semestre y colegios: 490

In [58]:
dfjoinPorNom = df1.join(dfc, df1.COLE_NOMBRE_ESTABLECIMIENTO == dfc.COLE_INST_NOMBRE)

In [59]:
print("Nùmero de colegios coincidentes entre el archivo de estudiantes 1er semestre y colegios:", dfjoinPorNom.count())

Nùmero de colegios coincidentes entre el archivo de estudiantes 1er semestre y colegios: 417

In [60]:
# Se cruza la informaciòn por el nombre del colegio - se evidencia que el còdigo DANE no coincide
#dfjoin = dfjoin.withColumn("rankIndiceTotal", dense_rank().over(Window.orderBy(desc("INDICE_TOTAL"))))
dfjoin.select('rank','rankIndiceTotal','INDICE_TOTAL','COLE_COD_DANE_ESTABLECIMIENTO','COLE_NOMBRE_ESTABLECIMIENTO','INDICE_TOTAL').show(10)

+----+---------------+------------+-----------------------------+---------------------------+------------+
|rank|rankIndiceTotal|INDICE_TOTAL|COLE_COD_DANE_ESTABLECIMIENTO|COLE_NOMBRE_ESTABLECIMIENTO|INDICE_TOTAL|
+----+---------------+------------+-----------------------------+---------------------------+------------+
|   1|              2|      0,9062|                 376001013441|       COLEGIO BILINGUE ...|      0,9062|
|   2|              1|       0,908|                 311769003342|            COL LOS NOGALES|       0,908|
|   3|              3|      0,9025|                 368276000826|       COL LA QUINTA DEL...|      0,9025|
|   4|              8|      0,8907|                 311001105430|              COL LA COLINA|      0,8907|
|   5|              6|      0,8953|                 311848002424|             COL SAN CARLOS|      0,8953|
|   6|              5|      0,8987|                 311769000165|       COL SAN JORGE DE ...|      0,8987|
|   7|             13|      0,8819|                 376001043617|       COLEGIO PHILADELP...|      0,8819|
|   8|              6|      0,8953|                 311848002351|       COL SANTA FRANCIS...|      0,8953|
|  10|             11|      0,8877|                 311769004292|       COL SAN MATEO APO...|      0,8877|
|  11|             15|      0,8787|                 466001005641|       LIC CAMPESTRE DE ...|      0,8787|
+----+---------------+------------+-----------------------------+---------------------------+------------+
only showing top 10 rows

## Anàlisis comparativo entre estudiantes y colegios segundo semestre

In [61]:
# SE crea Dataframe de colegios segundo semestre
# dfc2 = spark.read.load(base + '/' + coleDic['20152'],"com.databricks.spark.csv",header='true',inferSchema='true',sep='|')
# dfc2 = dfc2.withColumn('COLE_COD_DANE', dfc2['COLE_COD_DANE'].cast("string"))

In [62]:
dfjoin2 = df2.join(dfc2, df2.COLE_COD_DANE_ESTABLECIMIENTO == dfc2.COLE_COD_DANE)

In [63]:
print("Nùmero de colegios coincidentes entre el archivo de estudiantes 2do semestre y colegios:", dfjoin2.count())

Nùmero de colegios coincidentes entre el archivo de estudiantes 2do semestre y colegios: 9191

In [64]:
dfjoin2.columns

['COLE_COD_DANE_ESTABLECIMIENTO',
 'COLE_NOMBRE_ESTABLECIMIENTO',
 'avg(PUNT_LECTURA_CRITICA)',
 'avg(PUNT_MATEMATICAS)',
 'avg(PUNT_C_NATURALES)',
 'avg(PUNT_SOCIALES_CIUDADANAS)',
 'avg(PUNT_RAZONA_CUANTITATIVO)',
 'avg(PUNT_COMP_CIUDADANA)',
 'avg(PUNT_INGLES)',
 'avg(Suma)',
 'rank',
 'PERIODO',
 'COLE_COD_DANE',
 'COLE_INST_NOMBRE',
 'COLE_CODMPIO_COLEGIO',
 'COLE_MPIO_MUNICIPIO',
 'COLE_COD_DEPTO',
 'COLE_DEPTO_COLEGIO',
 'COLE_NATURALEZA',
 'COLE_GRADO',
 'COLE_CALENDARIO_COLEGIO',
 'COLE_GENEROPOBLACION',
 'MATRICULADOS_ULTIMOS_3',
 'EVALUADOS_ULTIMOS_3',
 'INDICE_MATEMATICAS',
 'INDICE_C_NATURALES',
 'INDICE_SOCIALES_CIUDADANAS',
 'INDICE_LECTURA_CRITICA',
 'INDICE_INGLES',
 'INDICE_TOTAL',
 'COLE_CATEGORIA',
 'rankIndiceTotal']

In [65]:
dfjoin2.select('rank','rankIndiceTotal','INDICE_TOTAL','COLE_COD_DANE_ESTABLECIMIENTO','COLE_NOMBRE_ESTABLECIMIENTO').show(10)

+----+---------------+------------+-----------------------------+---------------------------+
|rank|rankIndiceTotal|INDICE_TOTAL|COLE_COD_DANE_ESTABLECIMIENTO|COLE_NOMBRE_ESTABLECIMIENTO|
+----+---------------+------------+-----------------------------+---------------------------+
|   1|              3|      0,9127|                 311001065489|            LIC CAMPO DAVID|
|   2|              4|      0,9077|                 311001076634|       COL NUEVO COLOMBO...|
|   3|              5|       0,907|                 311001005176|                LIC NAVARRA|
|   4|              2|      0,9129|                 311001089221|        INST ALBERTO MERANI|
|   5|              1|      0,9131|                 354518001139|       CAMBRIDGE SCHOOL ...|
|   6|              7|      0,8993|                 311848000308|        COL ANGLO AMERICANO|
|   8|           1176|      0,6924|                 376001024612|               COL EL PINAR|
|   9|              6|      0,9036|                 311001086320|       COLOMBO BRITANICO...|
|  10|             19|      0,8857|                 368001002411|               FUND COL UIS|
|  11|             36|      0,8724|                 308001001871|       NUEVO COLEGIO DEL...|
+----+---------------+------------+-----------------------------+---------------------------+
only showing top 10 rows