In [69]:
from pyspark.sql import SparkSession
from pyspark.sql import Row
from functools import reduce
from pyspark.sql import DataFrame
from pyspark.sql.types import StringType,DoubleType,FloatType
from pyspark.sql.functions import udf
from pyspark.sql.functions import regexp_replace
from pyspark.sql.functions import lit
import locale
import sys
import os
import re

In [114]:
sc

In [115]:
spark

# Leyendo lista de Colegios y Estudiantes

In [116]:
base = '../Colegios'
base2 = '../SB'
colegios = os.listdir('../Colegios')
estudiantes = os.listdir('../SB')

In [117]:
estudiantes.sort()
colegios.sort()
estuDic = {}
coleDic = {}
for estu in estudiantes:
    estuDic[re.findall('\d+', estu)[1]] = estu

for colegio in colegios:
    coleDic[re.findall('\d+', colegio)[1]] = colegio

In [118]:
# Funciòn para unir cualquier nùmero de dataframes con la misma estructura 
def unionAll(*dfs):
    return reduce(DataFrame.unionAll, dfs)

In [119]:
print("Archivos de estudiantes: ", estuDic['20191'])

Archivos de estudiantes:  SB11_20191.txt

In [120]:
df1 = spark.read.load(base2 + '/' + estuDic['20191'],"com.databricks.spark.csv",header='true',inferSchema='true',sep='¬')

In [121]:
df1.columns

['ESTU_TIPODOCUMENTO',
 'ESTU_NACIONALIDAD',
 'ESTU_GENERO',
 'ESTU_FECHANACIMIENTO',
 'PERIODO',
 'ESTU_CONSECUTIVO',
 'ESTU_ESTUDIANTE',
 'ESTU_PAIS_RESIDE',
 'ESTU_TIENEETNIA',
 'ESTU_ETNIA',
 'ESTU_DEPTO_RESIDE',
 'ESTU_COD_RESIDE_DEPTO',
 'ESTU_MCPIO_RESIDE',
 'ESTU_COD_RESIDE_MCPIO',
 'FAMI_ESTRATOVIVIENDA',
 'FAMI_PERSONASHOGAR',
 'FAMI_CUARTOSHOGAR',
 'FAMI_EDUCACIONPADRE',
 'FAMI_EDUCACIONMADRE',
 'FAMI_TRABAJOLABORPADRE',
 'FAMI_TRABAJOLABORMADRE',
 'FAMI_TIENEINTERNET',
 'FAMI_TIENESERVICIOTV',
 'FAMI_TIENECOMPUTADOR',
 'FAMI_TIENELAVADORA',
 'FAMI_TIENEHORNOMICROOGAS',
 'FAMI_TIENEAUTOMOVIL',
 'FAMI_TIENEMOTOCICLETA',
 'FAMI_TIENECONSOLAVIDEOJUEGOS',
 'FAMI_NUMLIBROS',
 'FAMI_COMELECHEDERIVADOS',
 'FAMI_COMECARNEPESCADOHUEVO',
 'FAMI_COMECEREALFRUTOSLEGUMBRE',
 'FAMI_SITUACIONECONOMICA',
 'ESTU_DEDICACIONLECTURADIARIA',
 'ESTU_DEDICACIONINTERNET',
 'ESTU_HORASSEMANATRABAJA',
 'ESTU_TIPOREMUNERACION',
 'COLE_CODIGO_ICFES',
 'COLE_COD_DANE_ESTABLECIMIENTO',
 'COLE_NOMBRE_ESTABLECIMIENTO',
 'COLE_GENERO',
 'COLE_NATURALEZA',
 'COLE_CALENDARIO',
 'COLE_BILINGUE',
 'COLE_CARACTER',
 'COLE_COD_DANE_SEDE',
 'COLE_NOMBRE_SEDE',
 'COLE_SEDE_PRINCIPAL',
 'COLE_AREA_UBICACION',
 'COLE_JORNADA',
 'COLE_COD_MCPIO_UBICACION',
 'COLE_MCPIO_UBICACION',
 'COLE_COD_DEPTO_UBICACION',
 'COLE_DEPTO_UBICACION',
 'ESTU_PRIVADO_LIBERTAD',
 'ESTU_COD_MCPIO_PRESENTACION',
 'ESTU_MCPIO_PRESENTACION',
 'ESTU_DEPTO_PRESENTACION',
 'ESTU_COD_DEPTO_PRESENTACION',
 'PUNT_LECTURA_CRITICA',
 'PERCENTIL_LECTURA_CRITICA',
 'DESEMP_LECTURA_CRITICA',
 'PUNT_MATEMATICAS',
 'PERCENTIL_MATEMATICAS',
 'DESEMP_MATEMATICAS',
 'PUNT_C_NATURALES',
 'PERCENTIL_C_NATURALES',
 'DESEMP_C_NATURALES',
 'PUNT_SOCIALES_CIUDADANAS',
 'PERCENTIL_SOCIALES_CIUDADANAS',
 'DESEMP_SOCIALES_CIUDADANAS',
 'PUNT_INGLES',
 'PERCENTIL_INGLES',
 'DESEMP_INGLES',
 'PUNT_GLOBAL',
 'PERCENTIL_GLOBAL',
 'ESTU_INSE_INDIVIDUAL',
 'ESTU_NSE_INDIVIDUAL',
 'ESTU_NSE_ESTABLECIMIENTO',
 'ESTU_ESTADOINVESTIGACION',
 'ESTU_GENERACION-E']

In [122]:
columnasPuntos20191 = [
 'COLE_COD_DANE_ESTABLECIMIENTO',
 'COLE_NOMBRE_ESTABLECIMIENTO',
 'PUNT_LECTURA_CRITICA',
 'PUNT_MATEMATICAS',
 'PUNT_C_NATURALES',
 'PUNT_SOCIALES_CIUDADANAS',
 'PUNT_INGLES']

In [123]:
df1 = df1.select(columnasPuntos20191)

In [124]:
cols = df1.columns
cols.remove('COLE_COD_DANE_ESTABLECIMIENTO')
cols.remove('COLE_NOMBRE_ESTABLECIMIENTO')
cols

['PUNT_LECTURA_CRITICA',
 'PUNT_MATEMATICAS',
 'PUNT_C_NATURALES',
 'PUNT_SOCIALES_CIUDADANAS',
 'PUNT_INGLES']

In [125]:
for cp in cols:
    df1 = df1.withColumn(cp, regexp_replace(cp, ',', '.'))
    df1 = df1.withColumn(cp, df1[cp].cast("float"))
    df1 = df1.na.fill({cp:0})

In [126]:
df1 = df1.withColumn('COLE_COD_DANE_ESTABLECIMIENTO', df1['COLE_COD_DANE_ESTABLECIMIENTO'].cast("string"))

In [127]:
print("Numero de filas primero semestre ", df1.count())

Numero de filas primero semestre  21083

In [128]:
print(df1.printSchema())

root
 |-- COLE_COD_DANE_ESTABLECIMIENTO: string (nullable = true)
 |-- COLE_NOMBRE_ESTABLECIMIENTO: string (nullable = true)
 |-- PUNT_LECTURA_CRITICA: float (nullable = false)
 |-- PUNT_MATEMATICAS: float (nullable = false)
 |-- PUNT_C_NATURALES: float (nullable = false)
 |-- PUNT_SOCIALES_CIUDADANAS: float (nullable = false)
 |-- PUNT_INGLES: float (nullable = false)

None

In [129]:
# Contando el numero de estudiantes por instituciòn y mostrandola de forma descendente
dsCountEst1 = df1.groupBy('COLE_COD_DANE_ESTABLECIMIENTO').count().orderBy('count',ascending=
False)
dsCountEst1.show(10)

+-----------------------------+-----+
|COLE_COD_DANE_ESTABLECIMIENTO|count|
+-----------------------------+-----+
|                 305001022682|  226|
|                 311001105863|  226|
|                 305001017361|  195|
|                 105088002918|  168|
|                 376001007670|  166|
|                 376001028219|  157|
|                 376001026925|  155|
|                 376001000314|  150|
|                 305001022631|  136|
|                 311848001011|  131|
+-----------------------------+-----+
only showing top 10 rows

In [130]:
dsCountEst1 = dsCountEst1.withColumnRenamed("count","num_est")
dsCountEst1.show(10,False)
# Numero de estudiantes por instituciòn primer semestre

+-----------------------------+-------+
|COLE_COD_DANE_ESTABLECIMIENTO|num_est|
+-----------------------------+-------+
|311001105863                 |226    |
|305001022682                 |226    |
|305001017361                 |195    |
|105088002918                 |168    |
|376001007670                 |166    |
|376001028219                 |157    |
|376001026925                 |155    |
|376001000314                 |150    |
|305001022631                 |136    |
|311848001011                 |131    |
+-----------------------------+-------+
only showing top 10 rows

In [131]:
dsCountEst1.count()

796

In [132]:
#Se crea una columna con el total de los puntajes 

df1= df1.withColumn("Suma",df1['PUNT_LECTURA_CRITICA']+df1['PUNT_MATEMATICAS']+df1['PUNT_C_NATURALES']+
                    df1['PUNT_SOCIALES_CIUDADANAS']+df1['PUNT_INGLES'])

## Resultados finales por instituciòn 1er semestre

In [133]:
# Còdigo para obtener la media de los resultados de las evaluaciones de todos los estudiantes por instituciòn 
# y posiciòn en orden descendente.
from pyspark.sql.functions import *
from pyspark.sql.window import Window


df1 = df1.groupBy('COLE_COD_DANE_ESTABLECIMIENTO','COLE_NOMBRE_ESTABLECIMIENTO').mean()
df1 = df1.withColumn("rank", dense_rank().over(Window.orderBy(desc("avg(Suma)"))))
df1 = df1.orderBy('rank',ascending= True)

In [134]:
dfjoin = df1.join(dsCountEst1,"COLE_COD_DANE_ESTABLECIMIENTO")
dfjoin = dfjoin.withColumn("Media",round(dfjoin['avg(Suma)'],2))

In [135]:
dfjoin.printSchema()

root
 |-- COLE_COD_DANE_ESTABLECIMIENTO: string (nullable = true)
 |-- COLE_NOMBRE_ESTABLECIMIENTO: string (nullable = true)
 |-- avg(PUNT_LECTURA_CRITICA): double (nullable = true)
 |-- avg(PUNT_MATEMATICAS): double (nullable = true)
 |-- avg(PUNT_C_NATURALES): double (nullable = true)
 |-- avg(PUNT_SOCIALES_CIUDADANAS): double (nullable = true)
 |-- avg(PUNT_INGLES): double (nullable = true)
 |-- avg(Suma): double (nullable = true)
 |-- rank: integer (nullable = true)
 |-- num_est: long (nullable = false)
 |-- Media: double (nullable = true)

In [136]:
dfjoin.select('COLE_COD_DANE_ESTABLECIMIENTO','COLE_NOMBRE_ESTABLECIMIENTO','Media','rank','num_est').show(10)

+-----------------------------+---------------------------+------+----+-------+
|COLE_COD_DANE_ESTABLECIMIENTO|COLE_NOMBRE_ESTABLECIMIENTO| Media|rank|num_est|
+-----------------------------+---------------------------+------+----+-------+
|                 376001013441|       COLEGIO BILINGUE ...|403.63|   1|     56|
|                 368001000516|        COL NUEVO CAMBRIDGE|400.69|   2|     51|
|                 368276000826|       COL LA QUINTA DEL...| 397.5|   3|     14|
|                 311848002424|       COL SAN CARLOS   ...|382.06|   4|     88|
|                 311769000165|       COL SAN JORGE DE ...|381.86|   5|     71|
|                 311769003342|            COL LOS NOGALES|380.51|   6|     55|
|                 311001105375|       COL  MONTESSORI B...|377.91|   7|     35|
|                 425758800009|       COL CAMPOALEGRE LTDA|375.68|   8|     19|
|                 311769004292|       COL SAN MATEO APO...|375.48|   9|     44|
|                 311001105707|              COL CALATRAVA| 375.4|  10|     10|
+-----------------------------+---------------------------+------+----+-------+
only showing top 10 rows